@font-face {
  font-family: "HattoriHanzo-Light";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/HattoriHanzo-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/HattoriHanzo-Light.woff") format("woff"), url("../fonts/HattoriHanzo-Light.ttf") format("truetype"); }
