body {
  position: relative;
  font-family: "Arial",sans-serif;
  font-size: 14px;
  color: #000;
  min-height: 100%;
  padding-bottom: 140px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision; }

p {
  margin-top: 1.5em; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

a {
  display: inline-block;
  color: #da0000;
  text-decoration: none;
  border-bottom: 1px solid #da0000;
  cursor: pointer;
  outline: none; }
  a:hover {
    text-decoration: none;
    color: #da0000;
    border-bottom: 1px solid transparent; }

.clearfix {
  clear: both; }

/*Main Page*/
.logo {
  font-family: "HattoriHanzo-Light", sans-serif;
  display: block;
  margin: 45px 215px 4px;
  color: #000;
  font-size: 6.9em;
  border-bottom: none; }
  .logo:hover, .logo:active, .logo:focus {
    color: #000;
    border-bottom: none; }

.mnu {
  text-align: center;
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.mnu-photographer {
  background: #666;
  width: 245px;
  height: 245px;
  margin: 51px 0 0 152px; }
  .mnu-photographer:hover .mnu-photographer-nav {
    opacity: 1; }
  .mnu-photographer:hover .mnu-photographer-title {
    opacity: 0; }

.mnu-photographer-title,
.mnu-curator-title {
  display: block;
  font-size: 2.4em;
  color: #fff;
  padding-top: 100px;
  opacity: 1; }

.mnu-photographer-nav {
  display: block;
  padding: 11px 0;
  margin: -142px 0 0 0;
  opacity: 0;
  -webkit-transition: .8s;
  -o-transition: .8s;
  transition: .8s;
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.mnu-photographer_item {
  margin: 7px 0; }

.link {
  display: block;
  color: #fff;
  font-size: 1.7em;
  text-decoration: none;
  border-bottom: 1px solid transparent; }
  .link:hover {
    color: #fff; }

.mnu-curator {
  display: block;
  width: 304px;
  height: 304px;
  background: url("../img/menu_bg.jpg") 0 0 no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  margin: 22px 0px 0 -44px; }
  .mnu-curator:hover .mnu-curator-nav {
    opacity: 1; }
  .mnu-curator:hover .mnu-curator-title {
    opacity: 0; }

.mnu-curator-nav {
  display: block;
  width: 304px;
  height: 304px;
  padding-top: 50px;
  background: #da0000;
  opacity: 0;
  -webkit-transition: .8s;
  -o-transition: .8s;
  transition: .8s;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin: -175px 0 0 0; }

.mnu-curator-title {
  padding-top: 126px; }

.info-block {
  font-size: 18px;
  font-weight: 600;
  margin: 37px 0 0 0;
  padding: 0 123px;
  word-wrap: break-word;
  text-align: center;
  letter-spacing: -0.5px; }

.main-content {
  margin: 34px 0 0 0;
  background: #f0f0f0; }

.main-content_content-block {
  padding: 22px 149px;
  text-align: justify;
  line-height: 1.4; }

.footer-block {
  padding: 24px 0 140px 0;
  text-align: center; }

.footer-phone,
.lang-switch,
.footer-email {
  display: inline-block;
  font-size: 1.1em;
  line-height: 1.4;
  letter-spacing: 0.5px; }

.lang-switch {
  font-size: 2em;
  margin: 0 50px; }

.lang-switch_link {
  margin: 0 11px;
  border-bottom: 1px solid transparent;
  color: #000;
  line-height: 1.2; }
  .lang-switch_link:hover {
    color: #000;
    border-bottom: 1px solid #000; }

/*End Main Page*/
/*Inner Page*/
.wrap-header {
  background: #da0000; }

.wrap-header_block {
  margin: 0 -25px; }

.logo-inner {
  font-family: "HattoriHanzo-Light", sans-serif;
  font-size: 43px;
  color: #fff;
  display: inline-block;
  margin: 12px 0 0 -2px;
  letter-spacing: 0.7px; }
  .logo-inner:hover {
    color: #fff;
    border-bottom: 1px solid transparent; }

.wrap-header_block_curator {
  display: inline-block;
  color: #fff;
  font-size: 1.3em;
  margin: -4px 0 0 13px;
  vertical-align: middle; }

.contacts-inner {
  margin: 23px 0 0 85px; }

.header-phone,
.header-email,
.header-lang-switch {
  display: inline-block;
  font-size: 1.1em;
  color: #fff;
  line-height: 1.2; }

.header-email {
  margin-left: 12px; }

.header-lang-switch {
  margin-left: 21px; }
  .header-lang-switch span {
    display: inline-block;
    margin-left: 7px; }

.header-lang-switch_link {
  color: #fff;
  font-size: 1.2em;
  margin-left: 7px; }
  .header-lang-switch_link:hover {
    color: #fff;
    border-bottom: 1px solid #fff; }

.menu-inner {
  margin: 6px -9px 0;
  letter-spacing: -0.1px; }

.menu-inner_list_item {
  display: inline-block;
  padding-right: 28px; }
  .menu-inner_list_item:last-child {
    padding-right: 20px; }

.menu-inner_list_item_link {
  display: block;
  font-size: 1.1em;
  line-height: 1.5;
  padding: 6px 10px 10px; }
  .menu-inner_list_item_link.active, .menu-inner_list_item_link:focus {
    background: #fff;
    color: #000;
    text-decoration: none; }

.search-group {
  background: #fff;
  border: 1px solid #a38181;
  -webkit-border-radius: 16px;
          border-radius: 16px;
  width: 144px;
  margin: 9px 49px 0; }

.search-icon,
.search-input,
.search-button {
  display: inline-block;
  border: none; }

.search-input {
  width: 93px;
  height: 20px; }
  .search-input:focus {
    outline: none; }

.fa {
  color: #a38181; }

.search-icon {
  margin-top: -6px;
  vertical-align: middle; }
  .search-icon .fa {
    font-size: 0.9em;
    padding: 7px 3px 0 9px; }

.search-button {
  background: transparent;
  padding: 0; }
  .search-button .fa {
    vertical-align: middle;
    font-size: 1.4em; }

.content-inner {
  padding: 0 25px; }

h1 {
  font-size: 2.3em;
  color: #da0000;
  line-height: 1.3;
  padding: 18px 0; }

.title-wrap {
  border-bottom: 1px dashed #9CAFC4; }

.wrap-list-block {
  padding: 0;
  width: 22%;
  margin-top: -9px; }

.wrap-list-container {
  height: 433px;
  overflow: hidden;
  position: relative; }

.list-block {
  position: absolute;
  top: 0;
  left: 0;
  width: -webkit-calc(100% + 30px);
  width: calc(100% + 30px);
  height: 100%;
  overflow-y: scroll; }
  .list-block::-webkit-scrollbar {
    width: 0 !important; }

.list-block_item {
  display: block; }

.list-block_item_link {
  padding: 12px 20px;
  line-height: 0.9;
  display: block;
  border-bottom: none; }
  .list-block_item_link:hover, .list-block_item_link.active, .list-block_item_link:focus {
    background: #ccc;
    border-bottom: none;
    text-decoration: none;
    color: #da0000; }
  .list-block_item_link span {
    border-bottom: 1px solid #da0000; }

.wrap-item-photo {
  padding: 0;
  width: 78%;
  margin-top: -9px; }

.item-photo {
  border: 10px solid #ccc;
  overflow: hidden;
  background: #ccc; }

.navigation {
  margin: 10px 0 0 19px; }

.next,
.prev {
  display: inline-block; }
  .next .fa,
  .prev .fa {
    color: #fff;
    font-size: 28px;
    padding: 1px 6px;
    background: #ccc;
    margin-right: 9px; }

.description-photo {
  margin: 23px 0 0 0; }

.about {
  padding: 15px 0 0 0; }

.about_photo {
  margin: 4px 0 0 18px;
  width: 140px;
  height: 205px; }
  .about_photo img {
    width: 100%; }

.about_title {
  margin: 0;
  color: #da0000;
  font-size: 1.3em; }

.about_content {
  padding: 0 0 0 39px; }

.about_years {
  margin-top: 0.7em; }

.about_txt {
  text-align: justify;
  line-height: 1.4; }

.main-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px; }

.copyright {
  font-size: 0.7em;
  text-align: right;
  padding: 125px 0 0 0; }

/*End Inner Page*/
/*Curator Page*/
.content-inner_txt {
  margin: 29px 0 0 0; }
  .content-inner_txt p {
    text-align: justify; }

.content-inner_txt_title {
  color: #cc0000;
  font-size: 2em;
  font-weight: normal;
  line-height: 1.2; }

.content-inner_txt img:nth-child(odd) {
  float: right;
  margin: 9px 0 44px 57px; }

.content-inner_txt img:nth-child(even) {
  float: left;
  margin: 9px 57px 44px 0; }

.fa-file-pdf-o {
  font-size: 30px;
  color: #dc0f0f; }

.download a {
  color: #000;
  border-bottom: 1px solid #000;
  margin: 0 0 0 10px; }

/*End Curator Page*/
