body {
	behavior:url(csshover.htc);
	
} 
/* 3pxFloatBug */
* html  #container {
	overflow: visible;
	height: 600px
}
* html  #content {
	height: 100%;
	margin-left: -3px;
}
* html  #column {
	margin-left: 0px;
	height:1%;
}
* html .logo_bg{
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/logo_bg.png');
}
* html .logo-small-bg{
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/logo_small_bg.png');
}
* html h1, * html li {
	zoom: 1
}
* html li {
	overflow: visible;
}
* html .border-right, * html .border-left, * html  .bot-page  {
	zoom: 1
}