*{
	
	margin: 0px;
	padding: 0px;
}
html{
	font-size: 75%;
}
body{
	font-size: 12px;
	font-family: Tahoma, sans-serif;
	color: #666;
	background: #4a8f34 url(img/bg.jpg) 0 0 repeat-x;
	padding-bottom: 50px;
}
a:hover{
	text-decoration:none;
}
img{
	border:0;
}
ul{
	list-style: none;
}
/* Structure */

#header{
	height: 80px;
	margin: auto;
	background: url(img/ne.jpg) top right no-repeat;
	position: relative; 
}
 footer{
	width: 848px;
	margin: auto;
	height: 153px;
	position: relative;
	background: url(img/se.jpg) bottom right no-repeat; 
 }
 
 #container{
	 width: 910px;
	 margin: auto;
	 position: relative;
	 background: #fff url(img/col_bot.gif) bottom left no-repeat;
	 overflow: hidden;

 }
 #content{
	 background: #fff url(img/cont_bot.gif) left bottom no-repeat;
	 min-height: 600px;
	 padding-top: 108px;
	 padding-bottom: 20px;
	 
 }
 .main-page #container{
	 background: #fff url(img/sw.jpg) left bottom no-repeat;
	 width: 848px;
	 overflow: visible;
	 margin:50px auto 0px auto
 }
 .content{
	 background: #fff;
	 line-height: 15px;
	 margin: 0 43px 0 27px;
	 border-top: 1px solid #ccc;
	 border-bottom: 1px solid #ccc;
	 margin-bottom: 15px;
	 padding: 15px 20px 20px 30px;
	  
 }
 .wrap{
	 position: relative;
	 overflow: hidden
 }
 
 /* End of structure */
 
 /* Header */
 
 .logo{
	 position: absolute;
	 top = -5px;
	 left: 25px;
	 z-index: 999;
 }
 .address{
	 position: absolute;
	 font-size: 0.91em;
	 /*font-size: 11 px; */
	 width: 178px;
	 top: 50px;
	 left: 312px;
 }
 
 .main-page .address{
	 top: 25px;
	 left: 645px;
 }
 .top-menu{
	 position: absolute;
	 top: 10px;
	 right: 10px;
	 color: #48689c;
 }
 .main-page .top-menu{
	 top: -25px;
	 right: 20px;
	 color: #fff;
 }
 .top-menu a{
	 color: #48689c;
	 text-decoration: none;
 }
 .main-page .top-menu a{
	 color: #fff;
 }
 .top-menu li{
	 float: left;
	 padding: 0px 5px 0px 0px;
 }
 .logo_bg{
	 width: 395px;
	 height: 128px;
	 position: absolute;
	 top:  -46px;
	 left:  -6px;
	 background: url(img/logo_bg.png) 0 0 no-repeat;	 
 }
 .search{
	 width: 345px;
	 height:  47px;
	 background: #e7e7e7 url(img/search_corners_left.gif) 0 0 no-repeat;
	 position: absolute;
	 top: 42px;
	 left: 536px
 }
 .main-page .search{
	 top: 20px;
	 left:  408px;
	 width: 206px;
 }
 .search p{
	 margin-bottom: 0px !important;
	 width: 320px;
	 height: 47px;
	 background: url(img/search_corners_right.gif) right top no-repeat;
	 padding: 0px 0px 0px 25px;
	 line-height: 47px;	 
 }
 .main-page .search p{
	 width: 191px;
	 padding: 0px 0px 0px 15px;
 }
 .search input{
	 width: 186px;
	 height: 18px;
	 margin:15px 20px 0px 20px;
	 border: 1px solid #ccc;
	 vertical-align: top;
	 float: left;
 }
 .main-page .search input{
	 width: 95px;
	 margin: 15px 5px 0px 5px;
 }
 .search label{
	 color: #3fb13f;
	 float: left;
 }
 .search img{
	 padding-top: 12px;
	 vertical-align: top;
	 cursor: pointer;
	 float: left;
 }
 .search p span{
	 display:block;
	 float:left;
	 vertical-align: top;
 }
 
 /* End of Header*/
 
 /* Main menu */
 .main_menu{
	 height: 29px;
	 font-weight: normal;
	 background: url(img/menu_bg.jpg) 0 0 repeat-x;
	 position: relative;
	 padding-left: 40px;
 }
 .main_menu ul{
	 display: block;
	 height: 29px;
	 width: 808px !important;
	 margin: 0px auto 0px auto !important;
 }
 .main_menu a{
	 color: #fff;
	 text-decoration: none;
	 font-weight: bold;
	 font-size: 1.167em;
	 /*font-size: 14px;*/
	 line-height: 28px;
 }
  .main_menu li{
	  float: left;
	  padding: 0px 14px 0px 17px;
	  background: url(img/ico.gif) 0 9px no-repeat;
  }
  /* end of Main menu */
  
  /*Content*/
  h1{
	  color: #1e3c94;
	  font-size: 1.5em;
	  /*font-size = 18px;*/
	  line-height: 18px;
	  padding-left: 25px;
	  margin-bottom: 15px;
	  background: url(img/ico_title.gif) 0 3px no-repeat;
	  font-weight: normal;
  }
  /* end of Content*/
  
  .blocks{
	  float: left;
	  margin: 25px 0px 0px 0px;
	  width: 351px;
	  padding-left: 50px;
	  position: relative;
	  
  }
  .blue-block{
	  background: url(img/blue_bg.jpg) 0 0 no-repeat;
	  width: 363px;
	  height: 118px;
  }
  .green-block{
	  background: url(img/green_bg.jpg) 0 0 no-repeat;
	  width: 363px;
	  height: 174px; 
	  margin-top: 3px;
  }
  .green-block hr{
	  display: block;
	  height: 1px;
	  line-height: 1px;
	  width: 313px;
	  background: #fff;
	  color: #fff;
	  border: none;
	  padding: 0;
	  margin: 0;
	  position: absolute;
	  left: 65px;
	  top: 183px;	  
  }
  .services{
	  width: 205px;
	  height: 83px;
	  position: absolute;
	  left: 70px;
	  top:9px;	 
  }
  .services span{
	  background: url(img/services.jpg) 0 0 no-repeat;
	  width: 205px;
	  height: 83px;
	  position: absolute;
	  left: 0;
	  top:0;	 	  
  }
  .energy{
	  width: 216px;
	  height: 41px;
	  position: absolute;
	  left: 70px;
	  top:130px;	
	  
  }
  .energy span{
	  width: 216px;
	  height: 41px;
	  position: absolute; top:0; left: 0;
	  background: url(img/energy.jpg) 0 0 no-repeat;
	  
  }
  .systems{
	  width: 181px;
	  height: 66px;
	  position: absolute;
	  top: 198px;
	  left: 70px;
  }
  .systems span{
	  width: 181px;
	  height: 66px;
	  position: absolute; top: 0; left: 0;
	  background: url(img/systems.jpg) 0 0 no-repeat;
  }
  .but1{
	  position: absolute;
	  top: 57px;
	  left: 320px;
	
  }
  .but2{
	  position: absolute;
	  top: 145px;
	  left: 320px;
	  
  }
   .but3{
	  position: absolute;
	  top: 230px;
	  left: 320px;	  
  }
  .news-block{
	  margin: 20px 0px 0px 463px;
	  font-size: 0.91em;
	  /*font-size:11px;*/
  }
  .news-title{
	  position: relative;
	  width: 333px;
	  height: 40px;	
  }
  .news-title span{
	  display: block;
	  position: absolute;
	  left: 0;
	  top: 0;
	  background: url(img/news_title.jpg) 0 0 no-repeat;
	  width: 333px;
	  height: 40px;
  }
  .news-block ul{
	  display: block;
	  width: 316px;
	  border-left: 1px solid #ccc;
	  border-right: 1px solid #ccc;
	  padding-left: 15px;	   
  }
  .news-block li{
	  border-bottom: 1px solid #ccc;
	  width: 301px;
	  padding:4px 0px 4px 0px;
	  margin-bottom: 3px;
	  list-style-position: inline;
	  overflow: hidden;	  
  }
  .news-block li p{
	  padding-left: 9px;
	  float: left;
	  width: 250px;

  }
  .news-block li a{
	color: #666;  
  }
  .news-block li a b{
	  color: #003399;
  }
  .news-block .image-link{
	float: left;
	display: block;  
  }
  .news-block img{
	  border: 1px solid #ccc;
	  line-height: 0 !important;
	  font-size: 0 !important
  }
 .archive{
	 border-bottom: none !important;
	 text-align: right;
	 margin: 0 !important;
	 padding: 0 !important;
 }
 .archive a{
	 color: #003399 !important;
 }
 .news_bot{
	 width: 333px;
	 height: 31px;
	 background: url(img/news_bot.jpg) 0 0 no-repeat;	 
 }
 
 /*Footer*/
 .info{
	 color: #003399;
	 text-align: right;
	 padding-right: 40px;
 }
 .info p , #bottom p{
	 margin-bottom: 10px;
	 font-size: 0.91em;
	 /* font-size: 11px; */
 }
 .buts{
	 overflow: hidden;
	 padding-left: 55px;
	 margin-bottom: 12px;
 }
 .quest{
	 float: left;
	 display: block;
	 margin-right: 70px;
	 display: inline;	 
 }