input[type="text"]{
	line-height: 2;
}

.blocks,
.blocks .v-menu li a{
	border: 1px solid #ccc;
	border-top: 0;
}

.blocks.search form input[type = "text"]{
	*width: 137px;
}
.blocks.search form button{
	*top: 7px;
}

.pagination{
	*margin-top: 20px;
	*display: inline;
}