*{
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100%;
}

html{
	list-style-type: none;

}
#wrap{
	min-height: 100%;
	min-width: 980px;
	position: relative;
}
body{
	background: #f5f5f5 url(img/bg.jpg) repeat;
	font: 14px/22px Arial, sans-serif;

}
a{
	color: #0083df;
}
a img{
	border: 0;
	outline: 0;
}

a:hover{
	text-decoration: none;
}
h1{
	font: 26px/26px Arial;
	margin-bottom: 20px;
}

h2{
	font: 22px/22px Arial;
	margin-bottom: 20px;
}

p{
	margin-bottom: 15px;
}
h1,h2{
	color: black;
}

/*Forms*/
input, button, textarea{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: inline-block;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	font-family: inherit;
}
input[type = "text"]{
	box-shadow: inset 0 2px 3px rgba(0,0,0,0.13);
	-webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,0.13);
	-moz-box-shadow: inset 0 2px 3px rgba(0,0,0,0.13);
	height: 30px;
	border: 1px solid #ccc;
	padding: 0 4px;
}
input[type = "text"]:focus{
	outline: none;
}
button{
	background-color: #ddd;
	background-image: linear-gradient(to bottom,#f5f5f5,#ddd);
	background-image: -moz-linear-gradient(top,#f5f5f5,#ddd);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from (#f5f5f5), to (#ddd));
	background-image: -webkit-linear-gradient(top,#f5f5f5,#ddd);
	background-image: -o-linear-gradient(top,#f5f5f5,#ddd);
	background-repeat: repeat-x;
	height: 25px;
	padding: 0 10px;
	box-shadow: 0 3px 3px rgba(0,0,0,0.13);
	-webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.13);
	-moz-box-shadow: 0 3px 3px rgba(0,0,0,0.13);
	font-size: 12px;
	cursor: pointer;
	border: 1px solid #c7c7c7;
}
button.green{
	background-color: #41b039;
	background-image: linear-gradient(to bottom,#4ecf44,#41b039);
	background-image: -moz-linear-gradient(top,#4ecf44,#41b039);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from (#4ecf44), to (#41b039));
	background-image: -webkit-linear-gradient(top,#4ecf44,#41b039);
	background-image: -o-linear-gradient(top,#4ecf44,#41b039);
	color: white;
	border: 0;

}
button:hover{
	background-position: 0 -25px;
}
.description{
	color: #999;
	font: 12px/12px Arial;

}
.content{
	margin: 0 30px;
}
.grey{
	color: #666666;
}
.green{
	color: #1d8b15;
}


header{
	height: 148px;
	background: #fff url(img/head_bg.jpg) left top no-repeat;
	position: relative;
	background-attachment: fixed;
	background-position: top left;
}
header .logo{

	margin-top: 51px;
	float: left;
}
header .contacts{

	margin-top: 25px;
	float: right;
	text-align: right;
}
header .contacts p{
font: bold 18px/14px Arial;
color: black;
}

header .contacts p .green {
	font-size: 14px;
	font-weight: normal;
}

header .contacts p .grey{
	font-size: 12px;
	font-weight: normal;
}


/* Main menu */

.main-menu {

	height: 44px;
	background: transparent url(img/nav.png) 0 0 repeat-x;
	clear: both;
}

.main-menu>ul{

	height: 40px;
}
.main-menu ul li{
	float: left;
	position: relative;
	border-right: 1px solid #444;
	list-style-type: none;
	}
.main-menu ul li a{
	display: block;
	position: relative;
	text-decoration: none;
	color: #fff;
	font-size: 1em;
	line-height: 14px;
	font-weight: bold;
	border-right: 1px solid #333;
	text-shadow: 0 1px 0 rgba(0,0,0,0.25);
	padding: 13px 25px;
}
.main-menu ul li:first-child a{
	padding-left: 30px;
}


.main-menu ul li a:hover,
.main-menu ul li.active a {
	background-color: #333;
	color: #77e070;
}

/*Выпадающий список*/

.main-menu ul li ul{
	width: 200px;
	background-color: #333;
	border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	position: absolute;
	top: 40px;
	overflow: hidden;
	display: none;

}
.main-menu ul li:hover ul{
	display: block;

}
.main-menu ul li ul li{
list-style-type: none;
}

.main-menu ul li ul li a{
	width: 200px;
	display: block;
	color: #c8c8c8;
	font-size: 12px;
	line-height: 12px;
	border-top: 1px solid #444;
	padding: 10px 25px;
}
.main-menu ul li ul li a:hover{
	background-color: #222;
}

/*Content*/
#content{
	clear: both;
	position: relative;
	padding: 0 29px 102px;
	margin-top: 30px;
	overflow: hidden;
}


/*Vertical block*/

aside{
	width: 220px;
	margin-right: 18px;
	float: left;
	padding: 3px 3px 4px;

}
.blocks{
	border-radius: 3px;
	-webkit-border-radius:3px;
	-moz-border-radius: 3px;
	box-shadow: 0 1px 5px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.25);
	background-color: white;
	margin-bottom: 20px;
}


.blocks .title{
	background-color: #41b039;
	border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	color: white;
	font: bold 16px/16px Arial;
	padding: 10px 10px 10px 35px;
	background-position: 10px center;
	background-repeat: no-repeat;
}
.blocks .contents{
	padding: 10px;
}

/*Busket*/
.blocks.busket>.title{
	background-image: url('img/busket.png');
}
.blocks.busket>.contents>p{
	margin-bottom: 0;
	line-height: 20px;
}
/*Search*/
.blocks.search .title{
	background-image: url('img/search.png');
}
.blocks.search form{
	position: relative;
}
.blocks.search form input[type = "text"]{
	width: 100%;
	padding-right: 64px;
	margin-bottom: 4px;
}
.blocks.search form button{
	position: absolute;
	right: 4px;
	top: 5px;
	height: 20px;
	font: 11px/11px;
	box-shadow: none;
}
p.description{
	margin-bottom: 0;
}

/*Category*/

.blocks .title{
	background-image: url('img/category_items.png');
}
.blocks .v-menu{
	list-style-type: none;

}
.blocks .v-menu li a{
	display: block;
	line-height: 14px;
	border-top: 1px solid #ccc;
	padding: 10px;
	text-decoration: none;

}

.blocks .v-menu li:first-child a{
	border-top: none;
	margin-top: 0;
}
.blocks .v-menu li a:hover,
.blocks .v-menu li.active a{
	background-color: #f8f8f8;
	color: #444;
}
.blocks .v-menu li:last-child a{
	border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
}
/*Catalog*/
#catalog{
	margin-top: 40px;
	overflow: hidden;
}
#catalog .item{
	width: 226px;
	float: left;
	background-color: white;
	border: 1px solid #ddd;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	text-align: center;
	margin:  0 20px 20px 0;
}
#catalog .item p,
#catalog .item div{
	overflow: hidden;
	margin: 10px;
}
#catalog .item .name{
	font: bold 14px/18px Arial;
	color: black;
	height: 35px;
}
#catalog .item .photo{
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid #c4c4c4;
	width: 155px;
	height: 137px;
	margin: 0 auto 10px;

}
#catalog .item .photo img{
	width: auto;
	height: 137px;
}

#catalog .item .desc{
	font: normal 12px/18px Arial;
	height: 55px;
}
#catalog .item .price{
	font: bold 18px/18px Arial;
	color: #298f24;
}
#catalog .item .button{
	margin-bottom: 0;
	overflow: visible;
}
/*Pagination*/
.pagination{
	clear: both;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	display: inline-block;


}
.pagination .disable{

	color: #999;
}
.pagination li a:hover,
.pagination li.active a{
	background-color: #41b039;
	color: white;
}
.pagination li {

	list-style-type: none;
	float: left;
}
.pagination li a,
.pagination .disable{
	display: block;
	vertical-align: middle;
	line-height: 30px;
	font-size: 12px;
	padding: 0 10px;
	text-decoration: none;
	border-right: 1px solid #ccc;

}
.pagination li:last-child a{
	border-right: none;
}
/*Footer*/
footer{
	width: 100%;
	height: 72px;
	line-height: 12px;
	background-color: white;
	border-top: 3px solid #ddd;
	position: absolute;
	bottom: 0;

}
footer .left{

	float: left;
	margin: 29px 0 0 30px;
	font-size: 12px;
}
footer .left span{

	padding-right: 97px;
}
footer .left a{
	text-decoration: none;
	font-weight: bold;
	padding: 0 17px;
}
footer .count{

	float: right;
	margin: 19px 30px 0 0;
}
