
@font-face{
font-family: 'HelveticaLTStd Roman';
src: url('HelveticaLTStd Roman.otf');
src: url('HelveticaLTStd Roman.otf') format('embedded-opentype');
font-weight:normal;
font-size:normal;
}

@font-face{
font-family: 'Segoe';
src: url('fonts/segoe-wp-semilight.ttf');
src: url('fonts/segoe-wp-semilight.ttf') format('truetype');
font-weight:normal;
font-size:normal;
}
@font-face{
font-family: 'Segoebold';
src: url('fonts/Segoe WP Semibold.ttf');
src: url('fonts/Segoe WP Semibold.ttf') format('truetype');
font-weight:bold;
font-size:normal;
}

h1 { font-family: 'Segoe', sans-serif; }
b{font-family: 'Segoebold', sans-serif; }


* {
	margin: 0;
	padding: 0;
}

html,
body {
	min-width: 320px;
	position: relative;
}

body {
	background-color: white;
	font-family: 'Segoe', sans-serif !important;
	font: 14px/14px Segoe, sans-serif;
}

#wrap {
	background-color: white;
	position: relative;
}
#content {
	clear: both;
	padding-bottom: 25px;
	overflow: hidden;
	width: 1024px;
	margin: 0 auto;
	padding: 0 12px;
}


ul{
	list-style-type: none;
}
a{
	text-decoration: none;
}
a img{
	border: 0;
	outline: 0;
}
a:hover{
	text-decoration: none;
}
button{
	cursor: pointer;
}


/*Header*/
header {
	height: 100%;
	max-width: 100%;
	background-color: rgba(0,0,0,0.08);
	background-image: linear-gradient(to bottom,rgba(255,255,255,0.08),rgba(0,0,0,0.08));
	background-image: -moz-linear-gradient(top,rgba(255,255,255,0.08),rgba(0,0,0,0.08));
	background-image: -webkit-gradient(linear, 0 0, 0 8%, from (#fff), to (#000));
	background-image: -webkit-linear-gradient(top,rgba(255,255,255,0.08),rgba(0,0,0,0.08));
	background-image: -o-linear-gradient(top,rgba(255,255,255,0.08),rgba(0,0,0,0.08));
	background-repeat: repeat-x;

}
.head{
	margin-bottom: 10px;
}
.logo{
	height: 5.286em;
	width: 9.714em;
	float: left;

}
header .search{
	width: 100%;
	margin: 10px 0;
	background-color: #79b260;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	overflow: hidden;

}
.form {
	width: 100%;
	background-color: #79b260;
	position: relative;
	border: 0;
}
input[type = "text"]{
	display: inline-block;
	width: 100%;
	height: 2.429em;
	position: relative;;
	float: left;
	padding: 0 10px;
	margin: 0.286em 0.5em 0 0em;
	border: 0;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}
input[type = "text"]:focus{
	outline: none;
}

.search .button{
	width: 100%
	position: relative;
	font: 1.643em/1.857em Segoe, sans-serif;
	/*font: 23px/26px Myriad Pro, sans-serif;*/
	color: white;
	background-color: #79b260;
	padding-left: 30px;
	border: none;
	background-image: url('img/search.png');
	background-position-y: 10px;
	background-repeat: no-repeat;
}
.cart{
	display: block;
	float: left;
	width: 80%;
	border-right: 1px solid #ccc;
	color: #6d6d6d;
	background-image: url('img/curt.png');
	background-repeat: no-repeat;
	padding: 0 0 0 20px;
	margin: 26px 0 0 30px;

}

.cart .cart_title{
	position: relative;
	display: block;
	float: left;
	font-size: 23px;
	line-height: 26px;
	margin-left: 12px;
	padding-right: 10px;
}
.cart .number{
	position: relative;
	display: block;
	float: left;
	margin-top: 7px;
	font-size: 13px;
}
.cart .under{
	position: relative;
	display: block;
	float: left;
	margin:20px 0 0 -10px;
}
.cart .amount{
	position: relative;
	display: block;
	float: left;
	font-size: 27px;
	line-height: 26px;
	float: left;
}
.cart .button{
	position: relative;
	display: block;
	float: left;
	margin-left: 8px;
}
.cart .button button{
	width: 84px;
	height: 29px;
	font-size: 15px;
	color: white;
	background-color: #242424;
	background-image: linear-gradient(to bottom,#424242,#242424);
	background-image: -moz-linear-gradient(top,#424242,#ddd);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from (#424242), to (#242424));
	background-image: -webkit-linear-gradient(top,#424242,#242424);
	background-image: -o-linear-gradient(top,#424242,#242424);
	background-repeat: repeat-x;
	border: 1px solid #232323;
	box-shadow: inset 2px 1px 0 rgba(118,118,118,0.75);
	-webkit-box-shadow: inset 2px 1px 0 rgba(118,118,118,0.75);
	-moz-box-shadow: inset 2px 1px 0 rgba(118,118,118,0.75);
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	cursor: pointer;
}
.wish-list{
	display: block;
	float: left;
	height: 70px;
	margin: 35px 0px 0px 10px;
}
.wish-list .star{
	display: block;
	padding: 0 0 0 25px;
}
.wish-list .desc{
	display: block;
	position: relative;
	font-size: 21px;
	line-height: 26px;
	color: #6d6d6d;
}
.wish-list .num{
	font-size: 13px;
	line-height: 13px;
	color: white;
	background-color: #79b260;
		border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	padding: 2px 8px;
	margin-left: 13px;
	position: absolute;
	top: 0;
	right: 0;
	margin-right: -17px;
	margin-top: -13px;
}

/*Content*/
nav.navbar{
	padding: 0;
}

.navbar-expand-lg .navbar-nav .nav-link,
.nav-link:hover,
.nav-link:focus {
	color: #f27937;
}

nav .nav-link {
	display: block;
	float: left;
	font-size: 1.3em;
	line-height: 0.9;
	color: #5b5b5b!important;
	padding: 12px 15px!important;
}
nav .nav-link:first-child{
	margin-left: 15px;
}

nav .nav-link:hover{
	color: #fff!important;
	background-color: #79b260;
	background-image: linear-gradient(to bottom,#92d774,#79b260);
	background-image: -moz-linear-gradient(top,#92d774,#79b260);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from (#92d774), to (#79b260));
	background-image: -webkit-linear-gradient(top,#92d774,#79b260);
	background-image: -o-linear-gradient(top,#92d774,#79b260);
	background-repeat: repeat-x;
}
header .navbar-toggler{
	margin: 5px 0;

}
header .navbar-toggler:active{
	text-decoration: none;
	-webkit-outline: none;
	-moz-outline: none;
	-o-outline: none;
}
nav .navbar-toggler-icon{

}
.container_slider{
	padding: 0 !important;
}
.slider{
	position: relative;
	margin-top: 20px;
}
.menu{
	width: 100%;
	display: block;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	background-color: white;
	text-align: left;

}
.overlay{
	position: absolute;
	padding: 5px;
  background-color: rgba(0,0,0,.8);
	width: 65%;
	height: 13%;
	background-size: 100% 100%;
    border-radius: 50% ;
     -moz-border-radius: 50% ;
     -webkit-border-radius: 50% ;
     -o-border-radius: 50% ;
    overflow: hidden;
}
 .slider .carousel-control-next-icon{
	 position: absolute;
	 top: 25%;
	 right:17%;
	 background-size: cover;
}
.slider .carousel-control-prev-icon{
	position: absolute;
	top: 25%;
	left:28%;
  background-size: cover;
}
.slider .carousel-control-next,
.slider .carousel-control-prev{
	width: 9%;
}
.banner1{
background-size: cover;
margin-right: 0;
}
.banner2{
	position: relative;
	float: left;
	background-size: cover;
}
.banner2 img{
		height: 319px;
}
.banner2 button{
	position: absolute;
	bottom: 0;
	right: calc(50% - 44px);
	margin-bottom: 2%;
	font-size: 1.3em;
	line-height: 0.9;
	color: white;
	text-shadow: 2px 1px 0 rgba(74,151,74,0.75);
	padding: 2.5% 4%;
	background-color: #51a451;
	background-image: linear-gradient(to bottom,#61c261,#51a451);
	background-image: -moz-linear-gradient(top,#61c261,#51a451);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from (#61c261), to (#51a451));
	background-image: -webkit-linear-gradient(top,#61c261,#51a451);
	background-image: -o-linear-gradient(top,#61c261,#51a451);
	background-repeat: repeat-x;
	border: 1px solid #52a452;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	cursor: pointer;
}
.v-menu {
	max-width: 100%;
	float: left;
	clear: both;
	border: 1px solid #ccc;
	margin-top: 15px;
	padding: 0 !important;
}
.v-menu ul li{
	display: block;
	width: 100%;
}


.v-menu ul .disable{
	font-size: 24px;
	line-height: 24px;
	color: #5b5b5b;
	margin: 12px 17px;
}
.v-menu a.title{
	font-size: 17px;
	line-height: 17px;
	border-bottom: 1px solid transparent;

}
.v-menu ul li{
	width: 100%;
	margin-top: -1px;
}
.v-menu ul li a{
	display: block;
	width: 80%;
	margin-left: 10%;
	font-size: 15px;
	line-height: 15px;
	color: #5b5b5b;
	padding: 8px 10px 8px 0px;
	text-decoration: none;
	border-bottom: 1px solid #ccc;
}
.v-menu a:hover,
.v-menu ul li.active a{
	color: white;
	background-color: #79b260;
	background-image: linear-gradient(to bottom,#92d774,#79b260);
	background-image: -moz-linear-gradient(top,#92d774,#79b260);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from (#92d774), to (#79b260));
	background-image: -webkit-linear-gradient(top,#92d774,#79b260);
	background-image: -o-linear-gradient(top,#92d774,#79b260);
	background-repeat: repeat-x;
	text-decoration: none;
	border-bottom: 1px solid transparent;
}
.v-menu ul li:hover,
.v-menu ul li.active{
	color: white;
	background-color: #79b260;
	background-image: linear-gradient(to bottom,#92d774,#79b260);
	background-image: -moz-linear-gradient(top,#92d774,#79b260);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from (#92d774), to (#79b260));
	background-image: -webkit-linear-gradient(top,#92d774,#79b260);
	background-image: -o-linear-gradient(top,#92d774,#79b260);
	background-repeat: repeat-x;
	text-decoration: none;
	margin-top: -1px;
}
.v-menu ul li:last-child a:last-child{
	border-bottom: 0;
}

.catalog_full.catalog{

	float: left;
	margin: 15px 0 0 8px;


}
.catalog_full .catalog1{
	display: block;
	border-left: 1px solid #ccc;
	border-bottom-color: #fff;
	float: left;
	position: absolute;
	z-index: 3;
}
 .catalog_full .catalog .catalog1 input{
	display: none;
	float: left;
	position: relative;

}
.catalog_full .catalog .catalog1 label{
	display: block;
	float: left;
	cursor: pointer;
	border: 1px solid #ccc;
	border-left: 1px solid white;
	background-color: #ededed;
	background-color: rgba(255,255,255,0.20);
	background-image: linear-gradient(to bottom,rgba(255,255,255,0.20),rgba(0,0,0,0.20));
	background-image: -moz-linear-gradient(top,rgba(255,255,255,0.20),rgba(0,0,0,0.20));
	background-image: -webkit-gradient(linear, 0 0, 0 20%, from (#fff), to (#000));
	background-image: -webkit-linear-gradient(top,rgba(255,255,255,0.20),rgba(0,0,0,0.20));
	background-image: -o-linear-gradient(top,rgba(255,255,255,0.20),rgba(0,0,0,0.20));
	background-repeat: repeat-x;
	font-family: HelveticaLTStd Roman;
	font-size: 16px;
	line-height: 16px;
	color: #6b6969;
	padding: 13px 22px 10px 22px;
	text-shadow: 2px 1px 0 #fff;
}
.catalog_full .catalog .catalog1 label:hover{
	font-family: HelveticaLTStd Roman;
	background: white;
	color: #464646;
}


 .catalog_full .catalog .catalog1 input:checked+label{
	font-family: HelveticaLTStd Roman;
	background: white;
	color: #464646;
	border-bottom-color: #fff;
}
.catalog_full .tab{
	position: relative;
	float: left;
	width: 100%;
	height: auto;
	margin-top: 40px;
	background-color: white;
	border: 1px solid #d8dce0;
	padding: 17px 17px 0 17px;
	overflow: hidden;
	z-index: 1;
}




/*Main-menu*/

/*Banners*/



/*Vertical menu*/
.v-menu {
	width: 188px;
	height: auto;
	min-height: 865px;
	float: left;
	clear: both;
	border: 1px solid #ccc;
	margin-top: 15px;
}
.v-menu ul li{
	display: block;
}


.v-menu ul li.disable{
	font-size: 24px;
	line-height: 24px;
	color: #5b5b5b;
	margin: 12px 17px;
}
.v-menu ul li.title{
	font-size: 17px;
	line-height: 17px;
	border-bottom: 0;

}

.v-menu hr{
	width: 138px;
	height: 1px;
	margin-bottom: -2px;
	border: 0 none;
	background-color: #ccc;
	margin-left: 25px;
}
.v-menu hr>hr{
	width: 138px;
	height: 1px;
	margin-bottom: 1px;
	border: 0 none;
	background-color: #ccc;
	margin-left: 25px;
}

.v-menu a:hover,
.v-menu ul li.active a{
	color: white;
	background-color: #79b260;
	background-image: linear-gradient(to bottom,#92d774,#79b260);
	background-image: -moz-linear-gradient(top,#92d774,#79b260);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from (#92d774), to (#79b260));
	background-image: -webkit-linear-gradient(top,#92d774,#79b260);
	background-image: -o-linear-gradient(top,#92d774,#79b260);
	background-repeat: repeat-x;

}
/*Catalog
.catalog{
	display: block;
	overflow: hidden;
	float: left;
	margin: 15px 0 0 8px;
}
.catalog ul li{
	display: inline-block;
	float: left;
	border: 1px solid #ccc;
	background-color: #ededed;
	background-color: rgba(255,255,255,0.20);
	background-image: linear-gradient(to bottom,rgba(255,255,255,0.20),rgba(0,0,0,0.20));
	background-image: -moz-linear-gradient(top,rgba(255,255,255,0.20),rgba(0,0,0,0.20));
	background-image: -webkit-gradient(linear, 0 0, 0 20%, from (#fff), to (#000));
	background-image: -webkit-linear-gradient(top,rgba(255,255,255,0.20),rgba(0,0,0,0.20));
	background-image: -o-linear-gradient(top,rgba(255,255,255,0.20),rgba(0,0,0,0.20));
	background-repeat: repeat-x;
}
.catalog ul li a{
	display: block;
	float: left;
	border-left: 1px solid white;
	font-size: 16px;
	line-height: 16px;
	color: #6b6969;
	padding: 13px 22px;
	text-shadow: 2px 1px 0 #fff;
}
 .catalog ul li:first-child{
	background: white;
	color: #464646;
	border-bottom-color: white;
	z-index: 999;
}
.catalog ul li a:hover,
.catalog ul li:active{
	background-color: white;
	color: #464646;
	border-bottom-color: white;
}


/*Tab
.tab{
	clear: both;
	width: 800px;
	margin-top: 40px;
	background-color: white;
	border: 1px solid #d8dce0;

}
 .item{

 	padding: 22px 22px 22px 0;
}
*/
.catalog{

	float: left;
	margin: 15px 0 0 8px;


}
.catalog1{
	display: block;
	border-left: 1px solid #ccc;
	border-bottom-color: #fff;
	float: left;
	position: absolute;
	z-index: 3;
}
 .catalog .catalog1 input{
	display: none;
	float: left;
	position: relative;

}
.catalog .catalog1 label{
	display: block;
	float: left;
	cursor: pointer;
	border: 1px solid #ccc;
	border-left: 1px solid white;
	background-color: #ededed;
	background-color: rgba(255,255,255,0.20);
	background-image: linear-gradient(to bottom,rgba(255,255,255,0.20),rgba(0,0,0,0.20));
	background-image: -moz-linear-gradient(top,rgba(255,255,255,0.20),rgba(0,0,0,0.20));
	background-image: -webkit-gradient(linear, 0 0, 0 20%, from (#fff), to (#000));
	background-image: -webkit-linear-gradient(top,rgba(255,255,255,0.20),rgba(0,0,0,0.20));
	background-image: -o-linear-gradient(top,rgba(255,255,255,0.20),rgba(0,0,0,0.20));
	background-repeat: repeat-x;
	font-family: HelveticaLTStd Roman;
	font-size: 16px;
	line-height: 16px;
	color: #6b6969;
	padding: 13px 22px 10px 22px;
	text-shadow: 2px 1px 0 #fff;
}
.catalog .catalog1 label:hover{
	font-family: HelveticaLTStd Roman;
	background: white;
	color: #464646;
}


 .catalog .catalog1 input:checked+label{
	font-family: HelveticaLTStd Roman;
	background: white;
	color: #464646;
	border-bottom-color: #fff;
}

.tab .item{
	width: 107px;
	float: left;
	text-align: center;
	margin-top: 10px;
}
.tab .item-align{
	margin: 0 10px 5px 10px;
}
.tab-content .item-align:last-child .item:last-child{
	margin-bottom: 40px;
}
.tab .item .sale{
	display: block;
	color: white;
	font-size: 19px;
	line-height: 19px;
	position: absolute;
	background-color: #f05356;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius:50%;
	padding: 10px;
	top: 0;
	right: 0;
	margin-top: 0px;
	margin-right: -15px;
}
.tab .item .sale span{
	display: block;
	font-family: Segoebold;
	margin-bottom: -4px;
}
.tab .item .sale p{
	font-size: 13px;
	line-height: 19px;
	color: white;
	margin: -2px;
	margin-top: 2px;
}


.tab .item img{
	display: block;
	position: relative;
	float: left;
	border: 5px solid white;
	box-shadow: 0 0 16px rgba(0,0,0,0.13);
	-webkit-box-shadow:  0 0 16px rgba(0,0,0,0.13);
	-moz-box-shadow: 0 0 16px rgba(0,0,0,0.13);
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	margin: 10px 0;
}


.tab .item p{
	font-size: 15px;
	line-height: 1;
	color: #646464;
	margin-bottom: 10px;
}
.tab .item p+p{
	display: block;
	font-family: HelveticaLTStd Roman;
	font-size: 21px;
	color: #f05356;
	margin-bottom: 0;
}
.description{
	position: relative;
	float: left;
	display: block;
	width: inherit;
}
/*Pagination*/
.pagination{
	height: 30px;
	clear: both;
	float: right;
	position: absolute;
	bottom: 0;
	right: 0;
	margin-right: 48px;
}
.pagination a{
	display: inline-block;
	position: relative;
	padding: 8px 8px 2px 8px;
	font-size: 15px;
	line-height: 15px;
	color: #646464;
	border-right: 1px solid white;
	border-left: 1px solid white;
	border-top: 1px solid white;
	border-bottom: 4px solid white;
}
.pagination a:hover,
.pagination a:active{
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-bottom: 4px solid #81bd66;
	color: #646464;
	text-decoration: none;
}


/*Footer*/
footer {
	clear: both;
	position: relative;
	margin-bottom: 0;
	width: 100%;

}
footer .menu-bottom{
	position: relative;
	float: left;
	width: 100%;
	background:#454647 url('img/bg_bottom.jpg') 0 0 repeat;
	margin-top: 25px;
}
footer .menu-bottom .col{
	display: block;
	float: left;
	margin: 23px 0 30px 0;
}
footer .menu-bottom .col p{
	font-size: 19px;
	line-height: 20px;
	color: #ddd;
	padding: 0 0 15px 0;
}
footer .menu-bottom .col-md-3{
	padding: 0;
}
footer .menu-bottom .col li{
	display: block;
	padding: 7px 0px;
	border: none;
}
footer .menu-bottom .col hr{
	height: 1px;
	width: 172px;
	background-color: rgba(255,255,255,0.11);
	border:0 none;
	margin: 0;
}
footer .menu-bottom .col a{
	display: block;
	font-size: 13px;
	line-height: 13px;
	color: #ddd;
}
footer .menu-bottom .col a:hover{
	text-decoration: none;
}
footer .col-md-3:first-child .col:first-child{
	padding-left: 30px;
}
.footer{
	float: left;
	width: 100%;
	background:#454647 url('img/bg_footer.jpg') 0 0 repeat;

	}
.footer p{
	font-size: 20px;
	line-height: 24px;
	color: #ddd;
	text-align: center;
	padding: 28px 0 13px 0;

}
.footer .cards{
	text-align: center;
	margin-bottom: 13px;
}
.footer-bottom{
	float: left;
	width: 100%;
	background:#454647 url('img/bg_footer.jpg') 0 0 repeat;
	border-top: 1px solid rgba(255,255,255,0.2);
}
.footer-bottom p{
	font-size: 15px;
	line-height: 24px;
	color: #ddd;
	text-align: center;
	padding: 20px;
}
