*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {

}
body input:required:valid,
body textarea:required:valid {

}
img{
	max-width: 100%;
}
p{
	font-family: "OpenSansRegular",sans-serif;
}
h1.lead, h2.lead, h3.lead, h4.lead, h5.lead, h6.lead, .h1.lead, .h2.lead, .h3.lead, .h4.lead, .h5.lead, .h6.lead {
    font-family: "OpenSansRegular",sans-serif;
    text-transform: none;
}
h1{
	margin-bottom: 0;
	margin-top: 30px;
}
.s_main{
	margin-top: 20px;
}

.form-group:last-child{
	margin-bottom: 0;
	font-family: "OpenSansRegular",sans-serif; 
}
.search .panel-heading {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    padding: 10px;
}

.box_request h4{
	display: inline-block;
	font-family: "OpenSansBold",sans-serif;
	font-size: 13px;
	margin-bottom: 10px;
}
.box_request .btn{
	float: right;
	font-size: 11px;
	text-transform: none;
	font-family: "OpenSansBold",sans-serif;
	padding: 6px 4px;
	margin-left: 5px;
	margin-top:3px;
}
.panel-title, .list-group-item, .panel-heading{
	font-family: "OpenSansBold",sans-serif;
}
.box_article .panel-body {
    padding: 12px;
}

.list-group-item:last-child {
    padding-bottom: 16px;
	}

 .panel-title {
    padding: 5px 17px 5px 12px;
}
.box_menu .panel-heading{
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
}

.slider-aside .carousel-indicators{
	position: relative;
	bottom: 0;
}
#carousel_aside .item{
	min-height: initial;
	background-color: transparent;
}
#carousel_aside .carousel-indicators li{
	border: 1px solid #999;
}
#carousel_aside .carousel-indicators li.active{
	border: 1px solid transparent;

}
.slider-aside .arrows-control{
	position: relative;
	width: 100%;
	bottom: 17px;
}
.slider-aside .carousel-control{
	color: #999;
	text-shadow: none;

}
.carousel-inner{
	margin: 0;
}
#carousel_aside h4{
	font-family: "OpenSansBold",sans-serif;
	margin-bottom: 20px;
}
#carousel_aside h4.lead{
	font-family: "OpenSansRegular",sans-serif;
	text-transform: none;
}

#carousel_aside .carusel_caption p{
	font-size: 13px;
	margin-bottom: 10px;
	line-height: 1.4;
}
#carousel_aside .carusel_caption p+p{
	
	margin-bottom: 5px;
	
}
#carousel_aside .carusel_caption a{
	display: block;
	font-size: 13px;
}
.carusel_caption{
	margin-bottom: 20px;
}
.slider-aside .lead {
    line-height: 1.2;
}
.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.well h4{
	margin-top: 0;
}
.well p{
	font-size: 13px;
	line-height: 1.4;
}
.well p:last-child{
	margin-bottom: 0;
}

/*Tills*/
.content{
	border-bottom: 1px solid #EFEFEF;
	padding-bottom: 16px;
}
.tt{
	display: table;
	width: 100%;
}
.tr{
	display: table-row;
}
.tc{
	display: table-cell;
}
.till-item img{
	width: 100%;
}
.till-item{
	padding: 0 10px;

}
.till-item a{
	display: block;
	position: relative;
	margin: 20px 0 0px 0;


}
.till-item a:hover .till_content{
		background-color: rgba(255,194,20,0.55);

}
.till_content{
	position: absolute;
	text-align: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(244, 134, 58, 0.75);
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
}
.till-item .tc{
	text-align: center;
	vertical-align: middle;
}
.till_text{
 	color: #fff;
    display: inline-block;
    font-family: "OpenSansBold",sans-serif;
    font-size: 16px;
    margin: 0 50px;
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.75);
    text-transform: uppercase;
}
/*End Tills*/
/*Bens*/
.bens{
	margin-top: 20px;
	position: relative;
	text-align: center;
	margin-bottom: 60px;
}
.ben_item{
	background-image: -webkit-linear-gradient(#fff,#f6f6f6);
	background-image: -moz-linear-gradient(#fff,#f6f6f6);
	background-image: -o-linear-gradient(#fff,#f6f6f6);
	background-image: linear-gradient(#fff,#f6f6f6);
	padding: 30px 0;
	font-family: "OpenSansBold",sans-serif;
}
.ben_item h4{
	font-size: 26px;
	text-transform: none;
	color: #787878;
	margin-bottom: 0;
	line-height: 22px;
}
.ben_item h4 span{
	color: #242424;
}
.ben_item h4 span{
	font-size: 16px;
}
.ben_item img{
	height: 70px;
}
.ben_item small{
	font-size: 12px;
	font-family: "OpenSansRegular",sans-serif;
}
.ben_item::before{
	content: "";
	width: 1px;
	position: absolute;
	height: 100%;
	right: 0;
	top: 0;
	background-image: -webkit-linear-gradient(#f3f3f3,#dedede);
	background-image: -moz-linear-gradient(#f3f3f3,#dedede);
	background-image: -o-linear-gradient(#f3f3f3,#dedede);
	background-image: linear-gradient(#f3f3f3,#dedede);
}
.ben_item:last-child::before{
	display: none;
}
article{
	margin-bottom: 20px;
}
article a{
	text-decoration: underline;
}
article a:hover{
	text-decoration: none;
}
article ul li{
	list-style-type: circle;
}
.mapcontainer{
	text-align: center;
}
.mapcontainer article img{
	max-width: 100%;
	margin: 20px;
}
article img{
margin: 20px 0;	
}
.widget_news ul{
	list-style-type: none;
}
.widget_news ul{
	margin: 0;
	padding: 0;
}

.widget_news h4{
	margin-bottom: 20px;
}
.widget_news .more{
	display: inline-block;
}
.news_item .panel{
	max-width: 240px;
}
.news_item:nth-child(2) .panel{
	margin-left: auto;
	margin-right: auto;
}
.news_item:last-child .panel{
	float: right;
}
.main_footer{
	background-color: #242424;
	padding: 30px 0 10px 0;
	color: white;
	font-size: 16px;
	font-family: "RobotoRegular",sans-serif;
	margin-top: 20px;
}
.logo_wrap{
	overflow: hidden;
	height: 65px;
	margin-top: -15px;
}
.main_footer strong{
	display: block;
	position: relative;
	line-height: 1.3;
}
.main_footer strong::before{
	width: 2px;
	content: "";
	height: 80%;
	left: -15px;
	top: 6px;
	background-color: white;
	position: absolute;
}
.footer-phone{
	font-size: 24px;
	font-family: "RobotoBold",sans-serif;
	font-weight: bold;
	line-height: .8;
	margin-top: 2px;
}
.callback{
	font-size: 12px;
	font-weight: normal;
	border-bottom: 1px dotted #fff;
	color: white;
}
.callback:hover{
	border-bottom: 1px dotted #f27937;
	text-decoration: none;
}
.development{
	color: #4e4e4e;
	font-size: 15px;
	font-family: "RobotoBold",sans-serif;
	margin-top: -10px;
	display: inline-block;
	width: 118px;
}
.development small{
	display: inline-block;
	margin-bottom: 2px;
}
.development:hover,
.development:active{
	color: #4e4e4e;
	text-decoration: none;
}
.modal-dialog{
	z-index: 10000;
	max-width: 360px;
}
.modal-footer{
	text-align: center;
}
.modal-title{
	display: inline-block;
}
