@charset "UTF-8";
body {
  font-family: "HeliosCond",sans-serif;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  background: url("../img/bg.png") 0 0 repeat; }
  body header {
    display: block;
    position: relative;
    width: 100%;
    height: 804px;
    background: url("../img/header.png") 0 0 repeat-x; }
  body .logo {
    display: block;
    position: relative;
    width: 350px;
    height: 350px;
    top: 300px;
    left: 600px;
    background: url("../img/logo.png") 0 0 no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    -webkit-perspective: 800px;
            perspective: 800px; }
  body .logo:before {
    display: block;
    content: 'Веломастерская';
    font-family: "Pribambas",sans-serif;
    font-size: 2em;
    color: white;
    width: 100px;
    height: 1px;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: -50px;
    -webkit-transform: rotateY(-30deg);
            transform: rotateY(-30deg);
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center; }
