.item-catalog-menu, .report .workshop-wrap .content-wrapper .catalog-block .catalog-wrapper .item-catalog-menu {
  padding: 0 7px; }
  .item-catalog-menu:nth-child(2n+2), .report .workshop-wrap .content-wrapper .catalog-block .catalog-wrapper .item-catalog-menu:nth-child(2n+2) {
    padding: 0 7px; }
  .item-catalog-menu:nth-child(3n+2), .report .workshop-wrap .content-wrapper .catalog-block .catalog-wrapper .item-catalog-menu:nth-child(3n+2) {
    margin: 0 0 0 3px;
    padding-bottom: 10px; }
  .item-catalog-menu:nth-child(3n+1), .report .workshop-wrap .content-wrapper .catalog-block .catalog-wrapper .item-catalog-menu:nth-child(3n+1) {
    margin: 0 0 0 -7px;
    padding-bottom: 10px; }
  .item-catalog-menu:nth-child(3n+3), .report .workshop-wrap .content-wrapper .catalog-block .catalog-wrapper .item-catalog-menu:nth-child(3n+3) {
    margin: 0 0 0 3px;
    padding: 0 0 10px 7px; }

.breadcrumbs, .catalog .workshop-wrap .first-row .head-line .breadcrumbs, .report .workshop-wrap .first-row .head-line .breadcrumbs {
  margin: 21px 0 -4px 0px; }
  .breadcrumbs .breadcrumbs-item, .catalog .workshop-wrap .first-row .head-line .breadcrumbs .breadcrumbs-item, .report .workshop-wrap .first-row .head-line .breadcrumbs .breadcrumbs-item {
    display: inline-block;
    position: relative;
    margin: -4px 0 0 26px; }
    .breadcrumbs .breadcrumbs-item:first-child, .catalog .workshop-wrap .first-row .head-line .breadcrumbs .breadcrumbs-item:first-child, .report .workshop-wrap .first-row .head-line .breadcrumbs .breadcrumbs-item:first-child {
      margin: -53px 0 -1px -32px; }
      .breadcrumbs .breadcrumbs-item:first-child a, .catalog .workshop-wrap .first-row .head-line .breadcrumbs .breadcrumbs-item:first-child a, .report .workshop-wrap .first-row .head-line .breadcrumbs .breadcrumbs-item:first-child a {
        font-size: 36px;
        color: #6b6b6b;
        text-decoration: none;
        text-transform: uppercase; }
        .breadcrumbs .breadcrumbs-item:first-child a::before, .catalog .workshop-wrap .first-row .head-line .breadcrumbs .breadcrumbs-item:first-child a::before, .report .workshop-wrap .first-row .head-line .breadcrumbs .breadcrumbs-item:first-child a::before {
          content: none; }
    .breadcrumbs .breadcrumbs-item + .breadcrumbs-item a, .catalog .workshop-wrap .first-row .head-line .breadcrumbs .breadcrumbs-item + .breadcrumbs-item a, .report .workshop-wrap .first-row .head-line .breadcrumbs .breadcrumbs-item + .breadcrumbs-item a {
      font-size: 24px;
      text-transform: uppercase;
      padding: 0 0 0 9px;
      line-height: 2.3;
      text-decoration: none;
      color: #6b6b6b; }
      .breadcrumbs .breadcrumbs-item + .breadcrumbs-item a::before, .catalog .workshop-wrap .first-row .head-line .breadcrumbs .breadcrumbs-item + .breadcrumbs-item a::before, .report .workshop-wrap .first-row .head-line .breadcrumbs .breadcrumbs-item + .breadcrumbs-item a::before {
        display: inline-block;
        color: #6c757d;
        content: "/";
        position: absolute;
        top: 0;
        left: -11px; }
    .breadcrumbs .breadcrumbs-item:last-child a, .catalog .workshop-wrap .first-row .head-line .breadcrumbs .breadcrumbs-item:last-child a, .report .workshop-wrap .first-row .head-line .breadcrumbs .breadcrumbs-item:last-child a {
      color: #a25287; }

.vertical-menu ul li .accordion-item, .catalog .content-wrapper .vertical-menu ul li .accordion-item, .rent .content-wrapper .vertical-menu ul li .accordion-item {
  padding-bottom: 28px; }
  .vertical-menu ul li .accordion-item .accordion-link {
    position: relative;
    text-decoration: none;
    display: block;
    font-size: 18px;
    color: #585858;
    padding: 24px 0 0 33px;
    line-height: 0.7;
    text-transform: uppercase; }
    .vertical-menu ul li .accordion-item .accordion-link.active::before, .vertical-menu ul li .accordion-item .accordion-link:hover::before, .vertical-menu ul li .accordion-item .accordion-link:active::before {
      content: "";
      position: absolute;
      bottom: -17px;
      left: 6px;
      width: 191px;
      height: 17px;
      background: url("../img/accordion_menu_hover.png") 0 0 no-repeat; }

.content-main {
  margin-top: 45px;
  padding-bottom: 190px; }
  .content-main p {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 18px;
    width: 545px; }
    .content-main p:nth-child(2) {
      text-align: justify; }
      .content-main p:nth-child(2) span {
        display: block;
        text-align: center; }
  .content-main .velo {
    background: url("../img/velo_8_full.png") 0 0 no-repeat;
    margin: 37px auto 0;
    width: 976px;
    height: 550px;
    -webkit-background-size: cover;
            background-size: cover; }

.main-footer {
  position: relative;
  width: 100%;
  height: 486px;
  background: url("../img/footer_bg.jpg") 0 0 repeat-x;
  border-top: 4px solid rgba(134, 136, 136, 0.5); }
  .main-footer .map {
    width: 400px;
    height: 319px;
    margin: 55px 0 0 70px;
    background: url("../img/map.jpg") 0 0 no-repeat; }
  .main-footer .footer-contact {
    width: 620px;
    font-size: 18px;
    color: #e6e8e9;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px rgba(28, 73, 39, 0.6), -1px -1px 0 rgba(28, 73, 39, 0.6), -1px 1px 0 rgba(28, 73, 39, 0.6), 1px -1px 0 rgba(28, 73, 39, 0.6);
    margin: 57px 0 0 0;
    line-height: 1.3; }
    .main-footer .footer-contact span {
      border-bottom: 1px solid rgba(230, 232, 233, 0.3); }
  .main-footer .overlay {
    position: absolute;
    top: 27px;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    height: 375px;
    width: 100%; }

.workshop-wrap {
  width: 1122px;
  margin: 28px 0 0 52px; }
  .workshop-wrap .first-row {
    background: #fff;
    padding-bottom: 15px; }
    .workshop-wrap .first-row .head-line {
      border-bottom: 2px solid #d9d9d9; }
      .workshop-wrap .first-row .head-line h1 {
        font-size: 36px;
        color: #990066;
        text-transform: uppercase;
        margin: 8px; }
    .workshop-wrap .first-row .banner {
      text-align: center;
      border-bottom: 2px solid #d9d9d9;
      border-top: 2px solid #d9d9d9;
      margin: 4px 0;
      letter-spacing: 1.0px;
      line-height: 1.3;
      padding: 6px 0 9px 0; }
  .workshop-wrap .wrapper-schema {
    background: #fff;
    padding-bottom: 20px;
    border-bottom: 2px solid #d9d9d9; }
    .workshop-wrap .wrapper-schema .call-master h3,
    .workshop-wrap .wrapper-schema .workshop-repair h3 {
      font-family: "Pribambas", sans-serif;
      font-size: 18px;
      color: #333333;
      text-decoration: underline; }
    .workshop-wrap .wrapper-schema .call-master h3 {
      margin: 7px 0 0 -6px; }
    .workshop-wrap .wrapper-schema .call-master img {
      margin: -8px 0 0 53px; }
    .workshop-wrap .wrapper-schema .workshop-repair h3 {
      margin: 6px 0 0 9px; }
    .workshop-wrap .wrapper-schema .workshop-repair img {
      margin: 0 0 0 59px; }
  .workshop-wrap .border-block {
    height: 6px;
    border-bottom: 2px solid #d9d9d9; }
  .workshop-wrap .content-wrapper {
    margin-top: 13px;
    padding-bottom: 245px; }
    .workshop-wrap .content-wrapper .vertical-menu {
      padding: 0;
      width: 23%; }
      .workshop-wrap .content-wrapper .vertical-menu ul {
        background: #fff;
        padding-left: 0;
        margin: 0; }
        .workshop-wrap .content-wrapper .vertical-menu ul li {
          list-style-type: none; }
          .workshop-wrap .content-wrapper .vertical-menu ul li:first-child a {
            border-top: 1px solid transparent; }
          .workshop-wrap .content-wrapper .vertical-menu ul li .menu-link {
            position: relative;
            display: block;
            font-size: 24px;
            text-transform: uppercase;
            color: #990066;
            padding: 10px 28px 10px 34px;
            text-decoration: none;
            line-height: 1.1;
            border-top: 1px solid #dcdcdc; }
            .workshop-wrap .content-wrapper .vertical-menu ul li .menu-link:hover, .workshop-wrap .content-wrapper .vertical-menu ul li .menu-link:active, .workshop-wrap .content-wrapper .vertical-menu ul li .menu-link.active {
              font-size: 24px;
              color: white;
              text-shadow: 1px 1px 0px #077332, -1px -1px 0 #077332, -1px 1px 0 #077332, 1px -1px 0 #077332;
              background: -webkit-gradient(linear, left top, left bottom, from(#3cc605), to(#018a23));
              background: -webkit-linear-gradient(#3cc605 0%, #018a23 100%);
              background: -o-linear-gradient(#3cc605 0%, #018a23 100%);
              background: linear-gradient(#3cc605 0%, #018a23 100%);
              -webkit-transition: 0.9s ease, color 0.5s lianer;
              -o-transition: 0.9s ease, color 0.5s lianer;
              transition: 0.9s ease, color 0.5s lianer;
              border-top: 1px solid #3cc605; }
            .workshop-wrap .content-wrapper .vertical-menu ul li .menu-link::before {
              content: "";
              background: #45af29;
              width: 4px;
              height: 5px;
              position: absolute;
              top: 30%;
              left: 6%;
              padding: 5px 0 0 4px;
              -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.21);
                      box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.21); }
            .workshop-wrap .content-wrapper .vertical-menu ul li .menu-link.active {
              font-size: 24px;
              color: white;
              text-shadow: 1px 1px 0px #077332, -1px -1px 0 #077332, -1px 1px 0 #077332, 1px -1px 0 #077332;
              background: -webkit-gradient(linear, left top, left bottom, from(#3cc605), to(#018a23));
              background: -webkit-linear-gradient(#3cc605 0%, #018a23 100%);
              background: -o-linear-gradient(#3cc605 0%, #018a23 100%);
              background: linear-gradient(#3cc605 0%, #018a23 100%);
              -webkit-transition: 0.9s ease, color 0.5s lianer;
              -o-transition: 0.9s ease, color 0.5s lianer;
              transition: 0.9s ease, color 0.5s lianer; }
    .workshop-wrap .content-wrapper .catalog-block {
      width: 77%;
      padding-right: 0;
      padding-left: 20px; }
      .workshop-wrap .content-wrapper .catalog-block h2 {
        width: 100%;
        background: -webkit-gradient(linear, left top, left bottom, from(#3cc605), to(#018a23));
        background: -webkit-linear-gradient(#3cc605 0%, #018a23 100%);
        background: -o-linear-gradient(#3cc605 0%, #018a23 100%);
        background: linear-gradient(#3cc605 0%, #018a23 100%);
        font-size: 24px;
        color: #fefefe;
        text-transform: uppercase;
        text-align: center;
        padding: 15px 0;
        margin: 0;
        line-height: 1;
        text-shadow: 1px 1px 0px #077332, -1px -1px 0 #077332, -1px 1px 0 #077332, 1px -1px 0 #077332; }
      .workshop-wrap .content-wrapper .catalog-block .item-catalog {
        padding: 0 0 0 12px;
        margin: 0; }
        .workshop-wrap .content-wrapper .catalog-block .item-catalog:nth-child(2n+2) {
          padding: 0 12px 0 0; }
        .workshop-wrap .content-wrapper .catalog-block .item-catalog .item-catalog-block {
          background: #f3f4f4;
          border: 1px solid #a0a1a1;
          margin-top: 23px;
          text-align: center; }
          .workshop-wrap .content-wrapper .catalog-block .item-catalog .item-catalog-block img {
            margin: 13px 0 0;
            width: 360px;
            border: 1px solid #a0a1a1; }
          .workshop-wrap .content-wrapper .catalog-block .item-catalog .item-catalog-block h3 {
            font-size: 18px;
            color: #5a5a5a;
            line-height: 1.0;
            padding-bottom: 16px; }

.workshop-inner .workshop-wrap .first-row .banner {
  position: relative;
  text-transform: uppercase;
  margin: 6px 0;
  letter-spacing: 1.0px;
  line-height: 1.5;
  padding: 6px 0 0px 0; }
  .workshop-inner .workshop-wrap .first-row .banner::before {
    content: "";
    position: absolute;
    top: 43px;
    left: 40px;
    background: url("../img/icon_banner_procent.png") 0 0 no-repeat;
    width: 60px;
    height: 52px; }
  .workshop-inner .workshop-wrap .first-row .banner::after {
    content: "";
    position: absolute;
    top: 38px;
    left: 124px;
    background: url("../img/icon_banner_search.png") 0 0 no-repeat;
    width: 82px;
    height: 57px; }

.workshop-inner .workshop-wrap .first-row .border-block {
  height: 0;
  position: relative; }
  .workshop-inner .workshop-wrap .first-row .border-block::before {
    content: "";
    position: absolute;
    top: -91px;
    right: 133px;
    background: url("../img/icon_banner_track.png") 0 0 no-repeat;
    width: 110px;
    height: 49px; }
  .workshop-inner .workshop-wrap .first-row .border-block::after {
    content: "";
    position: absolute;
    top: -89px;
    right: 42px;
    background: url("../img/icon_banner_velo.png") 0 0 no-repeat;
    width: 67px;
    height: 46px; }

.workshop-inner .content-wrapper .catalog-block .workshop-column-wrapper {
  background: #fff;
  margin: 0;
  padding-bottom: 25px;
  margin-bottom: 65px; }
  .workshop-inner .content-wrapper .catalog-block .workshop-column-wrapper .first-workshop-column .item-catalog-block {
    padding: 0 0 0 16px; }
  .workshop-inner .content-wrapper .catalog-block .workshop-column-wrapper .second-workshop-column .item-catalog-block {
    padding: 0 16px 0 0; }
  .workshop-inner .content-wrapper .catalog-block .workshop-column-wrapper h3 {
    font-size: 18px;
    color: #993366;
    text-transform: uppercase;
    text-align: center;
    line-height: 0.5;
    padding-top: 7px; }
  .workshop-inner .content-wrapper .catalog-block .workshop-column-wrapper .workshop-content {
    border: 1px solid #dcdcdc;
    font-size: 20px;
    color: #747474;
    padding: 0px 0 0 24px;
    line-height: 1.2;
    letter-spacing: -0.7px; }
    .workshop-inner .content-wrapper .catalog-block .workshop-column-wrapper .workshop-content h4 {
      text-transform: uppercase;
      line-height: 0.2;
      text-decoration: underline; }

.catalog .workshop-wrap .first-row {
  padding-bottom: 35px; }
  .catalog .workshop-wrap .first-row .head-line h1 {
    font-size: 50px;
    color: #990066;
    margin: -6px 0 1px 8px; }
  .catalog .workshop-wrap .first-row .border-block {
    height: 7px; }
  .catalog .workshop-wrap .first-row .banner {
    text-align: left;
    padding: 2px 0 0 13px;
    margin: 4px 0 0 0;
    line-height: 1.75;
    letter-spacing: 0.67px; }

.catalog .content-wrapper {
  margin-top: 17px; }
  .catalog .content-wrapper .vertical-menu ul li .menu-link:hover::after, .catalog .content-wrapper .vertical-menu ul li .menu-link:active::after, .catalog .content-wrapper .vertical-menu ul li .menu-link.active::after {
    background: url("../img/icon_mnu_zapchasty_hover.png") 0 0 no-repeat; }
  .catalog .content-wrapper .vertical-menu ul li .menu-link::before {
    top: 40%; }
  .catalog .content-wrapper .vertical-menu ul li .menu-link::after {
    content: "";
    width: 40px;
    height: 40px;
    background: url("../img/icon_mnu_zapchasty.png") 0 0 no-repeat;
    position: absolute;
    top: 2px;
    right: 9px; }
  .catalog .content-wrapper .vertical-menu ul li:nth-child(2) .menu-link:hover::after, .catalog .content-wrapper .vertical-menu ul li:nth-child(2) .menu-link:active::after, .catalog .content-wrapper .vertical-menu ul li:nth-child(2) .menu-link.active::after {
    background: url("../img/icon_mnu_computer_hover.png") 0 0 no-repeat; }
  .catalog .content-wrapper .vertical-menu ul li:nth-child(2) .menu-link::after {
    content: "";
    width: 25px;
    height: 38px;
    background: url("../img/icon_mnu_computer.png") 0 0 no-repeat;
    position: absolute;
    top: 4px;
    right: 16px; }
  .catalog .content-wrapper .vertical-menu ul li:nth-child(3) .menu-link:hover::after, .catalog .content-wrapper .vertical-menu ul li:nth-child(3) .menu-link:active::after, .catalog .content-wrapper .vertical-menu ul li:nth-child(3) .menu-link.active::after {
    background: url("../img/icon_mnu_jacket_hover.png") 0 0 no-repeat; }
  .catalog .content-wrapper .vertical-menu ul li:nth-child(3) .menu-link::after {
    content: "";
    width: 35px;
    height: 37px;
    background: url("../img/icon_mnu_jacket.png") 0 0 no-repeat;
    position: absolute;
    top: 4px;
    right: 11px; }
  .catalog .content-wrapper .vertical-menu ul li:nth-child(4) .menu-link:hover::after, .catalog .content-wrapper .vertical-menu ul li:nth-child(4) .menu-link:active::after, .catalog .content-wrapper .vertical-menu ul li:nth-child(4) .menu-link.active::after {
    background: url("../img/icon_mnu_services_hover.png") 0 0 no-repeat; }
  .catalog .content-wrapper .vertical-menu ul li:nth-child(4) .menu-link::after {
    content: "";
    width: 52px;
    height: 24px;
    background: url("../img/icon_mnu_services.png") 0 0 no-repeat;
    position: absolute;
    top: 7px;
    right: 4px; }
  .catalog .content-wrapper .vertical-menu ul li:nth-child(5) .menu-link:hover::after, .catalog .content-wrapper .vertical-menu ul li:nth-child(5) .menu-link:active::after, .catalog .content-wrapper .vertical-menu ul li:nth-child(5) .menu-link.active::after {
    background: url("../img/icon_mnu_velo_hover.png") 0 0 no-repeat; }
  .catalog .content-wrapper .vertical-menu ul li:nth-child(5) .menu-link::after {
    content: "";
    width: 47px;
    height: 35px;
    background: url("../img/icon_mnu_velo.png") 0 0 no-repeat;
    position: absolute;
    top: 15px;
    right: 8px; }
  .catalog .content-wrapper .catalog-block h2 {
    padding: 13px 0; }
  .catalog .content-wrapper .catalog-block .catalog-wrapper .item-catalog-menu, .catalog .report .workshop-wrap .content-wrapper .catalog-block .catalog-wrapper .item-catalog-menu, .report .workshop-wrap .catalog .content-wrapper .catalog-block .catalog-wrapper .item-catalog-menu {
    padding: 0 7px; }
    .catalog .content-wrapper .catalog-block .catalog-wrapper .item-catalog-menu:nth-child(2n+2) {
      padding: 0 7px; }
    .catalog .content-wrapper .catalog-block .catalog-wrapper .item-catalog-menu:nth-child(3n+2) {
      margin: 0 0 0 3px;
      padding-bottom: 10px; }
    .catalog .content-wrapper .catalog-block .catalog-wrapper .item-catalog-menu:nth-child(3n+1) {
      margin: 0 0 0 -7px;
      padding-bottom: 10px; }
    .catalog .content-wrapper .catalog-block .catalog-wrapper .item-catalog-menu:nth-child(3n+3) {
      margin: 0 0 0 3px;
      padding: 0 0 10px 7px; }
  .catalog .content-wrapper .catalog-block .catalog-wrapper .item-catalog-block {
    margin-top: 8px; }
    .catalog .content-wrapper .catalog-block .catalog-wrapper .item-catalog-block img {
      width: 236px;
      height: 181px; }
    .catalog .content-wrapper .catalog-block .catalog-wrapper .item-catalog-block .description {
      margin-top: 33px; }
      .catalog .content-wrapper .catalog-block .catalog-wrapper .item-catalog-block .description p {
        font-size: 18px;
        color: #5a5a5a;
        line-height: 0.2; }
      .catalog .content-wrapper .catalog-block .catalog-wrapper .item-catalog-block .description .price {
        color: #548e45;
        line-height: 2.3; }

.catalog .content-wrapper .catalog-block .catalog-wrapper {
  margin-top: 16px; }
  .catalog .content-wrapper .catalog-block .catalog-wrapper .item-catalog-menu .item-catalog-block .description .title-item {
    font-size: 18px;
    color: #5a5a5a;
    padding: 40px 6px 59px 0px; }

.report .workshop-wrap .first-row .banner {
  text-align: left;
  padding: 8px 0 8px 13px;
  margin: 4px 0 0 0;
  line-height: 1.75;
  letter-spacing: 0.67px;
  line-height: 1.2;
  letter-spacing: 0.7px; }
  .report .workshop-wrap .first-row .banner.report {
    line-height: 1.8; }

.report .workshop-wrap .content-wrapper .catalog-block {
  width: 100%;
  padding-left: 0; }
  .report .workshop-wrap .content-wrapper .catalog-block .catalog-wrapper {
    margin-top: 0; }
    .report .workshop-wrap .content-wrapper .catalog-block .catalog-wrapper.catalog-wrapper {
      margin-top: 0; }
    .report .workshop-wrap .content-wrapper .catalog-block .catalog-wrapper .item-catalog-menu .item-catalog-block {
      border: none;
      background: #fff;
      margin-top: 0;
      padding-bottom: 20px; }
      .report .workshop-wrap .content-wrapper .catalog-block .catalog-wrapper .item-catalog-menu .item-catalog-block.report-item-block {
        background: #f3f4f4;
        border: 1px solid #a0a1a1;
        margin-top: 23px;
        text-align: center;
        padding-bottom: 42px; }
        .report .workshop-wrap .content-wrapper .catalog-block .catalog-wrapper .item-catalog-menu .item-catalog-block.report-item-block .report-item {
          margin: 13px 0 0;
          width: 327px;
          border: 1px solid #a0a1a1; }
        .report .workshop-wrap .content-wrapper .catalog-block .catalog-wrapper .item-catalog-menu .item-catalog-block.report-item-block p {
          color: #5a5a5a;
          padding-top: 8px; }
      .report .workshop-wrap .content-wrapper .catalog-block .catalog-wrapper .item-catalog-menu .item-catalog-block img {
        border: none;
        width: 100%;
        margin-top: 0; }
      .report .workshop-wrap .content-wrapper .catalog-block .catalog-wrapper .item-catalog-menu .item-catalog-block .description {
        font-size: 18px;
        color: #747474;
        line-height: 1.2;
        padding: 4px 0 0 0; }

.rent .workshop-wrap .first-row .head-line {
  padding-bottom: 7px; }

.rent .workshop-wrap .first-row .banner.rent {
  text-align: left;
  letter-spacing: 0.6px;
  line-height: 1.6;
  padding: 6px 0 9px 13px; }

.rent .workshop-wrap .first-row .border-block {
  height: 0; }

.rent .content-wrapper .vertical-menu ul li .menu-link {
  padding: 10px 44px 10px 34px; }
  .rent .content-wrapper .vertical-menu ul li .menu-link::before {
    top: 45%; }

.rent .content-wrapper .vertical-menu ul li:nth-child(1) .menu-link:hover::after, .rent .content-wrapper .vertical-menu ul li:nth-child(1) .menu-link:active::after, .rent .content-wrapper .vertical-menu ul li:nth-child(1) .menu-link.active::after {
  background: url("../img/icon_rent_velo_hover.png") 0 0 no-repeat; }

.rent .content-wrapper .vertical-menu ul li:nth-child(1) .menu-link::after {
  content: "";
  width: 48px;
  height: 33px;
  background: url("../img/icon_rent_velo.png") 0 0 no-repeat;
  position: absolute;
  top: 4px;
  right: 11px; }

.rent .content-wrapper .vertical-menu ul li:nth-child(2) .menu-link:hover::after, .rent .content-wrapper .vertical-menu ul li:nth-child(2) .menu-link:active::after, .rent .content-wrapper .vertical-menu ul li:nth-child(2) .menu-link.active::after {
  background: url("../img/icon_mnu_velo_hover.png") 0 0 no-repeat; }

.rent .content-wrapper .vertical-menu ul li:nth-child(2) .menu-link::after {
  content: "";
  width: 47px;
  height: 35px;
  background: url("../img/icon_mnu_velo.png") 0 0 no-repeat;
  position: absolute;
  top: 18px;
  right: 11px; }

.rent .content-wrapper .vertical-menu ul li:nth-child(3) .menu-link:hover::after, .rent .content-wrapper .vertical-menu ul li:nth-child(3) .menu-link:active::after, .rent .content-wrapper .vertical-menu ul li:nth-child(3) .menu-link.active::after {
  background: url("../img/icon_rent_velo_hover.png") 0 0 no-repeat; }

.rent .content-wrapper .vertical-menu ul li:nth-child(3) .menu-link::after {
  content: "";
  width: 51px;
  height: 37px;
  background: url("../img/icon_rent_velo_flex.png") 0 0 no-repeat;
  position: absolute;
  top: 15px;
  right: 11px; }

.rent .content-wrapper .vertical-menu ul li:nth-child(4) .menu-link:hover::after, .rent .content-wrapper .vertical-menu ul li:nth-child(4) .menu-link:active::after, .rent .content-wrapper .vertical-menu ul li:nth-child(4) .menu-link.active::after {
  background: url("../img/icon_rent_velo_hover.png") 0 0 no-repeat; }

.rent .content-wrapper .vertical-menu ul li:nth-child(4) .menu-link::after {
  content: "";
  width: 59px;
  height: 35px;
  background: url("../img/icon_rent_velo_accessory.png") 0 0 no-repeat;
  position: absolute;
  top: 4px;
  right: 11px; }

.rent .content-wrapper .vertical-menu ul li:nth-child(5) .menu-link:hover::after, .rent .content-wrapper .vertical-menu ul li:nth-child(5) .menu-link:active::after, .rent .content-wrapper .vertical-menu ul li:nth-child(5) .menu-link.active::after {
  background: url("../img/icon_rent_repair_hover.png") 0 0 no-repeat; }

.rent .content-wrapper .vertical-menu ul li:nth-child(5) .menu-link::after {
  content: "";
  width: 49px;
  height: 43px;
  background: url("../img/icon_rent_repair.png") 0 0 no-repeat;
  position: absolute;
  top: 1px;
  right: 11px; }

.rent .content-wrapper .catalog-block {
  margin: 0; }
  .rent .content-wrapper .catalog-block .catalog-wrapper {
    margin-top: 16px; }
    .rent .content-wrapper .catalog-block .catalog-wrapper .catalog-description-row {
      margin: 0; }
      .rent .content-wrapper .catalog-block .catalog-wrapper .catalog-description-row .catalog-description {
        position: relative;
        background: #fff;
        font-size: 23px;
        color: #747474;
        padding: 0 0 0 18px;
        line-height: 1.2; }
        .rent .content-wrapper .catalog-block .catalog-wrapper .catalog-description-row .catalog-description h3 {
          font-size: 23px;
          text-transform: uppercase;
          line-height: 0.5; }
    .rent .content-wrapper .catalog-block .catalog-wrapper .catalog-column-wrapper {
      margin-top: 16px;
      position: relative; }
      .rent .content-wrapper .catalog-block .catalog-wrapper .catalog-column-wrapper .catalog-column {
        padding: 0 24px 0 12px; }
        .rent .content-wrapper .catalog-block .catalog-wrapper .catalog-column-wrapper .catalog-column img {
          width: 100%; }
        .rent .content-wrapper .catalog-block .catalog-wrapper .catalog-column-wrapper .catalog-column.second-catalog-column {
          padding: 0 12px 0 0; }
        .rent .content-wrapper .catalog-block .catalog-wrapper .catalog-column-wrapper .catalog-column .item-catalog-block {
          background: #fff; }
          .rent .content-wrapper .catalog-block .catalog-wrapper .catalog-column-wrapper .catalog-column .item-catalog-block .description {
            text-align: center; }
            .rent .content-wrapper .catalog-block .catalog-wrapper .catalog-column-wrapper .catalog-column .item-catalog-block .description .title-item {
              font-size: 18px;
              color: #747474;
              padding: 28px 0;
              border-top: 2px solid #e5e5e5; }
