body {
  font-family: "BebasNeue",sans-serif;
  font-weight: normal;
  background: url("../img/baloons_left.png") 0% 20% no-repeat, url("../img/baloons_right.png") 100% 50% no-repeat, url("../img/bg_header.jpg") 57% 0 no-repeat, url("../img/header_left.jpg") 0% 0 no-repeat, url("../img/header_right.jpg") 100% 0 no-repeat, url("../img/bg_percentage.jpg") 50% 49% no-repeat #000;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  margin: 0; }

section,
.main_head {
  position: relative; }

input,
input:focus,
button,
button:focus {
  outline: none; }

.row::after, .row::before {
  content: none; }

.cleaner {
  clear: both; }

.main_head {
  position: relative;
  text-align: center; }

.one {
  position: relative;
  float: left;
  margin: 35px 0 0 -253px;
  text-transform: uppercase;
  line-height: 1;
  color: #695026;
  font-size: 62px; }

.black {
  position: relative;
  float: left;
  margin-top: -26px;
  margin-left: 4px;
  font-family: "Corinthia",sans-serif;
  color: #aa823f;
  font-size: 300px;
  line-height: 1;
  z-index: 1; }

.friday {
  position: relative;
  float: left;
  text-transform: uppercase;
  line-height: 1;
  font-family: "BebasNeueBold",sans-serif;
  margin: -122px 0 0 184px;
  font-size: 257px; }

.slogan {
  position: relative;
  float: left;
  margin: -30px  0 0 190px;
  text-transform: uppercase;
  line-height: 1;
  font-size: 63px;
  color: #695026;
  white-space: nowrap;
  letter-spacing: -0.5px; }

.form-block {
  padding: 0; }
  .form-block .form-title {
    position: relative;
    font-family: "BebasNeueBook",sans-serif;
    text-transform: uppercase;
    line-height: 1;
    margin: 202px 0 0 -34px;
    font-size: 45.6px;
    text-transform: uppercase; }
    .form-block .form-title span {
      font-family: "BebasNeueBold",sans-serif;
      color: #aa823f;
      font-size: 55.9px; }
    .form-block .form-title .second-text {
      font-size: 50px;
      letter-spacing: 2.27px;
      margin-top: -9px; }

.email-form {
  position: relative;
  width: 99%;
  height: 50px;
  margin-top: -7px;
  margin-left: -33px;
  border: 3px solid #ffffff;
  -webkit-border-radius: 12px;
          border-radius: 12px;
  overflow: hidden; }
  .email-form::before {
    content: "";
    background: url("../img/envelope.png") 0 0 no-repeat;
    position: absolute;
    top: -1px;
    left: -2px;
    width: 60px;
    height: 50px; }
  .email-form input {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    border: transparent;
    padding: 0 13px 0;
    width: 79%;
    height: 100%;
    margin-left: 50px;
    font-family: "BebasNeueBook",sans-serif;
    text-transform: uppercase;
    line-height: 1;
    color: rgba(170, 130, 63, 0.41);
    font-size: 38px;
    letter-spacing: 0.2px; }
    .email-form input::-webkit-input-placeholder {
      font-family: "BebasNeueBook",sans-serif;
      color: #514025;
      font-size: 37px; }
    .email-form input::-moz-placeholder {
      font-family: "BebasNeueBook",sans-serif;
      color: #514025;
      font-size: 37px; }
    .email-form input:-moz-placeholder {
      font-family: "BebasNeueBook",sans-serif;
      color: #514025;
      font-size: 37px; }
    .email-form input:-ms-input-placeholder {
      font-family: "BebasNeueBook",sans-serif;
      color: #514025;
      font-size: 37px; }
  .email-form input::-webkit-input-placeholder {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease; }
  .email-form input::-moz-placeholder {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease; }
  .email-form input:-moz-placeholder {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease; }
  .email-form input:-ms-input-placeholder {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease; }
  .email-form input:focus::-webkit-input-placeholder {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease; }
  .email-form input:focus::-moz-placeholder {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease; }
  .email-form input:focus:-moz-placeholder {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease; }
  .email-form input:focus:-ms-input-placeholder {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease; }
  .email-form button {
    font-family: "BebasNeueBook",sans-serif;
    text-transform: uppercase;
    line-height: 1;
    float: right;
    font-size: 72px;
    background: transparent;
    border: transparent;
    margin-top: -13px;
    margin-right: 2px; }

.countdown-block {
  padding: 0;
  text-transform: uppercase;
  line-height: 1;
  margin-top: 26px;
  margin-left: 15px;
  text-align: center; }
  .countdown-block .txt-first-part {
    display: inline-block;
    float: left;
    font-size: 82.6px;
    letter-spacing: -0.3px;
    margin-top: 15px; }
  .countdown-block .txt-second-part {
    display: block;
    float: left;
    font-family: "BebasNeueBold",sans-serif;
    font-size: 68.6px;
    margin-top: -3px;
    margin-left: 14px;
    letter-spacing: -0.1px; }

.section {
  margin-top: 165px; }
  .section .section-title {
    position: relative;
    width: 721px;
    margin: 0 auto; }
    .section .section-title span {
      display: block;
      position: relative;
      text-transform: uppercase;
      line-height: 1;
      color: #000;
      font-size: 61px;
      text-align: center;
      margin: -13px 0 0 0px;
      background: #8d6c35;
      -webkit-border-top-left-radius: 20px 12px;
              border-top-left-radius: 20px 12px;
      -webkit-border-top-right-radius: 20px 12px;
              border-top-right-radius: 20px 12px;
      -webkit-border-bottom-right-radius: 20px 12px;
              border-bottom-right-radius: 20px 12px;
      -webkit-border-bottom-left-radius: 20px 12px;
              border-bottom-left-radius: 20px 12px; }
  .section .catalog .catalog-item {
    padding: 0;
    margin: 108px 0 0 -10px; }
    .section .catalog .catalog-item:nth-of-type(3n+1) .item {
      margin-left: 48px; }
    .section .catalog .catalog-item:nth-of-type(3n+2) .item {
      margin-left: 72px; }
    .section .catalog .catalog-item:nth-of-type(3n+3) .item {
      margin-left: 89px; }
    .section .catalog .catalog-item .item {
      position: relative;
      width: 292px;
      height: 295px;
      margin: 0 auto;
      margin-bottom: 41px; }
      .section .catalog .catalog-item .item .item-image {
        position: relative;
        background: #ffffff;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 1; }
        .section .catalog .catalog-item .item .item-image img {
          display: block;
          margin: 0 auto;
          padding-top: 8px; }
      .section .catalog .catalog-item .item .item-frame {
        position: relative;
        top: -12px;
        left: 0;
        -webkit-perspective: 232px;
                perspective: 232px;
        -webkit-perspective-origin: right bottom;
                perspective-origin: right bottom; }
        .section .catalog .catalog-item .item .item-frame::after {
          content: '';
          width: 292px;
          height: 295px;
          background: transparent;
          border: 6px solid #ee2679;
          position: absolute;
          top: -389px;
          left: -124px;
          -webkit-transform-origin: 100% 50%;
              -ms-transform-origin: 100% 50%;
                  transform-origin: 100% 50%;
          -webkit-transform: rotate(-49deg) skewY(5deg) scaleX(1.03) scaleY(0.95) translateX(44px) translateY(50px) rotateY(-5deg);
                  transform: rotate(-49deg) skewY(5deg) scaleX(1.03) scaleY(0.95) translateX(44px) translateY(50px) rotateY(-5deg); }
      .section .catalog .catalog-item .item .baloon {
        position: absolute;
        top: -61px;
        left: -106px;
        background: url("../img/ballon.png") 0 0 no-repeat;
        width: 100%;
        height: 100%;
        margin: 0 0 0 0;
        z-index: 1; }
        .section .catalog .catalog-item .item .baloon .skew-text {
          position: relative; }
          .section .catalog .catalog-item .item .baloon .skew-text .txt-ballon {
            position: absolute;
            top: -5px;
            left: 27px;
            -webkit-transform: rotate(17deg);
                -ms-transform: rotate(17deg);
                    transform: rotate(17deg);
            -webkit-perspective: 10px;
                    perspective: 10px;
            -webkit-perspective-origin: right bottom;
                    perspective-origin: right bottom; }
            .section .catalog .catalog-item .item .baloon .skew-text .txt-ballon .price {
              position: relative;
              font-family: "BebasNeueBold",sans-serif;
              text-transform: uppercase;
              line-height: 1;
              font-size: 68px;
              text-shadow: 6px 0 2px rgba(0, 0, 0, 0.07);
              -webkit-transform-origin: 0% 50%;
                  -ms-transform-origin: 0% 50%;
                      transform-origin: 0% 50%;
              -webkit-transform: translateX(45px) translateY(56px) rotateY(-1deg) scaleX(0.9) scaleY(1.2) skewY(1deg);
                      transform: translateX(45px) translateY(56px) rotateY(-1deg) scaleX(0.9) scaleY(1.2) skewY(1deg); }
          .section .catalog .catalog-item .item .baloon .skew-text .skew-percent {
            position: absolute;
            top: 44px;
            left: 105px;
            -webkit-transform: rotate(17deg);
                -ms-transform: rotate(17deg);
                    transform: rotate(17deg);
            -webkit-perspective: 5px;
                    perspective: 5px;
            -webkit-perspective-origin: left bottom;
                    perspective-origin: left bottom; }
            .section .catalog .catalog-item .item .baloon .skew-text .skew-percent .percent {
              position: relative;
              font-family: "BebasNeueBold",sans-serif;
              font-size: 68px;
              text-transform: uppercase;
              line-height: 1;
              text-shadow: 6px 0 2px rgba(0, 0, 0, 0.07);
              -webkit-transform-origin: 100% 50%;
                  -ms-transform-origin: 100% 50%;
                      transform-origin: 100% 50%;
              -webkit-transform: translateX(25px) translateY(29px) rotateY(1deg) scaleX(1.1) scaleY(1.1) skewY(-6deg);
                      transform: translateX(25px) translateY(29px) rotateY(1deg) scaleX(1.1) scaleY(1.1) skewY(-6deg); }
      .section .catalog .catalog-item .item .old-price {
        position: absolute;
        bottom: 39px;
        right: 2px;
        font-family: "BebasNeueBold",sans-serif;
        color: #000;
        font-size: 44px;
        text-transform: uppercase;
        line-height: 1;
        z-index: 1; }
        .section .catalog .catalog-item .item .old-price sup {
          vertical-align: baseline;
          position: relative;
          top: -0.45em; }
        .section .catalog .catalog-item .item .old-price span {
          font-family: "BebasNeue", sans-serif;
          font-size: 13px;
          vertical-align: baseline;
          position: relative;
          left: -1px; }
      .section .catalog .catalog-item .item .line-shape {
        position: absolute;
        top: 232px;
        left: 200px;
        width: 82px;
        height: 3px;
        background: #ee2679;
        -webkit-transform: rotate(-20deg);
            -ms-transform: rotate(-20deg);
                transform: rotate(-20deg); }
      .section .catalog .catalog-item .item .new-price {
        position: absolute;
        bottom: -19px;
        right: -28px;
        z-index: 1; }
        .section .catalog .catalog-item .item .new-price .price {
          position: absolute;
          display: block;
          text-align: center;
          bottom: 0;
          right: 0;
          font-family: "BebasNeueBold",sans-serif;
          text-transform: uppercase;
          line-height: 0.8;
          color: #000;
          font-size: 73px;
          background: #aa823f;
          -webkit-border-radius: 12px;
                  border-radius: 12px;
          width: 183px;
          padding: 3px 0 1px 7px; }
          .section .catalog .catalog-item .item .new-price .price sup {
            vertical-align: baseline;
            position: relative;
            top: -0.42em; }
          .section .catalog .catalog-item .item .new-price .price span {
            font-family: "BebasNeue", sans-serif;
            vertical-align: baseline;
            font-size: 22px;
            position: relative;
            left: 2px; }

.add-items-block {
  margin-top: 134px; }
  .add-items-block .catalog .catalog-item {
    margin-top: 111px; }

.ft {
  margin-top: 133px;
  margin-bottom: 165px; }
  .ft .title-ft {
    position: relative;
    text-transform: uppercase;
    line-height: 1;
    font-size: 70px;
    text-align: center;
    letter-spacing: 0.26px; }
    .ft .title-ft span {
      display: block;
      margin-top: -8px;
      color: #ee2679;
      font-size: 95px; }
    .ft .title-ft::after {
      content: "";
      width: 1075px;
      height: 4px;
      background: #ee2679;
      position: absolute;
      bottom: -40px;
      left: 30px; }
  .ft .text-ft {
    position: relative;
    text-transform: uppercase;
    line-height: 1;
    font-family: "BebasNeueBook", sans-serif;
    font-size: 54px; }
    .ft .text-ft .first-part {
      position: relative;
      margin-top: 81px;
      margin-left: 6px;
      letter-spacing: 0.2px;
      z-index: 1; }
    .ft .text-ft .second-part {
      position: relative;
      margin-top: -45px;
      margin-left: 276px;
      color: rgba(141, 108, 53, 0.27);
      font-family: "BebasNeueBold", sans-serif;
      font-size: 142px; }
    .ft .text-ft .third-part {
      position: relative;
      margin-top: -42px;
      margin-left: 786px;
      letter-spacing: 0.8px;
      z-index: 1; }
  .ft .email-form {
    position: relative;
    width: 51%;
    height: 78px;
    margin-top: 23px;
    margin-left: 278px;
    border: 3px solid #ffffff;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    overflow: hidden; }
    .ft .email-form::before {
      content: "";
      background: url("../img/envelope_big.jpg") 0 0 no-repeat;
      position: absolute;
      top: 0;
      left: 0;
      width: 57px;
      height: 40px;
      margin-top: 17px;
      margin-left: 10px; }
    .ft .email-form input {
      position: absolute;
      top: 0;
      left: 0;
      background: transparent;
      border: transparent;
      padding: 0 8px 0 43px;
      width: 79%;
      height: 100%;
      margin-left: 50px;
      font-family: "BebasNeueBook",sans-serif;
      text-transform: uppercase;
      line-height: 1;
      color: rgba(170, 130, 63, 0.41);
      font-size: 57px;
      letter-spacing: 0.2px; }
      .ft .email-form input::-webkit-input-placeholder {
        font-family: "BebasNeueBook",sans-serif;
        color: #5e461f;
        font-size: 57px; }
      .ft .email-form input::-moz-placeholder {
        font-family: "BebasNeueBook",sans-serif;
        color: #5e461f;
        font-size: 57px; }
      .ft .email-form input:-moz-placeholder {
        font-family: "BebasNeueBook",sans-serif;
        color: #5e461f;
        font-size: 57px; }
      .ft .email-form input:-ms-input-placeholder {
        font-family: "BebasNeueBook",sans-serif;
        color: #5e461f;
        font-size: 57px; }
    .ft .email-form button {
      font-family: "BebasNeueBook",sans-serif;
      text-transform: uppercase;
      line-height: 1;
      float: right;
      font-size: 107px;
      background: transparent;
      border: transparent;
      margin-top: -19px;
      margin-right: 2px; }
