@media only screen and ( max-width : 1280px) {
	body {
    background: url(../img/baloons_left.png) -6% 16% no-repeat, url(../img/baloons_right.png) 104% 65% no-repeat, url(../img/bg_header.jpg) 71% 0 no-repeat, url(../img/header_left.jpg) 0% 0 no-repeat, url(../img/header_right.jpg) 100% 0 no-repeat, url(../img/bg_percentage.jpg) 50% 49% no-repeat #000;
}
	.section .catalog .catalog-item .item .baloon {
	    top: -59px;
	    left: -72px;
	    width: 67%;
	    background-size: cover;
	}

	.section .catalog .catalog-item .item .baloon .skew-text .txt-ballon {
	    top: -7px;
	    left: 26px;
	}

	.section .catalog .catalog-item .item .baloon .skew-text .txt-ballon .price {
	    font-size: 4.5em;
	}
	.section .catalog .catalog-item .item .baloon .skew-text .skew-percent {
	    top: 45px;
	    left: 94px;
	}
	.section .catalog .catalog-item .item .baloon .skew-text .skew-percent .percent {
	    font-size: 4.5em;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	body{
		background: url("../img/baloons_left.png") -11% 9% no-repeat, url("../img/baloons_right.png") 111% 58% no-repeat, url("../img/bg_header.jpg") 91% 0 no-repeat,url("../img/bg_percentage.jpg") 50% 49% no-repeat #000;
}
	.top_wrapper{
		margin-left: -7px;
}
	.form-block-wrapper{
		 margin: -8px 0 0 44px;
}
	.form-block .form-title {
    font-size: 2.5em;
}
	.form-block .form-title span {
    font-size: 1.3em;
}
	.form-block .form-title .second-text {
    font-size: 1.08em;
		letter-spacing: 2.0px;
}
.email-form {
    width: 106%;
}
.one {
    font-size: 3.769em;
		margin: 32px 0 0 -219px;
}
.black {
    font-size: 20.077em;
}
.friday {
    font-size: 17.769em;
		margin: -109px 0 0 162px;
}
.slogan {
    font-size: 4.38em;
		margin: -27px 0 0 169px;
}
.countdown-block .countdown {
    width: 35%;
}
.countdown-block .txt-first-part {
    font-size: 4.354em;
		margin-top: 25px;
}
.countdown-block .txt-second-part {
    font-size: 3.3em;
		margin-top: 12px;
}

.countdown-block-wrapper{
    position: relative;
    width: 90%;
    margin: 0 auto;
}
.section {
    margin-top: 133px;
}
.section .catalog .catalog-item .item {
    width: 230px;
    height: 230px;
}
.section .catalog .catalog-item .item .item-frame::after {
    width: 230px;
    height: 230px;
    top: -294px;
    left: -110px;
}
.section .catalog .catalog-item .item .baloon {
    top: -59px;
    left: -72px;
    width: 67%;
    background-size: cover;
}

.section .catalog .catalog-item .item .baloon .skew-text .txt-ballon {
    top: -23px;
    left: 8px;
}

.section .catalog .catalog-item .item .baloon .skew-text .txt-ballon .price {
    font-size: 4.0em;
}
.section .catalog .catalog-item .item .baloon .skew-text .skew-percent {
    top: 25px;
    left: 70px;
}
.section .catalog .catalog-item .item .baloon .skew-text .skew-percent .percent {
    font-size: 4.0em;
}
.section .catalog .catalog-item .item .item-image img {
    background-size: cover;
    width: 100%;
}
.section .catalog .catalog-item .item .old-price {
    font-size: 2.385em;
		bottom: 29px;
}
.section .catalog .catalog-item .item .new-price .price {
    bottom: 6px;
    right: 11px;
    font-size: 3.9em;
    width: 131px;
}
.section .catalog .catalog-item .item .new-price .price span {
    font-size: 18px;
}
.section .catalog .catalog-item:nth-of-type(3n+1) .item {
    margin-left: 70px;
}
.section .catalog .catalog-item:nth-of-type(3n+2) .item {
    margin-left: 70px;
}
.section .catalog .catalog-item:nth-of-type(3n+3) .item {
    margin-left: 70px;
}
.section .catalog .catalog-item .item .line-shape {
    top: 182px;
    left: 160px;
    width: 59px;
    height: 2px;
    z-index: 1;
}
.ft .title-ft::after {
    width: 77%;
    height: 4px;
    left: 110px;
}
.ft .text-ft .first-part {
    margin-left: 80px;
}
.ft .text-ft .third-part {
    margin-top: -32px;
    margin-left: 558px;
}
.ft .text-ft .second-part {
    margin-top: -37px;
    margin-left: 194px;
}
.ft .email-form {
    margin: 42px auto 0;
}
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	body {
    background: url(../img/baloons_left.png) -11% 8% no-repeat, url(../img/baloons_right.png) 107% 23% no-repeat, url(../img/bg_header.jpg) 91% 0 no-repeat,url(../img/bg_percentage.jpg) 50% 49% no-repeat #000;
	}
	.form-block {
	    margin-top: -131px;
	    text-align: center;
	}
	.form-title p{
		display: inline-block;
	}
	.form-block .form-title span {
    margin-left: 14px;
}
	.form-block .form-title .second-text {
    margin-left: 14px;
}
.email-form {
    width: 72%;
    margin-top: 7px;
    margin-left: 92px;
}
.countdown-block {
    margin-top: 59px;
}
.countdown-block .txt-first-part {
    display: block;
    text-align: left;
    width: 100%;
		margin-top: 22px;
		font-size: 4.354em;
		margin-left: 60px;
		margin-bottom: 19px;
}
.countdown-block-wrapper {
    width: 57%;
}
.countdown-block .txt-second-part {
    margin-top: 44px;
    display: block;
		font-size: 5em;
		margin-left: -44px;
		text-align: right;
		width: 100%;
}
    width: 100%;
}
.section .catalog {
    margin-top: 100px;
}
.section .catalog .catalog-item .item .item-image {
    width: 80%;
    height: 80%;
}
.section .catalog .catalog-item .item .item-frame::after {
    width: 170px;
    height: 170px;
    top: -225px;
    left: -93px;
}
.section .catalog .catalog-item .item .baloon .skew-text .txt-ballon .price {
    font-size: 3.5em;
		left: 2px;
}
.section .catalog .catalog-item .item .baloon .skew-text .skew-percent .percent {
    font-size: 3.5em;
}
.section .catalog .catalog-item .item .old-price {
    font-size: 2.0em;
    bottom: 76px;
		right: 46px;
}
.section .catalog .catalog-item .item .old-price span {
    font-size: 9px;
}
.section .catalog .catalog-item .item .line-shape {
    top: 136px;
    left: 127px;
    width: 51px;
}
.section .catalog .catalog-item .item .new-price .price {
    bottom: 59px;
    right: 60px;
    font-size: 2.9em;
    width: 106px;
}
.section .catalog .catalog-item .item .new-price {
    position: absolute;
    bottom: -19px;
    right: -28px;
    z-index: 1;
}
.section .catalog .catalog-item .item .new-price .price span {
    font-size: 13px;
		left: -2px;
}
.section .catalog .catalog-item {
    margin: 20px 0 0 -10px;
}
.add-items-block {
    margin-top: 60px;
}
.ft {
    margin-top: 60px;
}
.ft .title-ft::after {
    left: 79px;
}
.ft .email-form {
    width: 86%;
}
.ft .text-ft .first-part {
    margin-left: -35px;
}
.ft .text-ft .second-part {
    margin-top: -37px;
    margin-left: 34px;
	  font-size: 151px;
}
.ft .text-ft .third-part {
    margin-left: 351px;
}
.ft .title-ft::after {
    left: 145px;
	  width: 60%;
}
.section .catalog .catalog-item .item .item-image img {
    background-size: cover;
    width: 90%;
}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {


}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {


}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
