@media only screen and ( max-width : 1280px) {
	body {
    background: url(../img/baloons_left.png) -6% 16% no-repeat, url(../img/baloons_right.png) 104% 65% no-repeat, url(../img/bg_header.jpg) 71% 0 no-repeat, url(../img/header_left.jpg) 0% 0 no-repeat, url(../img/header_right.jpg) 100% 0 no-repeat, url(../img/bg_percentage.jpg) 50% 49% no-repeat #000;
}
	.section .catalog .catalog-item .item .baloon {
	    top: -59px;
	    left: -72px;
	    width: 67%;
	    background-size: cover;
	}

	.section .catalog .catalog-item .item .baloon .skew-text .txt-ballon {
	    top: -7px;
	    left: 26px;
	}

	.section .catalog .catalog-item .item .baloon .skew-text .txt-ballon .price {
	    font-size: 4.5em;
	}
	.section .catalog .catalog-item .item .baloon .skew-text .skew-percent {
	    top: 45px;
	    left: 94px;
	}
	.section .catalog .catalog-item .item .baloon .skew-text .skew-percent .percent {
	    font-size: 4.5em;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	body{
		background: url("../img/baloons_left.png") -11% 9% no-repeat, url("../img/baloons_right.png") 111% 58% no-repeat, url("../img/bg_header.jpg") 91% 0 no-repeat,url("../img/bg_percentage.jpg") 50% 49% no-repeat #000;
}
	.top_wrapper{
		margin-left: -7px;
}
	.form-block-wrapper{
		 margin: 101px 0 0 0;
		 float: right;
}
	.form-block .form-title {
    font-size: 2.5em;
		margin: 100px 0 0 -34px;
}
	.form-block .form-title span {
    font-size: 1.3em;
}
	.form-block .form-title .second-text {
    font-size: 1.08em;
		letter-spacing: 2.0px;
}
.email-form {
    width: 106%;
}
.one {
    font-size: 3.769em;
		margin: 38px 0 0 -241px;
}
.black {
    font-size: 20.077em;
}
.friday {
    font-size: 17.769em;
		margin: -109px 0 0 162px;
}
.slogan {
    font-size: 4.38em;
		margin: -27px 0 0 169px;
}
.countdown-block .countdown {
    width: 35%;
}
.countdown-block .txt-first-part {
    font-size: 4.354em;
		margin-top: 25px;
}
.countdown-block .txt-second-part {
    font-size: 3.3em;
		margin-top: 12px;
}

.countdown-block-wrapper{
    position: relative;
    width: 90%;
    margin: 0 auto;
}
.section {
    margin-top: 133px;
}
.section .catalog .catalog-item .item {
    width: 230px;
    height: 230px;
}
.section .catalog .catalog-item .item .item-frame::after {
    width: 230px;
    height: 230px;
    top: -294px;
    left: -110px;
}
.section .catalog .catalog-item .item .baloon {
    top: -59px;
    left: -72px;
    width: 67%;
    background-size: cover;
}

.section .catalog .catalog-item .item .baloon .skew-text .txt-ballon {
    top: -23px;
    left: 8px;
}

.section .catalog .catalog-item .item .baloon .skew-text .txt-ballon .price {
    font-size: 4.0em;
}
.section .catalog .catalog-item .item .baloon .skew-text .skew-percent {
    top: 25px;
    left: 70px;
}
.section .catalog .catalog-item .item .baloon .skew-text .skew-percent .percent {
    font-size: 4.0em;
}
.section .catalog .catalog-item .item .item-image img {
    background-size: cover;
    width: 100%;
}
.section .catalog .catalog-item .item .old-price {
    font-size: 2.385em;
		bottom: 29px;
}
.section .catalog .catalog-item .item .new-price .price {
    bottom: 6px;
    right: 11px;
    font-size: 3.9em;
    width: 131px;
}
.section .catalog .catalog-item .item .new-price .price span {
    font-size: 18px;
}
.section .catalog .catalog-item:nth-of-type(3n+1) .item {
    margin-left: 70px;
}
.section .catalog .catalog-item:nth-of-type(3n+2) .item {
    margin-left: 70px;
}
.section .catalog .catalog-item:nth-of-type(3n+3) .item {
    margin-left: 70px;
}

.section .catalog .catalog-item .item .line-shape {
    top: 182px;
    left: 160px;
    width: 59px;
    height: 2px;
    z-index: 1;
}
.ft .title-ft::after {
    width: 77%;
    height: 4px;
    left: 110px;
}
.ft .text-ft .first-part {
    margin-left: 80px;
}
.ft .text-ft .third-part {
    margin-top: -32px;
    margin-left: 558px;
}
.ft .text-ft .second-part {
    margin-top: -37px;
    margin-left: 194px;
}
.ft .email-form {
    margin: 42px auto 0;
}
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	body {
    background: url(../img/baloons_left.png) -11% 8% no-repeat, url(../img/baloons_right.png) 107% 23% no-repeat, url(../img/bg_header.jpg) 91% 0 no-repeat,url(../img/bg_percentage.jpg) 50% 49% no-repeat #000;
	}
	.top_wrapper {
    margin-left: -7px;
    margin-top: 15px;
}
	.form-block {
	    margin-top: 0;
	    text-align: center;
	}
	.form-block-wrapper {
			float: none;
	}
	.form-title p{
		display: inline-block;
	}
	.form-block .form-title span {
    margin-left: 14px;
}
	.form-block .form-title .second-text {
    margin-left: 14px;
}
.email-form {
    width: 72%;
    margin-top: 7px;
    margin-left: 92px;
}
.countdown-block {
    margin-top: 59px;
}
.countdown-block .txt-first-part {
    display: block;
    text-align: left;
    width: 100%;
		margin-top: 22px;
		font-size: 4.354em;
		margin-left: 60px;
		margin-bottom: 19px;
}
.countdown-block-wrapper {
    width: 57%;
}
.countdown-block .txt-second-part {
    margin-top: 44px;
    display: block;
		font-size: 5em;
		margin-left: -44px;
		text-align: right;
		width: 100%;
}

.section .catalog {
    margin-top: 100px;
}
.section .catalog .catalog-item .item .item-image {
    width: 80%;
    height: 80%;
}
.section .catalog .catalog-item .item .item-frame::after {
    width: 170px;
    height: 170px;
    top: -225px;
    left: -93px;
}
.section .catalog .catalog-item .item .baloon .skew-text .txt-ballon .price {
    font-size: 3.5em;
		left: 2px;
}
.section .catalog .catalog-item .item .baloon .skew-text .skew-percent .percent {
    font-size: 3.5em;
}
.section .catalog .catalog-item .item .old-price {
    font-size: 2.0em;
    bottom: 76px;
		right: 46px;
}
.section .catalog .catalog-item .item .old-price span {
    font-size: 9px;
}
.section .catalog .catalog-item .item .line-shape {
    top: 136px;
    left: 127px;
    width: 51px;
}
.section .catalog .catalog-item .item .new-price .price {
    bottom: 59px;
    right: 60px;
    font-size: 2.9em;
    width: 106px;
}
.section .catalog .catalog-item .item .new-price {
    position: absolute;
    bottom: -19px;
    right: -28px;
    z-index: 1;
}
.section .catalog .catalog-item .item .new-price .price span {
    font-size: 13px;
		left: -2px;
}
.section .catalog .catalog-item {
    margin: 20px 0 0 -10px;
}
.add-items-block {
    margin-top: 60px;
}
.ft {
    margin-top: 60px;
}
.ft .title-ft::after {
    left: 79px;
}
.ft .email-form {
    width: 86%;
}
.ft .text-ft .first-part {
    margin-left: 28px;
}
.ft .text-ft .second-part {
    margin-top: -37px;
    margin-left: 34px;
	  font-size: 151px;
}
.ft .text-ft .third-part {
    margin-left: 351px;
}
.ft .title-ft::after {
    left: 145px;
	  width: 60%;
}
.section .catalog .catalog-item .item .item-image img {
    background-size: cover;
    width: 90%;
}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	.section .section-title {
    width: 100%;
}

	.section .catalog .catalog-item {
	    margin: 200px 0 0 -10px;
	}
	.section .catalog .catalog-item .item {
    width: 500px;
    height: 500px;
		margin-left: 0;
}
.section .catalog .catalog-item:nth-of-type(3n+1) .item {
    margin-left: 0;
		margin: 0 auto;
}
.section .catalog .catalog-item:nth-of-type(3n+2) .item {
    margin-left: 0;
		margin: 0 auto;
}
.section .catalog .catalog-item:nth-of-type(3n+3) .item {
    margin-left: 0;
		margin: 0 auto;
}
.section .catalog .catalog-item .item .item-image {
	width: 100%;
	height: 100%;
}
	.section .catalog .catalog-item .item .item-frame::after {
	    width: 500px;
	    height: 500px;
			top: -672px;
    	left: -179px;
	}
	.section .catalog .catalog-item .item .baloon {
    top: -117px;
    left: -147px;
    width: 70%;
}
	.section .catalog .catalog-item .item .baloon .skew-text .txt-ballon .price {
		font-size: 7.0em;
		left: 63px;
		bottom: -37px;
	}
	.section .catalog .catalog-item .item .baloon .skew-text .skew-percent {
    top: 102px;
    left: 175px;
}
	.section .catalog .catalog-item .item .baloon .skew-text .skew-percent .percent {
	    font-size: 7.0em;
	}
	.section .catalog .catalog-item .item .old-price {
	    font-size: 5.0em;
	    bottom: 61px;
			right: 20px;
	}
	.section .catalog .catalog-item .item .old-price span {
	    font-size: 26px;
	}
	.section .catalog .catalog-item .item .line-shape {
			top: 404px;
			left: 328px;
			width: 138px;
			height: 3px;
	}
	.section .catalog .catalog-item .item .new-price .price {
			bottom: -13px;
			right: -12px;
			font-size: 7.9em;
			width: 275px;
	}
	.section .catalog .catalog-item .item .new-price {
	    position: absolute;
	    bottom: -19px;
	    right: -28px;
	    z-index: 1;
	}
	.section .catalog .catalog-item .item .new-price .price span {
	    font-size: 33px;
	}
	.add-items-block {
	    margin-top: 230px;
	}
	.section .section-title span {
    padding: 20px 0 ;
	}
	.ft {
    margin-top: 200px;
}
.ft .text-ft .first-part {
    margin-left: 22px;
}
.ft .text-ft {
    margin-top: 105px;
}
.ft .email-form {
    margin: 56px auto 0;
}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	.black {
    font-size: 15.077em;
    margin-top: -26px;
    margin-left: 4px;
}
.one {
    font-size: 2.769em;
    margin: 23px 0 0 -181px;
}
.friday {
    font-size: 9.769em;
    margin: -76px 0 0 132px;
}
	.slogan {
	    font-size: 2.6em;
	    margin: -12px 0 0 134px;
	    letter-spacing: -1.3px;
	}

.top_wrapper {
    margin-left: 15px;
}
.form-block-wrapper {
    margin: 55px 0 0 0;
}
.form-block .form-title {
    font-size: 2.9em;
    margin: 50px auto 0;
}
.form-block .form-title .second-text {
    font-size: 1.2em;
    letter-spacing: 1.7px;
    margin-left: 0;
}
.email-form {
    width: 76%;
    margin: 0 auto;
}
.countdown-block {
    margin: 55px auto;
}
.countdown-block-wrapper {
    width: 90%;
}
.countdown-block .txt-first-part {
    text-align: center;
    margin-top: 23px;
    font-size: 6.354em;
    margin-left: 0;
    margin-bottom: 19px;
    letter-spacing: 0.3px;
}
.countdown-block .txt-second-part {
    font-size: 4em;
    margin-left: 0;
    text-align: center;
}
.section .section-title span {
    font-size: 4.188em;
}
.section .catalog .catalog-item .item {
    width: 350px;
    height: 350px;
	}
.section .catalog .catalog-item .item .item-image img {
    width: 95%;
    height: 95%;
}
.section .catalog .catalog-item .item .baloon {
    top: -80px;
    left: -96px;
    width: 60%;
}
.section .catalog .catalog-item .item .baloon .skew-text .txt-ballon .price {
    font-size: 5em;
    left: 24px;
    bottom: -17px;
}
.section .catalog .catalog-item .item .baloon .skew-text .skew-percent .percent {
    font-size: 5em;
}
.section .catalog .catalog-item .item .baloon .skew-text .skew-percent {
    top: 54px;
    left: 111px;
}
.section .catalog .catalog-item .item .item-frame::after {
    width: 350px;
    height: 350px;
    top: -456px;
    left: -135px;
}
.section .catalog .catalog-item .item .old-price {
    font-size: 3.5em;
    bottom: 58px;
    right: 0;
}
.section .catalog .catalog-item .item .old-price span {
    font-size: 17px;
}
.section .catalog .catalog-item .item .line-shape {
    top: 264px;
    left: 248px;
    width: 91px;
    height: 3px;
}
.section .catalog .catalog-item .item .new-price .price {
    bottom: 12px;
    right: 2px;
    font-size: 5.5em;
    width: 200px;
}
.section .catalog .catalog-item .item .new-price .price span {
    font-size: 24px;
}
.ft .title-ft span {
    display: block;
    margin-top: 33px;
    color: #ee2679;
    font-size: 74px;
}
.ft .title-ft::after {
    left: 83px;
    width: 60%;
}
.ft .text-ft .second-part {
    margin-top: -25px;
    margin-left: 20px;
    font-size: 96px;
}
.ft .text-ft .third-part {
    margin-left: 69px;
    margin-top: -17px;
}
.ft .email-form {
    width: 97%;
}

}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

	body {
	    background: url(../img/baloons_left.png) -82% 14% no-repeat, url(../img/baloons_right.png) 107% 23% no-repeat, url(../img/bg_header.jpg) 91% 0 no-repeat,url(../img/bg_percentage.jpg) 50% 49% no-repeat #000;
	}

.black {
	    font-size: 10.077em;
	    margin-top: 20px;
	    margin-left: -12px;
	}
.one {
    font-size: 1.9em;
    margin: 54px 0 0 -121px;
}
.friday {
    font-size: 5.769em;
    margin: -50px 0 0 75px;
}
.slogan {
    font-size: 1.6em;
    margin: -7px 0 0 77px;
    letter-spacing: -1.2px;
}
.form-block .form-title {
    font-size: 3.9em;
}
.email-form {
    width: 90%;
}
.flip-clock-wrapper ul{
	margin: 5px -3px 0 7px;
	width: 36px;
	height: 76px;
}
.flip-clock-wrapper {
    text-align: center;
    position: relative;
    width: 100%;
    margin: 1em;
}
.flip-clock-divider{
	width: 12px;
}
.flip-clock-dot {
    width: 5px;
    height: 7px;
    left: 8px;
}
.flip-clock-divider.minutes .flip-clock-label {
    right: -88px;
		bottom: -0.55em;
}
.flip-clock-divider .flip-clock-label {
    bottom: -0.55em;
    right: -86px;
    color: #8d6c35;
    font-size: 31.7px;
}
.flip-clock-divider.seconds .flip-clock-label {
    right: -91px;
		bottom: -0.55em;
}
.flip-clock-divider .flip-clock-label {
    bottom: -8.0em;
    right: -76px;
    color: #8d6c35;
    font-size: 29.5px;
}
.countdown-block-wrapper {
    width: 100%;
}
.section .section-title span {
    font-size: 3.188em;
}
.section .catalog .catalog-item .item {
    width: 250px;
    height: 250px;
}
.section .catalog .catalog-item .item .item-frame::after {
    width: 230px;
    height: 230px;
    top: -310px;
    left: -96px;
}
.section .catalog .catalog-item .item .baloon {
    top: -51px;
    left: -51px;
    width: 63%;
}
.section .catalog .catalog-item .item .baloon .skew-text .txt-ballon .price {
    font-size: 4em;
    left: 4px;
    bottom: -3px;
}
.section .catalog .catalog-item .item .baloon .skew-text .skew-percent .percent {
    font-size: 4em;
}
.section .catalog .catalog-item .item .baloon .skew-text .skew-percent {
    top: 29px;
    left: 77px;
}
.section .catalog .catalog-item .item .old-price {
    font-size: 2.7em;
    bottom: 45px;
    right: 0;
}
.section .catalog .catalog-item .item .new-price .price {
    bottom: -2px;
    right: 12px;
    font-size: 4.5em;
    width: 150px;
}
.section .catalog .catalog-item .item .new-price .price span {
    font-size: 18px;
}
.section .catalog .catalog-item .item .old-price {
    font-size: 2.7em;
    bottom: 32px;
    right: 3px;
}
.section .catalog .catalog-item .item .old-price span {
    font-size: 13px;
}
.section .catalog .catalog-item .item .line-shape {
    top: 196px;
    left: 167px;
    width: 76px;
    height: 3px;
}
.section .section-title {
    margin: -79px auto;
}
.section .catalog {
    margin-top: 234px;
}
.section .catalog .catalog-item {
    margin: 150px 0 0 -10px;
}
.ft {
    margin-top: 150px;
}
.ft .title-ft {
    font-size: 53px;
}
.ft .title-ft::after {
    left: 55px;
}
.ft .text-ft .third-part {
    margin-left: 91px;
    margin-top: -31px;
}
.ft .text-ft .second-part {
    margin-top: -54px;
    margin-left: 47px;
    font-size: 96px;
}
.ft .email-form {
    width: 100%;
}
.ft .email-form input {
    width: 63%;
}
}
