@media only screen and ( max-width : 1280px) {
	body {
    background: url(../img/baloons_left.png) -6% 16% no-repeat, url(../img/baloons_right.png) 104% 65% no-repeat, url(../img/bg_header.jpg) 71% 0 no-repeat, url(../img/header_left.jpg) 0% 0 no-repeat, url(../img/header_right.jpg) 100% 0 no-repeat, url(../img/bg_percentage.jpg) 50% 49% no-repeat #000;
}
	.section .catalog .catalog-item .item .baloon {
	    top: -59px;
	    left: -72px;
	    width: 67%;
	    background-size: cover;
	}

	.section .catalog .catalog-item .item .baloon .skew-text .txt-ballon {
	    top: -7px;
	    left: 26px;
	}

	.section .catalog .catalog-item .item .baloon .skew-text .txt-ballon .price {
	    font-size: 4.5em;
	}
	.section .catalog .catalog-item .item .baloon .skew-text .skew-percent {
	    top: 45px;
	    left: 94px;
	}
	.section .catalog .catalog-item .item .baloon .skew-text .skew-percent .percent {
	    font-size: 4.5em;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	body{
		background: url("../img/baloons_left.png") -11% 9% no-repeat, url("../img/baloons_right.png") 111% 58% no-repeat, url("../img/bg_header.jpg") 91% 0 no-repeat,url("../img/bg_percentage.jpg") 50% 49% no-repeat #000;
}
	.top_wrapper{
		margin-left: -7px;
}
	.form-block-wrapper{
		 margin: 101px 0 0 0;
		 float: right;
}
.form-block {
    padding: 0;
    margin-left: 0;
}
	.form-block .form-title {
    font-size: 2.5em;
		margin: 100px 0 0 -34px;
}
	.form-block .form-title span {
    font-size: 1.3em;
}
	.form-block .form-title .second-text {
    font-size: 1.08em;
		letter-spacing: 2.0px;
}
.email-form {
    width: 96%;
}
.one {
    font-size: 3.769em;
		margin: 38px 0 0 -241px;
}
.black {
    font-size: 20.077em;
}
.friday {
	font-size: 15.769em;
	margin: -76px 0 0 162px;
}
.slogan {
	font-size: 3.85em;
	margin: -46px 0 0 169px;
}
.countdown-block .countdown {
    width: 35%;
}
.countdown-block .txt-first-part {
    font-size: 4.354em;
		margin-top: 25px;
}
.countdown-block .txt-second-part {
    font-size: 3.3em;
		margin-top: 30px;
}

.countdown-block-wrapper{
    position: relative;
    width: 90%;
    margin: 0 auto;
}
.section {
    margin-top: 133px;
}
.section .catalog .catalog-item .item {
    width: 230px;
    height: 230px;
}
.section .catalog .catalog-item .item .item-frame::after {
    width: 230px;
    height: 230px;
    top: -294px;
    left: -110px;
}
.section .catalog .catalog-item .item .baloon {
    top: -59px;
    left: -72px;
    width: 67%;
    background-size: cover;
}

.section .catalog .catalog-item .item .baloon .skew-text .txt-ballon {
    top: -23px;
    left: 8px;
}

.section .catalog .catalog-item .item .baloon .skew-text .txt-ballon .price {
    font-size: 4.0em;
}
.section .catalog .catalog-item .item .baloon .skew-text .skew-percent {
    top: 25px;
    left: 70px;
}
.section .catalog .catalog-item .item .baloon .skew-text .skew-percent .percent {
    font-size: 4.0em;
}
.section .catalog .catalog-item .item .item-image img {
    background-size: cover;
    width: 100%;
}
.section .catalog .catalog-item .item .old-price {
	font-size: 2.385em;
	bottom: 17px;
	right: 0px;
}
.section .catalog .catalog-item .item .new-price .price {
	bottom: 2px;
	right: -31px;
	font-size: 3.9em;
	width: 155px;
}
.section .catalog .catalog-item .item .new-price .price span {
    font-size: 18px;
}
.section .catalog .catalog-item:nth-of-type(3n+1) .item {
    margin-left: 70px;
}
.section .catalog .catalog-item:nth-of-type(3n+2) .item {
    margin-left: 70px;
}
.section .catalog .catalog-item:nth-of-type(3n+3) .item {
    margin-left: 70px;
}

.section .catalog .catalog-item .item .line-shape {
    top: 192px;
    left: 161px;
    width: 59px;
    height: 2px;
    z-index: 1;
}
.ft .title-ft::after {
    width: 77%;
    height: 4px;
    left: 110px;
}
.ft .text-ft .first-part {
    margin-left: 80px;
}
.ft .text-ft .third-part {
    margin-top: -32px;
    margin-left: 558px;
}
.ft .text-ft .second-part {
    margin-top: -37px;
    margin-left: 194px;
}
.ft .email-form {
    margin: 42px auto 0;
}
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	body {
    background: url(../img/baloons_left.png) -11% 11% no-repeat, url(../img/baloons_right.png) 127% 23% no-repeat, url(../img/bg_header.jpg) 91% 0 no-repeat,url(../img/bg_percentage.jpg) 50% 49% no-repeat #000;
	}
	.top_wrapper {
    margin-left: -7px;
    margin-top: 15px;
}
	.form-block {
	    margin-top: 0;
	    text-align: center;
	}
	.form-block-wrapper {
			float: none;
	}
	.form-title p{
		display: inline-block;
	}
	.form-block .form-title span {
    margin-left: 14px;
}
	.form-block .form-title .second-text {
    margin-left: 14px;
}
.email-form {
    width: 72%;
    margin-top: 7px;
    margin-left: 92px;
}
.countdown-block {
    margin-top: 96px;
}
.countdown-block .txt-first-part {
    display: block;
    text-align: left;
    width: 100%;
		margin-top: 22px;
		font-size: 4.354em;
		margin-left: 60px;
		margin-bottom: 19px;
}
.countdown-block-wrapper {
    width: 57%;
}
.flip-clock-wrapper {
    margin: 0 auto;
    padding: 0 0 0 31px;
}
.countdown-block .txt-second-part {
    margin-top: 44px;
    display: block;
		font-size: 5em;
		margin-left: -44px;
		text-align: right;
		width: 100%;
}

.section .catalog {
    margin-top: 125px;
}
.section .catalog .catalog-item .item .item-image {
    width: 80%;
    height: 80%;
}
.section .catalog .catalog-item .item .item-frame::after {
    width: 170px;
    height: 170px;
    top: -225px;
    left: -93px;
}
.section .catalog .catalog-item .item .baloon .skew-text .txt-ballon .price {
    font-size: 3.5em;
		left: 2px;
}
.section .catalog .catalog-item .item .baloon .skew-text .skew-percent .percent {
    font-size: 3.5em;
}
.section .catalog .catalog-item .item .old-price {
    font-size: 2.0em;
    bottom: 76px;
		right: 46px;
}
.section .catalog .catalog-item .item .old-price span {
    font-size: 9px;
}
.section .catalog .catalog-item .item .line-shape {
    top: 136px;
    left: 127px;
    width: 51px;
}
.section .catalog .catalog-item .item .new-price .price {
		bottom: 36px;
		right: 30px;
		font-size: 2.9em;
		width: 106px;
}
.section .catalog .catalog-item .item .new-price {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.section .catalog .catalog-item .item .new-price .price span {
    font-size: 13px;
		left: -2px;
}
.section .catalog .catalog-item {
    margin: 20px 0 0 -10px;
}
.add-items-block {
    margin-top: 60px;
}
.ft {
    margin-top: 60px;
}
.ft .title-ft::after {
    left: 79px;
}
.ft .email-form {
    width: 86%;
}
.ft .text-ft .first-part {
    margin-left: 28px;
}
.ft .text-ft .second-part {
    margin-top: -37px;
    margin-left: 34px;
	  font-size: 151px;
}
.ft .text-ft .third-part {
    margin-left: 351px;
}
.ft .title-ft::after {
    left: 145px;
	  width: 60%;
}
.section .catalog .catalog-item .item .item-image img {
    background-size: cover;
    width: 90%;
}
.form-block .form-title {
    font-size: 3.5em;
    margin: 100px 0 0 0;
}
.countdown-block .txt-first-part {
    text-align: center;
    margin-top: 23px;
    font-size: 6.354em;
    margin-left: 0;
    margin-bottom: 19px;
    letter-spacing: 0.3px;
}
.countdown-block .txt-second-part {
    font-size: 4em;
    margin-left: 0;
    text-align: center;
}
.email-form {
    width: 70%;
    margin: 0 auto;
}
.section .section-title {
    width: 100%;
}
.ft .text-ft .second-part {
		margin-top: -31px;
    margin-left: 112px;
    font-size: 106px;
}
.ft .text-ft .third-part {
    margin-left: 0;
    float: right;
}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	.top_wrapper {
    position: absolute;
    top: 10px;
    left: calc(50% - 229px);
}

	.black {
    font-size: 15.077em;
    margin-top: -26px;
    margin-left: 4px;
}
.one {
    font-size: 2.769em;
    margin: 23px 0 0 -181px;
}
.friday {
    font-size: 9.769em;
    margin: -76px 0 0 132px;
}
	.slogan {
	    font-size: 2.6em;
	    margin: -12px 0 0 134px;
	    letter-spacing: -1.3px;
	}
	.form-block-wrapper {
    margin: 350px 0 0 0;
}
	.countdown-block-wrapper {
    position: absolute;
    width: 90%;
    top: calc(50% - 34px);
    left: calc(50% - 206px);
    margin: 0 auto;
}
.countdown-block .txt-second-part {
    font-size: 4em;
    margin-left: 0;
    text-align: center;
    margin-top: 109px;
}
.section .catalog .catalog-item .item {
  width: 350px;
  height: 350px;
}
.section .catalog .catalog-item .item .item-image img {
  width: 95%;
  height: 95%;
}
.section .catalog .catalog-item .item .baloon {
  top: -80px;
  left: -96px;
  width: 60%;
}
.section .catalog .catalog-item .item .baloon .skew-text .txt-ballon .price {
  font-size: 5em;
  left: 24px;
  bottom: -17px;
}
.section .catalog .catalog-item .item .baloon .skew-text .skew-percent .percent {
  font-size: 5em;
}
.section .catalog .catalog-item .item .baloon .skew-text .skew-percent {
  top: 54px;
  left: 111px;
}
.section .catalog .catalog-item .item .item-frame::after {
  width: 350px;
  height: 350px;
  top: -456px;
  left: -135px;
}
.section .catalog .catalog-item .item .old-price {
  font-size: 3.5em;
  bottom: 58px;
  right: 0;
}
.section .catalog .catalog-item .item .old-price span {
  font-size: 17px;
}
.section .catalog .catalog-item .item .line-shape {
  top: 264px;
  left: 248px;
  width: 91px;
  height: 3px;
}
.section .catalog .catalog-item .item .new-price .price {
	bottom: 12px;
  right: 2px;
  font-size: 5.5em;
  width: 200px;
}
.section .catalog .catalog-item .item .new-price .price span {
  font-size: 24px;
}
.section .catalog .catalog-item:nth-of-type(3n+1) .item {
  margin: 0 auto;
}
.section .catalog .catalog-item:nth-of-type(3n+2) .item {
  margin: 0 auto;
}
.section .catalog .catalog-item:nth-of-type(3n+3) .item {
  margin: 0 auto;
}
.section .catalog .catalog-item .item .item-frame::after {
  width: 300px;
  height: 300px;
  top: -387px;
  left: -133px;
}
.section .catalog .catalog-item .item .old-price {
  font-size: 3.1em;
  bottom: 100px;
  right: 70px;
}
.section .catalog .catalog-item .item .line-shape {
  top: 219px;
  left: 186px;
  width: 91px;
  height: 3px;
}
.section .catalog .catalog-item .item .new-price .price {
	bottom: 56px;
	right: 21px;
	font-size: 5.5em;
	width: 200px;
}
.section .catalog .catalog-item {
  margin: 147px 0 0 42px;
}
.ft .title-ft::after {
	left: calc(50% - 150px);
	width: 301px;
}

.ft .title-ft span {
  margin-top: 29px;
}
.section {
    margin-top: 100px;
}
.section .catalog {
    margin-top: 180px;
}
.section .catalog .catalog-item .item .new-price .price {
    bottom: 32px;
}
.ft .email-form input {
    padding: 0 8px 0 33px;
}


.ft .email-form .form-block-inner .input-block .input-block-email input {
    padding: 13px 8px 0px 12px;
    font-size: 45px;
}

.ft .email-form .form-block-inner .input-block .input-block-email input:-ms-input-placeholder{
	font-size: 40px;
}
.ft .email-form .form-block-inner .input-block .input-block-email input::-webkit-input-placeholder{
	font-size: 40px;
}
.ft .email-form .form-block-inner .input-block .input-block-email input::-moz-placeholder{
	font-size: 40px;
}
.ft .email-form .form-block-inner .input-block .input-block-email input:-moz-placeholder{
	font-size: 40px;
}
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	.black {
    font-size: 15.077em;
    margin-top: -26px;
    margin-left: 4px;
}
.one {
    font-size: 2.769em;
    margin: 23px 0 0 -181px;
}
.friday {
    font-size: 9.769em;
    margin: -76px 0 0 132px;
}
	.slogan {
	    font-size: 2.6em;
	    margin: -12px 0 0 134px;
	    letter-spacing: -1.3px;
	}

.top_wrapper {
    margin-left: 15px;
}
.form-block-wrapper {
    margin: 350px 0 0 0;
}
.form-block .form-title {
    font-size: 2.9em;
    margin: 50px auto 0;
}
.form-block .form-title .second-text {
    font-size: 1.2em;
    letter-spacing: 1.7px;
    margin-left: 0;
}
.email-form {
    width: 76%;
    margin: 0 auto;
}
.countdown-block {
    margin: 55px auto;
}
.countdown-block-wrapper {
    width: 90%;
}
.countdown-block .txt-first-part {
    text-align: center;
    margin-top: 23px;
    font-size: 6.354em;
    margin-left: 0;
    margin-bottom: 19px;
    letter-spacing: 0.3px;
}
.countdown-block .txt-second-part {
    font-size: 4em;
    margin-left: 0;
    text-align: center;
}
.section .section-title span {
    font-size: 4.188em;
}
.section .catalog .catalog-item .item .item-frame::after {
    width: 275px;
    height: 300px;
    top: -103px;
    left: -103px;
}
.ft .text-ft .second-part {
    margin-top: -31px;
    margin-left: 112px;
    font-size: 76px;
}
.ft .title-ft span {
    display: block;
    margin-top: 33px;
    color: #ee2679;
    font-size: 74px;
}
.ft .text-ft .second-part {
    margin-top: -31px;
    margin-left: 112px;
    font-size: 96px;
}

.ft .text-ft .third-part {
    margin-left: 0;
    margin-top: -17px;
}
.ft .email-form {
    width: 97%;
}
.section .catalog .catalog-item .item .item-frame {
    position: absolute;
    bottom: 90px;
    left: 0;
}

.ft .text-ft .second-part {
    margin-top: -31px;
    margin-left: 112px;
    font-size: 94px;
}

.ft .text-ft .third-part {
    margin-left: 22px;
    margin-top: -17px;
}
.ft .email-form input {
    width: 61%;
}
.ft .email-form {
    width: 100%;
}
.countdown-block-wrapper {
    width: 96%;
}
.ft .text-ft .third-part {
    margin-left: 155px;
    margin-top: -27px;
}
.ft .email-form input {
    width: 50%;
}
.top_wrapper {
    margin-left: 43px;
}
.form-block .form-title {
    font-size: 2.6em;
}
.form-block-wrapper {
  margin: 350px auto 0;
}
.countdown-block-wrapper {
    position: absolute;
    width: 90%;
    top: calc(50% - 47px);
    left: calc(50% - 208px);
    margin: 0 auto;
}
.countdown-block-wrapper {
    width: 100%;
}
.countdown-block {
  margin: 55px auto 0;
}
.countdown-block .txt-first-part {
    font-size: 5.354em;
}
.countdown-block .txt-second-part {
    font-size: 3em;
}
.section .section-title span {
    font-size: 3.188em;
    margin: 0 0 0 28px;
}
.ft .title-ft {
    margin: 0 auto;
}

.section .catalog .catalog-item {
    margin: 148px 0 0 64px;
}
.ft .email-form input {
    width: 50%;
}
.flip-clock-wrapper {
    width: 108% !important;
    padding: 0 0 0 31px;
		margin: 0 !important;
}

.flip-clock-wrapper ul{
margin: 5px -3px 0 8px !important;
width: 33px !important;
height: 76px !important;
}
.flip-clock-divider{
width: 8px !important;
}
.flip-clock-dot {
  width: 5px !important;
  height: 7px !important;
  left: 8px !important;
}
.flip-clock-divider.minutes .flip-clock-label {
  right: -88px !important;
  bottom: -0.6em !important;
}

.flip-clock-divider.seconds .flip-clock-label {
  right: -91px !important;
  bottom: -0.6em !important;
}
.flip-clock-divider .flip-clock-label {
  bottom: -8.0em !important;
  right: 227px !important;
  color: #8d6c35 !important;
  font-size: 29.5px !important;
}
.flip-clock-divider .flip-clock-label {
    bottom: -16px !important;
    right: -76px !important;
}
.countdown-block-wrapper {
    top: calc(50% - 34px);
    left: calc(50% - 189px);
}

.top_wrapper {
    margin: 0 auto;
    padding: 0 17px;
}
.ft .email-form .form-block-inner .input-block .input-block-email input {
    padding: 0;
    font-size: 40px;
}

.ft .email-form .form-block-inner .input-block .input-block-email input:-ms-input-placeholder{
	font-size: 30px;
}
.ft .email-form .form-block-inner .input-block .input-block-email input::-webkit-input-placeholder{
	font-size: 30px;
}
.ft .email-form .form-block-inner .input-block .input-block-email input::-moz-placeholder{
	font-size: 30px;
}
.ft .email-form .form-block-inner .input-block .input-block-email input:-moz-placeholder{
	font-size: 30px;
}
.email-form .form-block-inner .input-block .input-block-email input {
    padding: 0;
    font-size: 40px;
}

.email-form .form-block-inner .input-block .input-block-email input:-ms-input-placeholder{
	font-size: 30px;
}
.email-form .form-block-inner .input-block .input-block-email input::-webkit-input-placeholder{
	font-size: 30px;
}
.email-form .form-block-inner .input-block .input-block-email input::-moz-placeholder{
	font-size: 30px;
}
.email-form .form-block-inner .input-block .input-block-email input:-moz-placeholder{
	font-size: 30px;
}
.email-form .form-block-inner .input-block .btn-email button {

    margin-right: -4px;
}
.ft .email-form .form-block-inner .input-block .input-addon-email {
    margin: 0 0 5px 10px;
}
.ft .email-form .form-block-inner .input-block .btn-email button {
margin-right: 0;
padding-left: 0;
}
.ft .email-form .form-block-inner .input-block .input-block-email {
    padding: 17px 13px 0;
}

}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.top_wrapper {
    position: absolute;
    top: 10px;
    left: calc(50% - 152px);
}


	.black {
	    font-size: 10.077em;
	    margin-top: 15px;
	    margin-left: -12px;
	}
	.one {
	    font-size: 1.9em;
	    margin: 47px 0 0 -121px;
	}
	.friday {
	  font-size: 5.769em;
	  margin: -50px 0 0 75px;
	}
	.slogan {
	  font-size: 1.6em;
	  margin: -7px 0 0 77px;
	  letter-spacing: -1.2px;
	}
	.form-block-wrapper {
	    margin: 270px 0 0 0;
	}
	.form-block .form-title {
	    font-size: 1.9em;
	}
	.countdown-block .txt-first-part {
    font-size: 3.354em;
}

.countdown-block .txt-second-part {
    font-size: 4em;
    margin-top: 180px;
}
.section .section-title span {
    font-size: 3.188em;
}
.section .catalog .catalog-item .item {
  width: 250px;
  height: 250px;
}
.section .catalog .catalog-item .item .item-frame::after {
  width: 230px;
  height: 230px;
  top: -310px;
  left: -96px;
}
.section .catalog .catalog-item .item .baloon {
  top: -51px;
  left: -51px;
  width: 63%;
}
.section .catalog .catalog-item .item .baloon .skew-text .txt-ballon .price {
  font-size: 4em;
  left: 4px;
  bottom: -3px;
}
.section .catalog .catalog-item .item .baloon .skew-text .skew-percent .percent {
  font-size: 4em;
}
.section .catalog .catalog-item .item .baloon .skew-text .skew-percent {
  top: 29px;
  left: 77px;
}
.section .catalog .catalog-item .item .old-price {
  font-size: 2.7em;
  bottom: 45px;
  right: 0;
}
.section .catalog .catalog-item .item .new-price .price {
	bottom: -2px;
  right: 12px;
  font-size: 4.5em;
  width: 150px;
}
.section .catalog .catalog-item .item .new-price .price span {
  font-size: 18px;
}
.section .catalog .catalog-item .item .old-price {
  font-size: 2.7em;
  bottom: 32px;
  right: 3px;
}
.section .catalog .catalog-item .item .old-price span {
  font-size: 13px;
}
.section .catalog .catalog-item .item .line-shape {
  top: 196px;
  left: 167px;
  width: 76px;
  height: 3px;
}
.section .section-title {
    margin: 0px auto;
}
.section .catalog {
  margin-top: 234px;
}
.section .catalog .catalog-item {
  margin: 150px 0 0 -10px;
}
.section .catalog .catalog-item .item .item-frame::after {
    width: 180px;
    height: 184px;
    top: -43px;
    left: -78px;
}
.section .catalog .catalog-item .item .old-price {
    font-size: 2.2em;
    bottom: 79px;
    right: 50px;
}
.section .catalog .catalog-item .item .line-shape {
    top: 153px;
    left: 134px;
    width: 59px;
    height: 3px;
}
.section .catalog .catalog-item .item .new-price .price {
		bottom: 56px;
		right: 63px;
		font-size: 3.5em;
		width: 129px;
}
.section .catalog .catalog-item {
    margin: 50px 0 0 -10px;
}
.section .catalog {
    margin-top: 165px;
}
.ft .title-ft {
    font-size: 35px;
}
.ft .title-ft span {
    font-size: 57px;
}

.ft .text-ft {
    font-size: 35px;
}
.ft .text-ft .second-part {
    margin-top: -31px;
    margin-left: 43px;
    font-size: 87px;
}

.ft .email-form input {
    width: 60%;
}
.section .catalog .catalog-item:nth-of-type(3n+1) .item {
    margin: 0 0 0 71px;
}
.section .catalog .catalog-item:nth-of-type(3n+2) .item {
    margin: 0 0 0 71px;
}
.section .catalog .catalog-item:nth-of-type(3n+3) .item {
    margin: 0 0 0 71px;
}

	.section .catalog .catalog-item .item .new-price .price {
	    bottom: 30px;
	    right: 28px;
	    font-size: 3.5em;
	    width: 129px;
	}

.section .catalog {
    margin-top: 124px;
}
.top_wrapper {
    position: absolute;
    top: 10px;
    left: calc(50% - 135px);
}
.top_wrapper {
    position: absolute;
    top: 10px;
    left: calc(50% - 169px);
}
.form-block .form-title {
    font-size: 3.9em;
}
.email-form {
    width: 83%;
}
.countdown-block .txt-second-part {
    font-size: 4em;
    margin-top: 126px;
}
.countdown-block-wrapper {
    top: calc(50% - 94px);
    left: calc(50% - 190px);
}

.ft .title-ft {
    margin-left: 11px;
}
.ft .email-form {
    width: 100%;
    margin-left: 2px;
}
.ft .email-form input {
    width: 78%;
}

.section .section-title span {
    margin: -1px 0 0 0px;
}
.ft .title-ft::after {
    left: calc(50% - 100px);
    width: 200px;
}
}
