.svg_1 {
  width: 10px;
  height: 4px;
}
.svg_2 {
  width: 4px;
  height: 4px;
}
.svg_4 {
  width: 13px;
  height: 9px;
}
.svg_5 {
  width: 3px;
  height: 2px;
}
.svg_6 {
  width: 22px;
  height: 10px;
}
.svg_3 {
  width: 0px;
  height: 0px;
}
