@mixin width-colum($width)
  width: $width
@mixin banner($padding)
  text-align: left
  padding: $padding
  margin: 4px 0 0 0
  line-height: 1.75
  letter-spacing: 0.67px
.item-catalog-menu
  padding: 0 7px
  &:nth-child(2n+2)
    padding: 0 7px
  &:nth-child(3n+2)
    margin: 0 0 0 3px
    padding-bottom: 10px
  &:nth-child(3n+1)
    margin: 0 0 0 -7px
    padding-bottom: 10px
  &:nth-child(3n+3)
    margin: 0 0 0 3px
    padding: 0 0 10px 7px

.breadcrumbs
  margin: 21px 0 -4px 0px
  .breadcrumbs-item
    display: inline-block
    position: relative
    margin: -4px 0 0 26px

    &:first-child
      margin: -53px 0 -1px -32px
      a
        font-size: 36px
        color: #6b6b6b
        text-decoration: none
        text-transform: uppercase
        &::before
          content: none
    &+.breadcrumbs-item
      a
        font-size: 24px
        text-transform: uppercase
        padding: 0 0 0 9px
        line-height: 2.3
        text-decoration: none
        color: #6b6b6b

        &::before
          display: inline-block
          color: #6c757d
          content: "/"
          position: absolute
          top: 0
          left: -11px
    &:last-child
      a
        color: #a25287

.vertical-menu
  ul
    li
      .accordion-item
        padding-bottom: 28px
        .accordion-link
          position: relative
          text-decoration: none
          display: block
          font-size: 18px
          color: #585858
          padding: 24px 0 0 33px
          line-height: 0.7
          text-transform: uppercase
          &.active,
          &:hover,
          &:active
            &::before
              content: ""
              position: absolute
              bottom: -17px
              left: 6px
              width: 191px
              height: 17px
              background: url("../img/accordion_menu_hover.png") 0 0 no-repeat


//  Main page
.content-main
  margin-top: 45px
  padding-bottom: 190px
  p
    margin: 0 auto
    text-align: center
    margin-bottom: 18px
    width: 545px
    &:nth-child(2)
      text-align: justify
      span
        display: block
        text-align: center
  .velo
    background: url("../img/velo_8_full.png") 0 0 no-repeat
    margin: 37px auto 0
    width: 976px
    height: 550px
    background-size: cover
.main-footer
  position: relative
  width: 100%
  height: 486px
  background: url("../img/footer_bg.jpg") 0 0 repeat-x
  border-top: 4px solid rgba(134,136,136,.5)
  .map
    width: 400px
    height: 319px
    margin: 55px 0 0 70px
    background: url("../img/map.jpg") 0 0 no-repeat
  .footer-contact
    width: 620px
    font-size: 18px
    color: #e6e8e9
    text-transform: uppercase
    text-shadow: 1px 1px 0px rgba(28,73,39,.6), -1px -1px 0 rgba(28,73,39,.6), -1px 1px 0 rgba(28,73,39,.6), 1px -1px 0 rgba(28,73,39,.6)
    margin: 57px 0 0 0
    line-height: 1.3
    span
      border-bottom: 1px solid rgba(230,232,233,.3)
  .overlay
    position: absolute
    top: 27px
    left: 0
    background: rgba(0,0,0,.3)
    height: 375px
    width: 100%

// End Main page

//Workshop page
.workshop-wrap
  width: 1122px
  margin: 28px 0 0 52px
  .first-row
    background: #fff
    padding-bottom: 15px
    .head-line
      border-bottom: 2px solid #d9d9d9
      h1
        font-size: 36px
        color: #990066
        text-transform: uppercase
        margin: 8px
    .banner
      text-align: center
      border-bottom: 2px solid #d9d9d9
      border-top: 2px solid #d9d9d9
      margin: 4px 0
      letter-spacing: 1.0px
      line-height: 1.3
      padding: 6px 0 9px 0
  .wrapper-schema
    background: #fff
    padding-bottom: 20px
    border-bottom: 2px solid #d9d9d9
    .call-master,
    .workshop-repair
      h3
        font-family: "Pribambas", sans-serif
        font-size: 18px
        color: #333333
        text-decoration: underline
    .call-master
      h3
        margin: 7px 0 0 -6px
      img
        margin: -8px 0 0 53px
    .workshop-repair
      h3
        margin: 6px 0 0 9px
      img
        margin: 0 0 0 59px
  .border-block
    height: 6px
    border-bottom: 2px solid #d9d9d9
  .content-wrapper
    margin-top: 13px
    padding-bottom: 245px
    .vertical-menu
      padding: 0
      width: 23%
      ul
        background: #fff
        padding-left: 0
        margin: 0
        li
          list-style-type: none
          &:first-child
            a
              border-top: 1px solid transparent
          .menu-link
            position: relative
            display: block
            font-size: 24px
            text-transform: uppercase
            color: #990066
            padding: 10px 28px 10px 34px
            text-decoration: none
            line-height: 1.1
            border-top: 1px solid #dcdcdc
            &:hover,
            &:active,
            &.active
              font-size: 24px
              color: rgb(255, 255, 255)
              text-shadow: 1px 1px 0px #077332, -1px -1px 0 #077332, -1px 1px 0 #077332, 1px -1px 0 #077332
              background: linear-gradient( rgb(60,198,5) 0%, rgb(1,138,35) 100%)
              transition: 0.9s ease, color 0.5s lianer
              border-top: 1px solid rgb(60,198,5)
            &::before
              content: ""
              background: #45af29
              width: 4px
              height: 5px
              position: absolute
              top: 30%
              left: 6%
              padding: 5px 0 0 4px
              box-shadow: 1px 1px 3px 1px rgba(0,0,0,.21)
            &.active
              font-size: 24px
              color: rgb(255, 255, 255)
              text-shadow: 1px 1px 0px #077332, -1px -1px 0 #077332, -1px 1px 0 #077332, 1px -1px 0 #077332
              background: linear-gradient( rgb(60,198,5) 0%, rgb(1,138,35) 100%)
              transition: 0.9s ease, color 0.5s lianer
    .catalog-block
      @include width-colum(77%)
      padding-right: 0
      padding-left: 20px
      h2
        width: 100%
        background: linear-gradient( rgb(60,198,5) 0%, rgb(1,138,35) 100%)
        font-size: 24px
        color: #fefefe
        text-transform: uppercase
        text-align: center
        padding: 15px 0
        margin: 0
        line-height: 1
        text-shadow: 1px 1px 0px #077332, -1px -1px 0 #077332, -1px 1px 0 #077332, 1px -1px 0 #077332
      .item-catalog
        padding: 0 0 0 12px
        margin: 0
        &:nth-child(2n+2)
          padding: 0 12px 0 0
        .item-catalog-block
          background: #f3f4f4
          border: 1px solid #a0a1a1
          margin-top: 23px
          text-align: center
          img
            margin: 13px 0 0
            width: 360px
            border: 1px solid #a0a1a1
          h3
            font-size: 18px
            color: #5a5a5a
            line-height: 1.0
            padding-bottom: 16px

//End Workshop page

//WorkshopInner page
.workshop-inner
  .workshop-wrap
    .first-row
      .head-line
      .border-block
      .banner
        position: relative
        text-transform: uppercase
        margin: 6px 0
        letter-spacing: 1.0px
        line-height: 1.5
        padding: 6px 0 0px 0
        &::before
          content: ""
          position: absolute
          top: 43px
          left: 40px
          background: url("../img/icon_banner_procent.png") 0 0 no-repeat
          width: 60px
          height: 52px
        &::after
          content: ""
          position: absolute
          top: 38px
          left: 124px
          background: url("../img/icon_banner_search.png") 0 0 no-repeat
          width: 82px
          height: 57px
      .border-block
        height: 0
        position: relative
        &::before
          content: ""
          position: absolute
          top: -91px
          right: 133px
          background: url("../img/icon_banner_track.png") 0 0 no-repeat
          width: 110px
          height: 49px
        &::after
          content: ""
          position: absolute
          top: -89px
          right: 42px
          background: url("../img/icon_banner_velo.png") 0 0 no-repeat
          width: 67px
          height: 46px
  .content-wrapper
    .vertical-menu
    .catalog-block
      .workshop-column-wrapper
        background: #fff
        margin: 0
        padding-bottom: 25px
        margin-bottom: 65px
        .first-workshop-column
          .item-catalog-block
            padding: 0 0 0 16px
        .second-workshop-column
          .item-catalog-block
            padding: 0 16px 0 0
        h3
          font-size: 18px
          color: #993366
          text-transform: uppercase
          text-align: center
          line-height: 0.5
          padding-top: 7px
        .workshop-content
          border: 1px solid #dcdcdc
          font-size: 20px
          color: #747474
          padding: 0px 0 0 24px
          line-height: 1.2
          letter-spacing: -0.7px
          h4
            text-transform: uppercase
            line-height: 0.2
            text-decoration: underline

//End WorkshopInner page


//Catalog page
.catalog
  .workshop-wrap
    .first-row
      padding-bottom: 35px
      .head-line
        h1
          font-size: 50px
          color: #990066
          margin: -6px 0 1px 8px
      .border-block
        height: 7px
      .banner
        @include banner(2px 0 0 13px)
        &.banner-inner
          font-size: 30px
          padding: 2px 0 33px 9px
          margin: 4px 0 0 0
          line-height: 2.0
          letter-spacing: 0.67px

  .content-wrapper
    margin-top: 17px
    .vertical-menu
      @extend .vertical-menu
      ul
        li
          .menu-link
            &:hover,
            &:active,
            &.active
              &::after
                background: url("../img/icon_mnu_zapchasty_hover.png") 0 0 no-repeat

            &::before
              top: 40%
            &::after
              content: ""
              width: 40px
              height: 40px
              background: url("../img/icon_mnu_zapchasty.png") 0 0 no-repeat
              position: absolute
              top: 2px
              right: 9px
        li
          &:nth-child(2)
            .menu-link
              &:hover,
              &:active,
              &.active
                &::after
                  background: url("../img/icon_mnu_computer_hover.png") 0 0 no-repeat
              &::after
                content: ""
                width: 25px
                height: 38px
                background: url("../img/icon_mnu_computer.png") 0 0 no-repeat
                position: absolute
                top: 4px
                right: 16px
        li
          &:nth-child(3)
            .menu-link
              &:hover,
              &:active,
              &.active
                &::after
                  background: url("../img/icon_mnu_jacket_hover.png") 0 0 no-repeat
              &::after
                content: ""
                width: 35px
                height: 37px
                background: url("../img/icon_mnu_jacket.png") 0 0 no-repeat
                position: absolute
                top: 4px
                right: 11px
        li
          &:nth-child(4)
            .menu-link
              &:hover,
              &:active,
              &.active
                &::after
                  background: url("../img/icon_mnu_services_hover.png") 0 0 no-repeat
              &::after
                content: ""
                width: 52px
                height: 24px
                background: url("../img/icon_mnu_services.png") 0 0 no-repeat
                position: absolute
                top: 7px
                right: 4px
        li
          &:nth-child(5)
            .menu-link
              &:hover,
              &:active,
              &.active
                &::after
                  background: url("../img/icon_mnu_velo_hover.png") 0 0 no-repeat
              &::after
                content: ""
                width: 47px
                height: 35px
                background: url("../img/icon_mnu_velo.png") 0 0 no-repeat
                position: absolute
                top: 15px
                right: 8px

    .catalog-block
      h2
        padding: 13px 0
      .catalog-wrapper
        .item-catalog-menu
          padding: 0 7px
          &:nth-child(2n+2)
            padding: 0 7px
          &:nth-child(3n+2)
            margin: 0 0 0 3px
            padding-bottom: 10px
          &:nth-child(3n+1)
            margin: 0 0 0 -7px
            padding-bottom: 10px
          &:nth-child(3n+3)
            margin: 0 0 0 3px
            padding: 0 0 10px 7px

        .item-catalog-block
          margin-top: 8px
          img
            width: 236px
            height: 181px
          .description
            margin-top: 33px
            p
              font-size: 18px
              color: #5a5a5a
              line-height: 0.2
            .price
              color: #548e45
              line-height: 2.3

//End Catalog page

// Catalog Accessory page
.catalog
  .workshop-wrap
    .first-row
      .head-line
        .breadcrumbs
          @extend .breadcrumbs
  .content-wrapper
    .vertical-menu
    .catalog-block
      .catalog-wrapper
        margin-top: 16px
        .item-catalog-menu
          .item-catalog-block
            .description
              .title-item
                &.title-item-inner
                  padding: 3px 6px 0 0
                  line-height: 1.2
                  margin: 0 0 24px 0
                font-size: 18px
                color: #5a5a5a
                padding: 40px 6px 59px 0px
              .catalog-price
                display: inline-block
                font-size: 18px
                color: #548e45
                border: 2px solid #018a23
                line-height: 1.2
                padding: 2px 8px
                margin-bottom: 19px

// End Catalog Accessory page

// Report page

.report
  .workshop-wrap
    .first-row
      .head-line
        .breadcrumbs
          @extend .breadcrumbs
      .banner
        @include banner(8px 0 8px 13px)
        line-height: 1.2
        letter-spacing: 0.7px
        &.report
          line-height: 1.8
    .content-wrapper
      .catalog-block
        @include width-colum(100%)
        padding-left: 0
        .catalog-wrapper
          margin-top: 0
          &.catalog-wrapper
            margin-top: 0
          .item-catalog-menu
            @extend .item-catalog-menu
            .item-catalog-block
              border: none
              background: #fff
              margin-top: 0
              padding-bottom: 20px
              &.report-item-block
                background: #f3f4f4
                border: 1px solid #a0a1a1
                margin-top: 23px
                text-align: center
                padding-bottom: 42px
                .report-item
                  margin: 13px 0 0
                  width: 327px
                  border: 1px solid #a0a1a1
                p
                  color: #5a5a5a
                  padding-top: 8px


              img
                border: none
                width: 100%
                margin-top: 0
              .description
                font-size: 18px
                color: #747474
                line-height: 1.2
                padding: 4px 0 0 0

// End Report page

// Rent page
.rent
  .workshop-wrap
    .first-row
      .head-line
        padding-bottom: 7px
      .banner
        &.rent
          text-align: left
          letter-spacing: 0.6px
          line-height: 1.6
          padding: 6px 0 9px 13px
      .border-block
        height: 0
  .content-wrapper
    .vertical-menu
      @extend .vertical-menu
      ul
        li
          .menu-link
            padding: 10px 44px 10px 34px
            &::before
              top: 45%
          &:nth-child(1)
            .menu-link
              &:hover,
              &:active,
              &.active
                &::after
                  background: url("../img/icon_rent_velo_hover.png") 0 0 no-repeat
              &::after
                content: ""
                width: 48px
                height: 33px
                background: url("../img/icon_rent_velo.png") 0 0 no-repeat
                position: absolute
                top: 4px
                right: 11px
        li
          &:nth-child(2)
            .menu-link
              &:hover,
              &:active,
              &.active
                &::after
                  background: url("../img/icon_mnu_velo_hover.png") 0 0 no-repeat
              &::after
                content: ""
                width: 47px
                height: 35px
                background: url("../img/icon_mnu_velo.png") 0 0 no-repeat
                position: absolute
                top: 18px
                right: 11px
        li
          &:nth-child(3)
            .menu-link
              &:hover,
              &:active,
              &.active
                &::after
                  background: url("../img/icon_rent_velo_hover.png") 0 0 no-repeat
              &::after
                content: ""
                width: 51px
                height: 37px
                background: url("../img/icon_rent_velo_flex.png") 0 0 no-repeat
                position: absolute
                top: 15px
                right: 11px
        li
          &:nth-child(4)
            .menu-link
              &:hover,
              &:active,
              &.active
                &::after
                  background: url("../img/icon_rent_velo_hover.png") 0 0 no-repeat
              &::after
                content: ""
                width: 59px
                height: 35px
                background: url("../img/icon_rent_velo_accessory.png") 0 0 no-repeat
                position: absolute
                top: 4px
                right: 11px
        li
          &:nth-child(5)
            .menu-link
              &:hover,
              &:active,
              &.active
                &::after
                  background: url("../img/icon_rent_repair_hover.png") 0 0 no-repeat
              &::after
                content: ""
                width: 49px
                height: 43px
                background: url("../img/icon_rent_repair.png") 0 0 no-repeat
                position: absolute
                top: 1px
                right: 11px

    .catalog-block
      margin: 0
      .catalog-wrapper
        margin-top: 16px
        .catalog-description-row
          margin: 0
          .catalog-description
            position: relative
            background: #fff
            font-size: 23px
            color: #747474
            padding: 0 0 0 18px
            line-height: 1.2
            h3
              font-size: 23px
              text-transform: uppercase
              line-height: 0.5
        .catalog-column-wrapper
          margin-top: 16px
          position: relative
          .catalog-column
            padding: 0 24px 0 12px
            img
              width: 100%
            &.first-catalog-column

            &.second-catalog-column
              padding: 0 12px 0 0
            .item-catalog-block
              background: #fff
              .description
                text-align: center
                .title-item
                  font-size: 18px
                  color: #747474
                  padding: 28px 0
                  border-top: 2px solid #e5e5e5


// End Rent page

//Review page
.review
  .workshop-wrap
    .first-row
      padding-bottom: 20px
      .head-line
      .banner-wrapper
        position: relative
        .social-review
          position: absolute
          top: -15px
          right: 14px
          ul
            li
              display: inline-block
              padding-left: 10px
              &:nth-child(1)
                a
                  position: relative
                  display: block
                  width: 46px
                  height: 46px
                  background: url("../img/vk_review_hover.png") 0 0 no-repeat
                  &:hover
                    background: url("../img/vk_review.png") 0 0 no-repeat
                    width: 46px
                    height: 46px
              &:nth-child(2)
                a
                  position: relative
                  display: block
                  width: 46px
                  height: 46px
                  background: url("../img/google_review_hover.png") 0 0 no-repeat
                  &:hover
                    background: url("../img/google_review.png") 0 0 no-repeat
                    width: 46px
                    height: 46px
              &:nth-child(3)
                a
                  position: relative
                  display: block
                  width: 46px
                  height: 46px
                  background: url("../img/yandex_review_hover.png") 0 0 no-repeat
                  &:hover
                    background: url("../img/yandex_review.png") 0 0 no-repeat
                    width: 46px
                    height: 46px



        .banner
          position: relative
          text-align: left
          padding: 15px 0 9px 11px
          letter-spacing: 0.5px

      .border-block
        height: 0
  .content-wrapper
    .item-review
      padding: 0
      .item-review-block
        background: #f3f4f4
        border: 1px solid #a0a1a1
        padding: 12px 0 26px 34px
        margin: 6px 0
        img
          display: inline-block
          position: relative
          float: left
          width: 120px
          height: 120px
          margin-top: 10px
          margin-left: -9px
          border-radius: 50%
        .description-review
          display: inline-block
          padding: 0 15px 0 55px
          .client-name
            display: block
            font-size: 24px
            color: #333333
          .client-review
            display: block
            font-size: 24px
            color: #5a5a5a
            line-height: 1.2
            letter-spacing: -0.1px

// End Review page

// Contact page
.contact
  .workshop-wrap
    width: 1200px
    padding: 0 15px 16px
    margin-bottom: 100px
    background: #fff
    .first-row
      .head-line
      .border-block
        height: 6px
    img
      margin-left: 43px
      width: 1083px
      border: 1px solid #b8b8b8
    .block-contact
      margin: -23px 0 0 0
      padding: 0 0 9px 44px
      line-height: 1.2
      .title-block-contact
        display: inline-block
        text-transform: uppercase
        border-bottom: 1px solid #d1d1d1
        line-height: 1
        margin-top: 55px
        &.worktime
          margin-top: 31px
        &.second-block
          margin-left: 40px
      p
        margin: 0
        padding: 0 24px 0 0
        letter-spacing: 0.5px
        text-align: justify

      .contact-item-wrapper
        margin: 16px 0 0 0
        .contact-item
          margin: 10px 0 0 -30px
          span
            letter-spacing: -0.5px
          a
            background: url("../img/phone-contact.png") 0 0 no-repeat
            display: inline-block
            width: 46px
            height: 46px
            position: relative
            vertical-align: bottom
            &:hover
              background: url("../img/phone-contact_hover.png") 0 0 no-repeat
              width: 46px
              height: 46px
          &:nth-child(2)
            a
              background: url("../img/whatsapp-contact.png") 0 0 no-repeat
              display: inline-block
              width: 47px
              height: 47px
              position: relative
              vertical-align: bottom
              &:hover
                background: url("../img/whatsapp-contact_hover.png") 0 0 no-repeat
                width: 47px
                height: 47px
          &:nth-child(3)
            a
              background: url("../img/telegram-contact.png") 0 0 no-repeat
              display: inline-block
              width: 44px
              height: 44px
              position: relative
              vertical-align: bottom
              &:hover
                background: url("../img/telegram-contact_hover.png") 0 0 no-repeat
                width: 44px
                height: 44px
          &:nth-child(4)
            a
              background: url("../img/email-contact.png") 0 0 no-repeat
              display: inline-block
              width: 43px
              height: 43px
              position: relative
              vertical-align: bottom
              &:hover
                background: url("../img/email-contact_hover.png") 0 0 no-repeat
                width: 43px
                height: 43px
          &:nth-child(5)
            a
              background: url("../img/vk-contact.png") 0 0 no-repeat
              display: inline-block
              width: 44px
              height: 44px
              position: relative
              vertical-align: bottom
              &:hover
                background: url("../img/vk-contact_hover.png") 0 0 no-repeat
                width: 44px
                height: 44px
          &:nth-child(6)
            a
              background: url("../img/instagram-contact.png") 0 0 no-repeat
              display: inline-block
              width: 43px
              height: 43px
              position: relative
              vertical-align: bottom
              &:hover
                background: url("../img/instagram-contact_hover.png") 0 0 no-repeat
                width: 43px
                height: 43px
          &:nth-child(7)
            a
              background: url("../img/icon-contact.png") 0 0 no-repeat
              display: inline-block
              width: 43px
              height: 43px
              position: relative
              vertical-align: bottom
              &:hover
                background: url("../img/icon-contact_hover.png") 0 0 no-repeat
                width: 43px
                height: 43px

          span
            display: inline-block
            vertical-align: top
            margin: 6px 0 0 18px
  .main-footer
    height: 154px







// End Contact page
