$red: #ed1c24
$white_txt: #fefefe
$content_txt: #333
$grey-light: #f2f2f2
$grey-dark: #e9e9e9
$regular: "Casper", Helvetica, Arial, sans-serif
$bold: "CasperBold", Helvetica, Arial, sans-serif
$italic: "CasperItalic", Helvetica, Arial, sans-serif
$italic_bold: "CasperBoldItalic", Helvetica, Arial, sans-serif

html
	height: 100%

body
	display: flex
	flex-direction: column
	font-family: "Casper", Helvetica, Arial, sans-serif
	font-size: 16px
	color: $content_txt
	min-height: 100%
	min-width: 320px
	margin: 0
	padding: 0
	box-sizing: border-box
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	text-rendering: geometricPrecision
header
	flex: 0 0 auto
main
	flex: 1 0 auto
footer
	flex: 0 0 auto

h1,
h2,
h3,
h4,
h5,
h6
	font-weight: normal
	margin: 0
	letter-spacing: 0.5px
h1
	font-family: $bold
	font-size: 3.1em

h4
	font-size: 1.4em

p
	margin-top: 1.5em

ul
	list-style-type: none
	padding: 0
	margin: 0

button
	cursor: pointer
	transition: all 0.4s ease-in-out
	&:hover
		color: $red
		border: 2px solid $red
		background: transparent
a
	display: inline-block
	text-decoration: none
	color: $red
	cursor: pointer
	outline: none
	transition: all 0.4s ease-in-out
	&:hover
		text-decoration: none
.clearfix
	clear: both
.container
	position: relative
	width: 100%
	max-width: 1160px
	margin: 0 auto
.row
	position: relative
	display: flex
	justify-content: space-between
	align-items: flex-start
	flex-wrap: wrap
	&.reverse
		flex-direction: row-reverse
	&.contacts
		background: #efefef
.header-bg
	position: relative
	width: 100%
	height: 100vh
	background: url("../img/header_bg.jpg") 0 0 no-repeat #2e5652
	background-attachment: fixed
	background-size: cover

.header-bg_overlay
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: rgba(0,0,0,.5)
.menu-wrap_list
	text-align: left
.menu-wrap_list_item
	display: inline-block
	margin: 0 18px
	border-top: 5px solid transparent
	transition: all 0.2s ease-in-out
	&:hover,
	&.active
		border-top: 5px solid $red
	a
		display: block
		padding: 30px 0
		color: $white_txt
		letter-spacing: 0.4px
.phone-wrap
	padding-top: 36px
	font-family: $bold
	color: $white_txt
.description-block
	position: absolute
	text-align: center
	top: calc(50% - 225px)
	left: calc(50% - 425px)
.description-block_big-txt
	color: $white_txt
	position: relative
	margin: 65px 0 0 13px
	font-size: 4.3em
	font-family: $bold
	letter-spacing: 0.6px
	line-height: 2.5
	&::after
		content: ""
		display: block
		width: 122px
		height: 5px
		position: absolute
		bottom: 0
		left: calc(50% - 61px)
		background: $red

.description-block_small-txt
	color: $white_txt
	font-size: 1.4em
	line-height: 1.75
	margin: 40px 0 0 11px
	letter-spacing: -0.2px
.arrow
	position: absolute
	display: block
	bottom: 30px
	left: calc(50% - 21px)
	animation: move-down 2s infinite ease-in-out

@keyframes move-down
	0%
    transform: translateY(0)
	50%
    transform: translateY(10px) scale(1.1)
	100%
    transform: translateY(0)


.arrow-down
	position: relative
	display: inline-block
	text-align: center
	width: 42px
	height: 42px
	border-radius: 50%
	background: $white_txt
	&::before
		content: ""
		position: absolute
		bottom: calc(50% - 8px)
		left: calc(50% - 5px)
		width: 8px
		height: 8px
		border-left: 2px solid $red
		border-bottom: 2px solid $red
		transform: rotate(-45deg)
		z-index: 1
	&::after
		content: ""
		position: absolute
		bottom: calc(50% - 9px)
		left: calc(50% - 1px)
		width: 8px
		height: 17px
		border-left: 2px solid $red


.btn-red
	font-family: $regular
	color: $white_txt
	font-size: 1em
	background: $red
	border: 2px solid transparent
	border-radius: 5px
	padding: 13px 46px
	outline: none
	margin: 82px 0 0 0
	&.desc
		font-size: 1.1em
		&:hover
			color: $white_txt
			border: 2px solid $white_txt
			background: transparent
	&.second
		padding: 14px 45px
		margin: 24px 0
	&.form
		margin: 0 0 0 25px
		vertical-align: top
	&.block-dev
		margin: 52px 55px 0 0
		padding: 14px 45px
	&.contacts
		margin: 22px 115px 0 0
		padding: 14px 42px

.bg-light
		background: $grey-light
.red-line
	&::after
		content: ""
		display: block
		width: 209px
		height: 10px
		position: absolute
		top: 100px
		left: calc(50% - 159px)
		background: $red
		z-index: 2

.s-title
	position: relative
	color: #333
	text-transform: uppercase
	text-align: center
	letter-spacing: 3.2px
	font-family: $bold
	font-size: 1em
	padding: 35px 0
	margin: 0
	box-shadow:  0 2px 5px 0 rgba(0, 0, 0, 0.2)
	z-index: 1
	&.second
		z-index: 2
.s-first,
.s-second
	position: relative
	flex: 50%
	height: 600px
.s-first
	background: url("../img/photo1.jpg") 0 0 no-repeat
	background-size: cover
	&.second-row
		background: url("../img/photo2.jpg") 0 0 no-repeat
		height: 630px
	&.block-dev
		background: $grey-dark
		height: 100%
	&.map
		background: url("../img/map.jpg") 0 0 no-repeat
		height: 460px

.s-block_photo_bottom
	position: absolute
	bottom: 0
	left: 0
	width: 100%
	height: 34%
	overflow: hidden

.s-block_photo_bottom_figure-left
	position: absolute
	top: 0
	left: -10px
	width: 100%
	height: 100%
	background: rgba(164, 20, 24, 1)
	transform: rotate(9deg) translate(0px, 210px)

.s-block_photo_bottom_figure-right
	position: absolute
	top: 0
	right: -191px
	width: 100%
	height: 100%
	background: rgba(237, 20, 24, 0.4)
	transform: rotate(-13deg) translate(0px, 180px)

.s-block_photo_bottom_figure-top
	position: absolute
	top: 0
	right: 0px
	width: 112%
	height: 100%
	background: rgba(215, 40, 40, 0.9)
	transform: rotate(-4deg) translate(0px, 141px)

.s-block_photo_bottom_figure-top-overlay
	position: absolute
	top: 0
	right: 0px
	width: 112%
	height: 100%
	background: rgba(255, 255, 255, 0.9)
	transform: rotate(-4deg) translate(0px, 141px)

.s-block_photo_bottom_figure-top-overlay-top
	position: absolute
	top: 0
	right: 0px
	width: 112%
	height: 100%
	background: rgba(215, 40, 40, 0.7)
	transform: rotate(-4deg) translate(0px, 141px)

.s-second
	&.aling-right
		text-align: right
	&.block-dev
		height: 100%
	&.contact
		height: 100%
	&.contacts
		min-height: 412px

.s-block_content
	width: 580px
	float: left
	text-align: left
	padding: 49px 0 49px 0
	&.aling-right
		width: 580px
		float: right
		text-align: left
		padding: 49px 0 49px 0
	&.block-dev
		width: 540px
		float: right
		text-align: right
		padding: 89px 61px 49px 0
	&.contact
		width: 380px
		padding: 65px 0 45px 60px
	&.contacts
		padding: 100px 61px 90px 0


.s-block_content_title
	font-size: 1.8em
	line-height: 1.7
	letter-spacing: 0.6px
	font-weight: normal
	padding: 0
	margin: 1em 0
	&.first
		padding: 0 0 0 80px
	&.form
		margin: 0
	&.odd
		font-size: 1.5em
		line-height: 1.5
	&.block-dev
		margin: 0
		line-height: 1.6
	&.contacts
		line-height: 1.5
		margin-bottom: 47px



.s-block_content_text
	line-height: 2.3
	padding: 15px 0 0 80px
	&.contact
		line-height: 1.9
		margin: 0
		padding: 5px 0 30px 0
	&.block-dev
		position: relative
		padding: 0 50px 0 0
		margin: 10px 0 0 0
		line-height: 1.9
		&::after
			content: ""
			position: absolute
			top: calc(50% - 35px)
			right: 0
			width: 10px
			height: 71px
			background: $red
.list
	display: flex

.s-block_content_link
	line-height: 3.9
	padding-left: 80px

.s-block_content_list_left,
.s-block_content_list_right
	margin: 0 16px 0 25px
	list-style: none
	counter-reset: count_left


.s-block_content_list_right
	margin: 0 0 0 12px
	counter-reset: count_right 4

.s-block_content_list_left_item,
.s-block_content_list_right_item
	line-height: 1.8
	text-indent: -64px
	padding: 17px 9px 14px 0

.s-block_content_list_left_item
	&::before
		content: counter(count_left) ". "
		counter-increment: count_left
		color: $red
		font-size: 1.2em
		font-family: $bold
		padding: 8px 6px 8px 14px
		background: #f2f2f2
		border-radius: 50%
		margin-right: 23px

.s-block_content_list_right_item
	&::before
		content: counter(count_right) ". "
		counter-increment: count_right
		color: $red
		font-size: 1.2em
		font-family: $bold
		padding: 8px 6px 8px 14px
		background: #f2f2f2
		border-radius: 50%
		margin-right: 23px

.video-wrap,
.icon-wrap
	flex: 50%
.video-wrap
	position: relative
	padding-right: 0
.video-overlay
	position: absolute
	background: $red
	top: calc(50% - 20px)
	left: calc(50% - 30px)
	width: 60px
	height: 40px
	border-radius: 9px
	opacity: 1
	transition: all 1s
	&::before
		content: ""
		position: absolute
		top: calc(50% - 9px)
		left: calc(50% - 9px)
		width: 0
		height: 0
		border-top: 9px solid transparent
		border-left: 18px solid #fff
		border-bottom: 9px solid transparent
.video-overlay-pause
	position: absolute
	background: rgba(0,0,0,.5)
	top: calc(50% - 30px)
	left: calc(50% - 30px)
	width: 60px
	height: 60px
	border-radius: 50%
	opacity: 0
	transition: all 1s
	&::before
		content: ""
		position: absolute
		top: calc(50% - 11px)
		left: calc(50% - 6px)
		width: 8px
		height: 22px
		border-right: 2px solid rgba(255,255,255,.5)
		border-left: 2px solid rgba(255,255,255,.5)
.video-overlay-play
	position: absolute
	background: rgba(0,0,0,.5)
	top: calc(50% - 30px)
	left: calc(50% - 30px)
	width: 60px
	height: 60px
	border-radius: 50%
	opacity: 0
	transition: all 1s
	&::before
		content: ""
		position: absolute
		top: calc(50% - 9px)
		left: calc(50% - 6px)
		width: 0
		height: 0
		border-top: 9px solid transparent
		border-left: 18px solid rgba(255,255,255,.5)
		border-bottom: 9px solid transparent
.video
	height: 410px
.video-wrapper
	position: relative
.video-desc
	background: #fff
	padding: 8px 31px 20px

.video-desc_text
	font-size: 0.88em
	line-height: 2
	margin-top: -14px

.icon-wrap
	padding: 60px 0 0 0

.icon-wrap_item
	padding-left: 0
	display: block
	width: 30%
	float: left
	margin: 0 0 0 19px
	height: 225px
	&:nth-child(1)
		.icon-wrap_item_block-icon
			&::before
				content: ""
				position: absolute
				top: calc(50% - 20px)
				left: calc(50% - 25px)
				width: 50px
				height: 40px
				background: url("../img/icon_house.png") 0 0 no-repeat
	&:nth-child(2)
		.icon-wrap_item_block-icon
			&::before
				content: ""
				position: absolute
				top: calc(50% - 21px)
				left: calc(50% - 20px)
				width: 40px
				height: 43px
				background: url("../img/icon_celsius.png") 0 0 no-repeat
	&:nth-child(3)
		.icon-wrap_item_block-icon
			&::before
				content: ""
				position: absolute
				top: calc(50% - 24px)
				left: calc(50% - 20px)
				width: 41px
				height: 49px
				background: url("../img/icon_lightbulb.png") 0 0 no-repeat
	&:nth-child(4)
		padding-top: 30px
		.icon-wrap_item_block-icon
			&::before
				content: ""
				position: absolute
				top: calc(50% - 17px)
				left: calc(50% - 17px)
				width: 34px
				height: 34px
				background: url("../img/icon_brickwall.png") 0 0 no-repeat
	&:nth-child(5)
		padding-top: 30px
		.icon-wrap_item_block-icon
			&::before
				content: ""
				position: absolute
				top: calc(50% - 20px)
				left: calc(50% - 15px)
				width: 30px
				height: 39px
				background: url("../img/icon_fire.png") 0 0 no-repeat
	&:nth-child(6)
		padding-top: 30px
		.icon-wrap_item_block-icon
			&::before
				content: ""
				position: absolute
				top: calc(50% - 17px)
				left: calc(50% - 17px)
				width: 35px
				height: 35px
				background: url("../img/icon_fan.png") 0 0 no-repeat

.icon-wrap_item_block-icon
	position: relative
	width: 100px
	height: 100px
	background: #fff
	border-radius: 50%
	margin: 0 auto

.icon-wrap_item_desc
	text-align: center
	font-size: 0.87em
	p
		margin-top: 0.9em
		line-height: 1.5
.bg-dark
	background: $grey-dark

.form-wrap
	padding: 50px 0 47px
.form-part-contact
	padding: 36px 0

.form-part-options
	padding: 17px 0

input[type="text"],
input[type="tel"],
input[type="email"],
textarea
	background: #fff
	border: none
	border-radius: 5px
	width: 203px
	padding: 15px 23px
	margin: 0 34px 0 28px
	color: $content_txt
	font-family: $regular
	font-size: 1em
	&:focus
		outline: none
textarea
	resize: vertical
input[type="tel"],
input[type="email"]
	width: 166px
	&.phone-input
		width: 203px

input[type="email"]
	margin-right: 0

input
	&::-webkit-input-placeholder
		font-family: $regular
		font-size: 1em
		color: #ccc
	&::-moz-placeholder
		font-family: $regular
		font-size: 1em
		color: #ccc
	&:-moz-placeholder
		font-family: $regular
		font-size: 1em
		color: #ccc
	&:-ms-input-placeholder
		font-family: $regular
		font-size: 1em
		color: #ccc
	&::-webkit-input-placeholder
    opacity: 1
    transition: opacity 0.3s ease
	&::-moz-placeholder
    opacity: 1
    transition: opacity 0.3s ease
	&:-moz-placeholder
    opacity: 1
    transition: opacity 0.3s ease
	&:-ms-input-placeholder
    opacity: 1
    transition: opacity 0.3s ease
	&:focus::-webkit-input-placeholder
    opacity: 0
    transition: opacity 0.3s ease
	&:focus::-moz-placeholder
    opacity: 0
    transition: opacity 0.3s ease
	&:focus:-moz-placeholder
    opacity: 0
    transition: opacity 0.3s ease
	&:focus:-ms-input-placeholder
    opacity: 0
    transition: opacity 0.3s ease

.radio
	display: none
	&:checked
		& +.radio-custom
			&::before
				content: ""
				display: block
				position: absolute
				top: 10px
				bottom: 10px
				left: 10px
				right: 10px
				border-radius: 50%
				background: $red

.radio-custom
	display: inline-block
	position: relative
	width: 30px
	height: 30px
	border-radius: 50%
	background: #fff
	margin: 0 0 0 35px

.label
	display: inline-block
	margin: 0px 7px 0 22px

.form-info
	display: inline-block
	font-family: $italic
	vertical-align: middle
	margin: -6px 0 0 12px
	font-size: 0.8em
	color: #666
	line-height: 1.6
.form-part-options_title,
.label,
.radio-custom
	vertical-align: text-bottom
.s-block-slider-left
	float: left
.s-block-slider-left,
.s-block-slider-right
	position: relative
	display: block
	float: left
	width: 50%
.s-block-slider_item
	position: relative
	height: 100%
.overlay-desc
	position: absolute
	text-align: right
	bottom: 0
	left: 0
	width: 100%
	min-height: 148px
	background: rgba(0,0,0,.6)
	z-index: 1
.overlay-desc_text
	width: 50%
	float: right
	color: #fff
	word-wrap: break-word
	padding: 20px 60px 20px 20px
	p
		padding-top: 5px
		margin: 0
		line-height: 2
.overlay-desc_title
	font-family: $bold
	font-size: 1.4em
	margin: 0
	margin-top: 10px
.owl-dots
	width: 50%
	position: absolute
	bottom: 0
	left: 0
	padding: 0 0 33px 60px
	z-index: 2
.owl-carousel
	button
		&:focus
			outline: none
		&.owl-dot
			width: 14px
			height: 14px
			border: 2px solid #fff
			border-radius: 50%
			margin-right: 13px
			&.active
				background: #fff
.main-dot
	width: 14px
	height: 14px
	border: 2px solid #fff
	border-radius: 50%
	margin-right: 13px
	&.active
		background: #fff
.owl-carousel
	.owl-drag
	 .owl-item
		 margin-right: 0
.form-wrapper
	float: left
	text-align: right
	padding: 104px 0 80px 56px
.form-phone-wrap
	margin: 30px 0 0 0
.contact-title
	font-family: $regular
.social-wrap
	margin-top: 20px
.social-item
	display: inline-block
	margin-right: 16px
.social-item_link
	position: relative
	display: block
	vertical-align: middle
	text-align: center
	width: 29px
	height: 29px
	color: #fff
	background: #d5d5d5
	font-size: 1.1em
	border-radius: 50%
	transition: .4s ease-in-out
	&.instagram
		&::before
			content: "\f16d"
			position: absolute
			top: calc(50% - 9px)
			left: calc(50% - 7px)
			font-family: "FontAwesome"
	&.vk
		&::before
			content: "\f189"
			position: absolute
			top: calc(50% - 9px)
			left: calc(50% - 10px)
			font-family: "FontAwesome"
	&.fb
		&::before
			content: "\f09a"
			position: absolute
			display: block
			top: calc(50% - 8px)
			left: calc(50% - 5px)
			font-family: "FontAwesome"
	&:hover
		color: #fff
		background: #336ac5
.main-footer
	width: 100%
	background: #efefef
	padding-bottom: 40px
.col-first,
.col-second
	padding: 18px 0
.col-first
	text-align: left
.col-second
	text-align: right

.menu-footer_list_item
	position: relative
	display: inline-block
	a
		position: relative
		display: block
		padding: 40px 40px 40px 0
		color: #000
		font-size: 1em
		&:hover,
		&.active
			color: $red
.address
	span
		display: inline-block
		margin-right: 40px
.copyright
	display: inline-block
	font-size: 0.9em
	padding: 40px 40px 30px
.copyright-dev
	display: block
	margin-left: 40px
	text-align: left
	span
		display: inline-block
		color: #b4b2b3
		font-size: 0.65em
		margin-left: 10px
		vertical-align: top


//
// Projects and Prices
//
.header-inner
	position: fixed
	width: 100%
	background: #fff
	box-shadow:  0 2px 5px 0 rgba(0, 0, 0, 0.2)
	z-index: 3
.logo-inner
	display: block
	padding: 9px 38px 4px
.menu-wrap_list
	&.inner
		margin-left: 28px
.menu-wrap_list_item
	&.inner
		a
			color: $content_txt
.phone-wrap
	&.inner
		color: $content_txt
.navigation
	flex-flow: column
	padding: 57px 0 34px 0
	margin-top: 100px
.breadcrumbs
	margin-bottom: 33px
.breadcrumbs_item
	position: relative
	display: inline-block
	&:last-child
		a
			color: $content_txt
	&:first-child
		a
			padding: 0 15px 0 0
			&::before
				content: none
			&::after
				content: none
	a
		display: block
		padding: 0 15px 0 33px
		color: $red
		letter-spacing: 0.4px
		&::before
			content: ""
			position: absolute
			top: calc(50% - 3px)
			left: 4px
			width: 5px
			height: 5px
			border-left: 2px solid $content_txt
			border-bottom: 2px solid $content_txt
			transform: rotate(-135deg)
			z-index: 1
		&::after
			content: ""
			position: absolute
			top: 50%
			left: 0
			width: 11px
			height: 0
			border-top: 1px solid $content_txt
		&:hover,
		&.active
			color: $red
//
// Projects catalogue
//
.catalogue
	display: flex
	justify-content: space-around
	flex-flow: wrap
.catalogue_item
	position: relative
	flex: 1 0 400px
	overflow: hidden
	&:hover
		.catalogue_item-desc
			transform: translateY(50px)
			opacity: 0

	img
		width: 100%
		height: 100%
.catalogue_item-desc
	text-align: left
	color: #fff
	min-height: 53px
	z-index: 0
	transform: translateY(0)
	opacity: 1
	transition: all .5s
.catalogue_item-desc_text
	padding: 10px 30px 20px
.catalogue_item-desc_title
	padding: 20px 30px 0
	margin: 0
.catalogue_item-desc_square
	display: inline-block
	margin-right: 25px
.catalogue_item-desc_price
	display: inline-block
	float: right
	font-size: 1.1em
	font-family: $bold

//
// Projects item
//

.slider
	position: relative
	height: 440px
	width: 100%
	overflow: hidden
	transition: 1s
.slide
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	opacity: 0
	z-index: 1
	transition: opacity 1s
	&.showing
		opacity: 1
		z-index: 2
.slide-img-wrap
	display: flex
	img
		width: 100%
		object-fit: cover
		object-position: center
.slide_item-desc
	min-height: 0
	text-align: right
.slide-text
	padding: 33px 50px 17px
.slider_navigation
	display: inline-block
	position: absolute
	bottom: 0
	left: 0
	padding: 35px 28px
	z-index: 2
.slide-text_price
	font-size: 1.9em
	margin-left: 50px
.slide-align
	display: inline-block
	line-height: 2.5
.slider-btn
	position: absolute
	top: 32px
	right: 41px
	padding: 13px 49px
	margin: 0
	font-size: 1.1em
	z-index: 2
	&:hover
		opacity: .9
		background: $red
		color: $white_txt
		border-color: $red
.dot
	display: inline-block
	width: 10px
	height: 10px
	border: 2px solid #fff
	border-radius: 50%
	margin-right: 13px
	&.active
		background: #fff
.download_file
	position: relative
	font-size: 1.1em
	text-align: right
	margin: -94px 0 14px 0
	a
		display: inline-block
		position: relative
		letter-spacing: 0.4px
		padding: 30px 0 30px 22px
		&::before
			content: ""
			position: absolute
			bottom: 36px
			left: 0
			width: 5px
			height: 5px
			border-left: 2px solid $red
			border-bottom: 2px solid $red
			transform: rotate(-45deg)
			z-index: 1
		&::after
			content: ""
			position: absolute
			bottom: 36px
			left: 2px
			width: 8px
			height: 12px
			border-left: 2px solid $red
.left,
.right
	flex: 50%
	min-height: 840px
.right
	background: $grey-light
.content_overlay
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
.table_list
	padding: 25px 0 0 0
	border-spacing: 0 27px
	letter-spacing: 0.5px
	counter-reset: count
.thead_list,
.tfoot_list
	font-size: 1.5em
	line-height: 1.7
.tfoot_list
	padding: 0
.tr_list
	&::before
		display: inline-block
		content: counter(count) ". "
		counter-increment: count
		color: $red
		font-size: 1.2em
		font-family: $bold
		padding: 10px 13px 10px 15px
		background: #f2f2f2
		border-radius: 50%
		margin-right: 15px

	td
		padding-right: 15px
		text-align: right
		vertical-align: text-top
		&:first-child
			text-align: left
			max-width: 264px
			letter-spacing: 0
			line-height: 1.7
			padding-right: 30px
.schema
	padding: 62px 0 0 0
.img_full
	h4
		letter-spacing: 1.3px
		margin-bottom: 36px
	a
		position: relative
		padding: 15px 0 15px 18px
		margin-bottom: 30px
		&::before
			content: ""
			position: absolute
			bottom: 23px
			left: 0
			width: 8px
			border-bottom: 2px solid $red
			z-index: 1
		&::after
			content: ""
			position: absolute
			bottom: 20px
			left: 3px
			height: 8px
			border-left: 2px solid $red


.schema,
.img_full
	display: flex
	flex-direction: column
.img_full,
.img_list
	flex: auto
.img_list
	display: flex
	justify-content: space-between
	flex-flow: row wrap
	width: 520px
.img_list_item
	display: block
	flex: 0 0 30%
	box-sizing: border-box
	height: 124px
	line-height: 0
	img
		display: block
		width: 100%
	&:first-child
		border: 10px solid $grey-dark
.additinal
	flex: 30%
	height: 250px
.catalogue_item-desc_title_additinal_wrap,
.catalogue_item-desc_price_additinal_wrap
	flex: 50%
	align-self: flex-end
.catalogue_item-desc_price_additinal
	font-family: $regular
	font-size: 1em
	text-align: right
	padding: 9px 0
.catalogue_item-desc_title_additinal
	font-size: 1.4em
	line-height: 1.5
	padding: 0
.catalogue_item-desc_additinal
	display: flex
	padding: 13px 21px
.btn-red_catalogue
	padding: 13px 21px

//
// About company
//
.s-grey
	position: relative
	width: 100%
	background: $grey-light
	padding-bottom: 55px

.text-big,
.text-small
	flex: 1 0 50%
.text-big
	font-size: 1.8em
	line-height: 1.8
	padding: 33px 0
	letter-spacing: 0.5px
.text-small
	padding: 67px 0
	line-height: 2.2
	p
		padding: 0 0 0 78px
.text-small_link
	padding: 0 0 0 78px
.s-block_photo_bottom_about
	height: 38%
.s-about-first
	height: 436px
	background: url("../img/about_img1.jpg")
.s-block_content_title_about
	margin: 1em 0 0 0
.s-block_content_text_about
	margin-top: 1em
	padding-top: 0
.s-second_about
	height: auto
.s-block_content_right
	float: right
	padding: 46px 81px 30px 0
.s-about-second
	height: 455px
	background: url("../img/about_img2.jpg")
.s-block_content_about
	padding: 49px 0 40px 0
.s-about-transparent
	background: none
	height: auto
.slider_about
	height: 475px
.slide-text
	padding: 15px 50px 17px 250px
	p
		margin-top: 0
		line-height: 1.9
	h4
		line-height: 1.8
		margin-top: 20px
		letter-spacing: 0.2px
.slider_navigation_about
	padding: 30px 60px
.s-block_photo_bottom_figure-top-overlay-top_about
	top: -46px
	transform: rotate(-3deg) translate(0px, 145px)
.s-block_photo_bottom_figure-right_about
	transform: rotate(-10deg) translate(0px, 202px)
//
// How to order
//
.step-wrapper
	display: flex
	flex-flow: column
	padding-bottom: 70px
	padding-right: 235px
	counter-reset: count_step
.step-item
	padding: 25px 0 0 0
	&:last-child
		.step-item_description
			border-left: 2px solid transparent
			&::before
				content: none
	h3
		font-size: 1.5em
		display: inline-block
		vertical-align: sub
		letter-spacing: 0.5px
	&::before
		display: inline-block
		content: counter(count_step) ". "
		counter-increment: count_step
		color: $red
		font-size: 1.2em
		font-family: $bold
		padding: 10px 13px 10px 15px
		background: #f2f2f2
		border-radius: 50%
		margin-right: 15px
.step-deadline
	font-size: 1.1em
	color: #999
.step-item_description
	position: relative
	padding: 0 40px 23px
	margin: 16px 20px 0
	border-left: 2px solid #c1c1c1
	&::before
		content: ""
		width: 5px
		height: 5px
		border-left: 3px solid #c1c1c1
		border-bottom: 3px solid #c1c1c1
		transform: rotate(-45deg)
		position: absolute
		bottom: 0
		left: -5px
.step-text
	p
		line-height: 1.6
//
// Articles
//
.article-wrapper
	display: flex
	flex-flow: column nowrap
.article-item
	margin-bottom: 55px
.article-photo
	flex: 300px
	img
		width: 300px
		display: block
	& + .article-description
		padding: 0 0 0 37px
.article-description
	flex: 1 1 auto
	width: 780px
	padding: 0
	p
		line-height: 1.9
	a
		color: $content_txt

//
// Contacts
//

.form-wrapper-contacts
	padding: 46px 0 50px 34px
.form-desire-label
	display: inline-block
	line-height: 1.9
	vertical-align: top
