@font-face {
  font-family: "HeliosCond";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/HeliosCond/HeliosCondBold/HeliosCondBold.eot?#iefix") format("embedded-opentype"), url("../fonts/HeliosCond/HeliosCondBold/HeliosCondBold.woff") format("woff"), url("../fonts/HeliosCond/HeliosCondBold/HeliosCondBold.ttf") format("truetype"); }

@font-face {
  font-family: "Pribambas";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Pribambas/Pribambas-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Pribambas/Pribambas-Regular.woff") format("woff"), url("../fonts/Pribambas/Pribambas-Regular.ttf") format("truetype"); }
