.item-catalog-menu, .report .workshop-wrap .content-wrapper .catalog-block .catalog-wrapper .item-catalog-menu {
  padding: 0 7px; }
  .item-catalog-menu:nth-child(2n+2), .report .workshop-wrap .content-wrapper .catalog-block .catalog-wrapper .item-catalog-menu:nth-child(2n+2) {
    padding: 0 7px; }
  .item-catalog-menu:nth-child(3n+2), .report .workshop-wrap .content-wrapper .catalog-block .catalog-wrapper .item-catalog-menu:nth-child(3n+2) {
    margin: 0 0 0 3px;
    padding-bottom: 10px; }
  .item-catalog-menu:nth-child(3n+1), .report .workshop-wrap .content-wrapper .catalog-block .catalog-wrapper .item-catalog-menu:nth-child(3n+1) {
    margin: 0 0 0 -7px;
    padding-bottom: 10px; }
  .item-catalog-menu:nth-child(3n+3), .report .workshop-wrap .content-wrapper .catalog-block .catalog-wrapper .item-catalog-menu:nth-child(3n+3) {
    margin: 0 0 0 3px;
    padding: 0 0 10px 7px; }

.breadcrumbs, .catalog .workshop-wrap .first-row .head-line .breadcrumbs, .report .workshop-wrap .first-row .head-line .breadcrumbs {
  margin: 10px 0 -4px 10px;
  padding: 0; }
  .breadcrumbs .breadcrumbs-item, .catalog .workshop-wrap .first-row .head-line .breadcrumbs .breadcrumbs-item, .report .workshop-wrap .first-row .head-line .breadcrumbs .breadcrumbs-item {
    display: inline-block;
    position: relative;
    margin: -4px 0 0 26px; }
    .breadcrumbs .breadcrumbs-item:first-child, .catalog .workshop-wrap .first-row .head-line .breadcrumbs .breadcrumbs-item:first-child, .report .workshop-wrap .first-row .head-line .breadcrumbs .breadcrumbs-item:first-child {
      margin: -53px 0 -1px -32px; }
      .breadcrumbs a:first-child, .catalog .workshop-wrap .first-row .head-line .breadcrumbs a:first-child, .report .workshop-wrap .first-row .head-line .breadcrumbs a:first-child {
        font-size: 36px;
        color: #6b6b6b;
        text-decoration: none;
        text-transform: uppercase; }
        .breadcrumbs a:first-child::before, .catalog .workshop-wrap .first-row .head-line .breadcrumbs a:first-child::before, .report .workshop-wrap .first-row .head-line .breadcrumbs a:first-child::before {
          content: none; }
    .breadcrumbs a + a, .catalog .workshop-wrap .first-row .head-line .breadcrumbs .breadcrumbs-item + .breadcrumbs-item a, .report .workshop-wrap .first-row .head-line .breadcrumbs .breadcrumbs-item + .breadcrumbs-item a {
      font-size: 24px;
      position: relative;
      text-transform: uppercase;
      padding: 0 0 0 9px;
      margin-left: 26px;
      line-height: 2.3;
      text-decoration: none;
      color: #6b6b6b; }
      .breadcrumbs a+a::before, .catalog .workshop-wrap .first-row .head-line .breadcrumbs a+a::before, .report .workshop-wrap .first-row .head-line .breadcrumbs a + a::before {
        display: inline-block;
        color: #6c757d;
        content: "/";
        position: absolute;
        top: -14px;
        left: -11px; }
    .breadcrumbs  a:last-child, .catalog .workshop-wrap .first-row .head-line .breadcrumbs a:last-child, .report .workshop-wrap .first-row .head-line .breadcrumbs .breadcrumbs-item:last-child a {
      color: #a25287; }

.vertical-menu .accordion .accordion-item, .catalog .content-wrapper .vertical-menu .accordion .accordion-item, .rent .content-wrapper .vertical-menu .accordion .accordion-item {
  padding-bottom: 28px; }
  .vertical-menu .accordion .accordion-item li .accordion-link {
    position: relative;
    text-decoration: none;
    display: block;
    font-size: 18px;
    color: #585858;
    padding: 24px 0 0 33px;
    line-height: 0.7;
    text-transform: uppercase; }
    .vertical-menu .accordion .accordion-item li .accordion-link.active::before, .vertical-menu .accordion .accordion-item li .accordion-link:hover::before, .vertical-menu .accordion .accordion-item li .accordion-link:active::before {
      content: "";
      position: absolute;
      bottom: -17px;
      left: 6px;
      width: 191px;
      height: 17px;
      background: url("../img/accordion_menu_hover.png") 0 0 no-repeat; }

.content-main {
  margin-top: 45px;
  padding-bottom: 248px;
  background: #fff;
  padding-top: 35px;
  margin-bottom: 45px; }
  .content-main p {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 18px;
    width: 545px; }
    .content-main p:nth-child(2) {
      text-align: justify; }
      .content-main p:nth-child(2) span {
        display: block;
        text-align: center; }
  .content-main .velo {
	position: relative;
    background: url("../img/velo_24.png") 0 0 no-repeat;
    margin: 62px auto 0;
    width: 613px;
    height: 402px;
    -webkit-background-size: cover;
            background-size: cover; }
.content-main .text1,.content-main .text2,.content-main .text3,.content-main .text4,.content-main .text5,.content-main .text6,.content-main .text7{
	position: absolute;
	font-family: "Pribambas", sans-serif;
	font-size: 28px;
	text-transform: uppercase;
	overflow: visible;
	background: none;
	padding: 0;
	margin-bottom: 0;
}
.content-main .text1{
	top: 0;
	line-height: 1;
	left: 29px;
	font-size: 28px;
}
.content-main .text2{
	top: 11px;
	line-height: 1;
	right: 235px;
	letter-spacing: -0.5px;
	font-size: 26px;
}
.content-main .text3{
	top: -39px;
	line-height: 1;
	right: 25px;
	letter-spacing: -0.5px;
	font-size: 26px;
}
.content-main .text4{
	bottom: 58px;
  line-height: 1;
  right: -176px;
  letter-spacing: 0.5px;
  font-size: 28px;
}
.content-main .text5{
	bottom: -118px;
  line-height: 1;
  left: 287px;
  letter-spacing: 0.5px;
  font-size: 28px;
}
.content-main .text6{
	bottom: -111px;
	line-height: 1.1;
	left: 32px;
	font-size: 24px;
}
.content-main .text7{
	bottom: 62px;
  line-height: 1;
  left: -167px;
}
.content-main .text1,.content-main .text2,.content-main .text3,.content-main .text4,.content-main .text5,.content-main .text6,.content-main .text7{
opacity: 0;
}
.content-main .text1{
	-webkit-transition: all 1000ms ease;
	-o-transition: all 1000ms ease;
	transition: all 1000ms ease;
	-webkit-transform: translate(-100px, -100px)rotate(-9deg);
			-ms-transform: translate(-100px, -100px)rotate(-9deg);
					transform: translate(-100px, -100px)rotate(-9deg);
}
.content-main .text1.appeared{
	opacity: 1;
	-webkit-transform: translate(0, 0)rotate(-9deg);
			-ms-transform: translate(0, 0)rotate(-9deg);
					transform: translate(0, 0)rotate(-9deg);
}
.content-main .text2{
	-webkit-transition: all 1000ms ease;
	-o-transition: all 1000ms ease;
	transition: all 1000ms ease;
	-webkit-transform: translate(0, -100px)rotate(18deg);
			-ms-transform: translate(0, -100px)rotate(18deg);
					transform: translate(0, -100px)rotate(18deg);
}
.content-main .text2.appeared{
	opacity: 1;
	-webkit-transform: translate(0, 0)rotate(18deg);
			-ms-transform: translate(0, 0)rotate(18deg);
					transform: translate(0, 0)rotate(18deg);
}
.content-main .text3{
	-webkit-transition: all 1000ms ease;
	-o-transition: all 1000ms ease;
	transition: all 1000ms ease;
	-webkit-transform: translate(100px, -100px)rotate(-19deg);
			-ms-transform: translate(100px, -100px)rotate(-19deg);
					transform: translate(100px, -100px)rotate(-19deg);
}
.content-main .text3.appeared{
	opacity: 1;
	-webkit-transform: translate(0, 0)rotate(-19deg);
			-ms-transform: translate(0, 0)rotate(-19deg);
					transform: translate(0, 0)rotate(-19deg);
}
.content-main .text4{
	-webkit-transition: all 1000ms ease;
	-o-transition: all 1000ms ease;
	transition: all 1000ms ease;
	-webkit-transform: translate(100px, 0)rotate(9deg);
			-ms-transform: translate(100px, 0)rotate(9deg);
					transform: translate(100px, 0)rotate(9deg);
}
.content-main .text4.appeared{
	opacity: 1;
	-webkit-transform: translate(0, 0)rotate(9deg);
			-ms-transform: translate(0, 0)rotate(9deg);
					transform: translate(0, 0)rotate(9deg);
}
.content-main .text5{
	-webkit-transition: all 1000ms ease;
	-o-transition: all 1000ms ease;
	transition: all 1000ms ease;
	-webkit-transform: translate(100px, 100px)rotate(7deg);
			-ms-transform: translate(100px, 100px)rotate(7deg);
					transform: translate(100px, 100px)rotate(7deg);
}
.content-main .text5.appeared{
	opacity: 1;
	-webkit-transform: translate(0, 0)rotate(7deg);
			-ms-transform: translate(0, 0)rotate(7deg);
					transform: translate(0, 0)rotate(7deg);
}
.content-main .text6{
	-webkit-transition: all 1000ms ease;
	-o-transition: all 1000ms ease;
	transition: all 1000ms ease;
	-webkit-transform: translate(-100px, 100px)rotate(-9deg);
			-ms-transform: translate(-100px, 100px)rotate(-9deg);
					transform: translate(-100px, 100px)rotate(-9deg);
}
.content-main .text6.appeared{
	opacity: 1;
	-webkit-transform: translate(0, 0)rotate(-9deg);
			-ms-transform: translate(0, 0)rotate(-9deg);
					transform: translate(0, 0)rotate(-9deg);
}
.content-main .text7{
	-webkit-transition: all 1000ms ease;
	-o-transition: all 1000ms ease;
	transition: all 1000ms ease;
	-webkit-transform: translate(-100px, 0)rotate(-11deg);
			-ms-transform: translate(-100px, 0)rotate(-11deg);
					transform: translate(-100px, 0)rotate(-11deg);
}
.content-main .text7.appeared{
	opacity: 1;
	-webkit-transform: translate(0, 0)rotate(-11deg);
			-ms-transform: translate(0, 0)rotate(-11deg);
					transform: translate(0, 0)rotate(-11deg);
}
.main-footer.contact {
  width: 100%;
  height: 286px;
  background: url("../img/footer_bg.jpg") 0 0 repeat-x;
  border-top: 4px solid rgba(134, 136, 136, 0.5); }

.main-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 486px;
  background:#018a23 url("../img/footer_bg.jpg") 0 0 repeat-x;
  border-top: 4px solid rgba(134, 136, 136, 0.5);
  z-index: 1000; }
  .main-footer .map {
    width: 400px;
    height: 319px;
    margin: 55px 0 0 70px; }
  .main-footer .footer-contact {
    width: 620px;
    font-size: 18px;
    color: #e6e8e9;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px rgba(28, 73, 39, 0.6), -1px -1px 0 rgba(28, 73, 39, 0.6), -1px 1px 0 rgba(28, 73, 39, 0.6), 1px -1px 0 rgba(28, 73, 39, 0.6);
    margin: 57px 0 0 0;
    line-height: 1.3; }
    .main-footer .footer-contact span {
      border-bottom: 1px solid rgba(230, 232, 233, 0.3); }
  .main-footer .overlay {
    position: absolute;
    top: 27px;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    height: 375px;
    width: 100%; }

.workshop-wrap {
  width: 1122px;
  margin: 28px auto;
  float: none; }
  .workshop-wrap .first-row {
    background: #fff;
    padding-bottom: 15px; }
    .workshop-wrap .first-row .head-line {
      border-bottom: 2px solid #d9d9d9; }
      .workshop-wrap .first-row .head-line h1 {
        font-size: 36px;
        color: #990066;
        text-transform: uppercase;
        margin: 8px; }
    .workshop-wrap .first-row .banner p{
      margin: 0;
    }
    .workshop-wrap .first-row .banner {
      text-align: center;
      border-bottom: 2px solid #d9d9d9;
      border-top: 2px solid #d9d9d9;
      margin: 4px 0;
      letter-spacing: 1.0px;
      line-height: 1.3;
      padding: 6px 0 9px 0; }
  .workshop-wrap .wrapper-schema {
    background: #fff;
    padding-bottom: 20px;
    border-bottom: 2px solid #d9d9d9; }
    .workshop-wrap .wrapper-schema .call-master h3,
    .workshop-wrap .wrapper-schema .workshop-repair h3 {
      font-family: "Pribambas", sans-serif;
      font-size: 18px;
      color: #333333;
      text-decoration: underline; }
    .workshop-wrap .wrapper-schema .call-master h3 {
      margin: 7px 0 0 -6px; }
    .workshop-wrap .wrapper-schema .call-master img {
      margin: -8px 0 0 53px; }
    .workshop-wrap .wrapper-schema .workshop-repair h3 {
      margin: 6px 0 0 9px; }
    .workshop-wrap .wrapper-schema .workshop-repair img {
      margin: 0 0 0 59px; }
  .workshop-wrap .border-block {
    height: 6px;
    border-bottom: 2px solid #d9d9d9; }
  .workshop-wrap .content-wrapper {
    margin-top: 13px;
    padding-bottom: 245px; }
    .workshop-wrap .content-wrapper .vertical-menu {
      padding: 0;
      width: 23%; }
      .workshop-wrap .content-wrapper .vertical-menu ul {
        background: #fff;
        padding-left: 0;
        margin: 0; }
        .workshop-wrap .content-wrapper .vertical-menu ul li {
          list-style-type: none; }
          .workshop-wrap .content-wrapper .vertical-menu ul li:first-child a {
            border-top: 1px solid transparent; }
          .workshop-wrap .content-wrapper .vertical-menu ul li .menu-link {
            position: relative;
            display: block;
            font-size: 24px;
            text-transform: uppercase;
            color: #990066;
            padding: 10px 28px 10px 34px;
            text-decoration: none;
            line-height: 1.1;
            border-top: 1px solid #dcdcdc; }
            .catalog .workshop-wrap .content-wrapper .vertical-menu .number:first-child .menu-link {
              border-top: 1px solid transparent; }
            .catalog .workshop-wrap .content-wrapper .vertical-menu .number .menu-link {
              border-top: 1px solid #dcdcdc; }
            .workshop-wrap .content-wrapper .vertical-menu ul li .menu-link:hover, .workshop-wrap .content-wrapper .vertical-menu ul li .menu-link:active, .workshop-wrap .content-wrapper .vertical-menu ul li .menu-link.active {
              font-size: 24px;
              color: white;
              text-shadow: 1px 1px 0px #077332, -1px -1px 0 #077332, -1px 1px 0 #077332, 1px -1px 0 #077332;
              background: -webkit-gradient(linear, left top, left bottom, from(#3cc605), to(#018a23));
              background: -webkit-linear-gradient(#3cc605 0%, #018a23 100%);
              background: -o-linear-gradient(#3cc605 0%, #018a23 100%);
              background: linear-gradient(#3cc605 0%, #018a23 100%);
              -webkit-transition: 0.9s ease, color 0.5s lianer;
              -o-transition: 0.9s ease, color 0.5s lianer;
              transition: 0.9s ease, color 0.5s lianer;
              border-top: 1px solid #3cc605; }

            .workshop-wrap .content-wrapper .vertical-menu ul li .menu-link::before {
              content: "";
              background: #45af29;
              width: 4px;
              height: 5px;
              position: absolute;
              top: 30%;
              left: 6%;
              padding: 5px 0 0 4px;
              -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.21);
                      box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.21); }
            .workshop-wrap .content-wrapper .vertical-menu ul li .menu-link.active {
              font-size: 24px;
              color: white;
              text-shadow: 1px 1px 0px #077332, -1px -1px 0 #077332, -1px 1px 0 #077332, 1px -1px 0 #077332;
              background: -webkit-gradient(linear, left top, left bottom, from(#3cc605), to(#018a23));
              background: -webkit-linear-gradient(#3cc605 0%, #018a23 100%);
              background: -o-linear-gradient(#3cc605 0%, #018a23 100%);
              background: linear-gradient(#3cc605 0%, #018a23 100%);
              -webkit-transition: 0.9s ease, color 0.5s lianer;
              -o-transition: 0.9s ease, color 0.5s lianer;
              transition: 0.9s ease, color 0.5s lianer; }
    .workshop-wrap .content-wrapper .catalog-block {
      width: 77%;
      padding-right: 0;
      padding-left: 20px; }
      .workshop-wrap .content-wrapper .catalog-block.default {
        width: 100%;
        padding: 0; }
      .workshop-wrap .content-wrapper .catalog-block h2 {
        width: 100%;
        background: -webkit-gradient(linear, left top, left bottom, from(#3cc605), to(#018a23));
        background: -webkit-linear-gradient(#3cc605 0%, #018a23 100%);
        background: -o-linear-gradient(#3cc605 0%, #018a23 100%);
        background: linear-gradient(#3cc605 0%, #018a23 100%);
        font-size: 24px;
        color: #fefefe;
        text-transform: uppercase;
        text-align: center;
        padding: 15px 0;
        margin: 0;
        line-height: 1;
        text-shadow: 1px 1px 0px #077332, -1px -1px 0 #077332, -1px 1px 0 #077332, 1px -1px 0 #077332; }
      .workshop-wrap .content-wrapper .catalog-block .item-catalog {
        padding: 0 0 0 12px;
        margin: 0; }
        .workshop-wrap .content-wrapper .catalog-block .item-catalog:nth-child(2n+2) {
          padding: 0 12px 0 0; }
        .workshop-wrap .content-wrapper .catalog-block .item-catalog .item-catalog-block {
          background: #f3f4f4;
          border: 1px solid #a0a1a1;
          margin-top: 23px;
          text-align: center; }
          .workshop-wrap .content-wrapper .catalog-block .item-catalog .item-catalog-block img {
            margin: 13px 0 0;
            width: 360px;
            height: 265px;
            border: 1px solid #a0a1a1; }
          .workshop-wrap .content-wrapper .catalog-block .item-catalog .item-catalog-block a:hover {
            text-decoration: none }
          .workshop-wrap .content-wrapper .catalog-block .item-catalog .item-catalog-block h3 {
            font-size: 18px;
            color: #5a5a5a;
            line-height: 1.0;
            padding-bottom: 16px; }

.workshop-inner .workshop-wrap .first-row .banner {
  position: relative;
  text-transform: uppercase;
  margin: 6px 0;
  letter-spacing: 1.0px;
  line-height: 1.5;
  min-height: 176px;
  padding: 23px 0; }
  .workshop-inner .workshop-wrap .first-row .banner::before {
    content: "";
    position: absolute;
    top: 60px;
    left: 40px;
    background: url("../img/icon_banner_procent.png") 0 0 no-repeat;
    width: 60px;
    height: 52px; }
  .workshop-inner .workshop-wrap .first-row .banner::after {
    content: "";
    position: absolute;
    top: 58px;
    left: 124px;
    background: url("../img/icon_banner_search.png") 0 0 no-repeat;
    width: 82px;
    height: 57px; }

.workshop-inner .workshop-wrap .first-row .border-block {
  height:3px;
  position: relative; }
  .workshop-inner .workshop-wrap .first-row .border-block::before {
    content: "";
    position: absolute;
    top: -107px;
    right: 133px;
    background: url("../img/icon_banner_track.png") 0 0 no-repeat;
    width: 110px;
    height: 49px; }
  .workshop-inner .workshop-wrap .first-row .border-block::after {
    content: "";
    position: absolute;
    top: -107px;
    right: 42px;
    background: url("../img/icon_banner_velo.png") 0 0 no-repeat;
    width: 67px;
    height: 46px; }

.workshop-inner .content-wrapper .catalog-block .workshop-column-wrapper {
  background: #fff;
  margin: 0;
  padding-bottom: 25px;
  margin-bottom: 65px; }
  .workshop-inner .content-wrapper .catalog-block .workshop-column-wrapper .first-workshop-column .item-catalog-block {
    padding: 0 0 0 16px; }
  .workshop-inner .content-wrapper .catalog-block .workshop-column-wrapper .second-workshop-column .item-catalog-block {
    padding: 0 16px 0 0; }
  .workshop-inner .content-wrapper .catalog-block .workshop-column-wrapper h3 {
    font-size: 18px;
    color: #993366;
    text-transform: uppercase;
    text-align: center;
    line-height: 0.5;
    padding-top: 7px; }
  .workshop-inner .content-wrapper .catalog-block .workshop-column-wrapper .workshop-content {
    border: 1px solid #dcdcdc;
    font-size: 20px;
    color: #747474;
    padding: 0px 24px 24px 24px;
    line-height: 1.2;
    letter-spacing: -0.7px; }
    .workshop-inner .content-wrapper .catalog-block .workshop-column-wrapper .workshop-content h4 {
      text-transform: uppercase;
      line-height: 0.2;
      text-decoration: underline; }

.catalog .workshop-wrap .first-row {
  padding-bottom: 35px; }
  .catalog .workshop-wrap .first-row .head-line h1 {
    font-size: 50px;
    color: #990066;
    margin: -6px 0 1px 8px; }
  .catalog .workshop-wrap .first-row .border-block {
    height: 7px; }
  .catalog .workshop-wrap .first-row .banner {
    text-align: left;
    padding: 2px 0 0 13px;
    margin: 4px 0 0 0;
    line-height: 1.75;
    letter-spacing: 0.67px; }
    .catalog .workshop-wrap .first-row .banner.banner-inner {
      font-size: 30px;
      padding: 2px 0 33px 9px;
      margin: 4px 0 0 0;
      line-height: 2.0;
      letter-spacing: 0.67px; }

.catalog .content-wrapper {
  margin-top: 17px; }
  .catalog .content-wrapper .vertical-menu .number:nth-of-type(1) .menu-link:hover::after, .catalog .content-wrapper .vertical-menu .number:nth-of-type(1) .menu-link:active::after, .catalog .content-wrapper .vertical-menu .number:nth-of-type(1) .menu-link.active::after {
    background: url("../img/icon_mnu_zapchasty_hover.png") 0 0 no-repeat; }
    .catalog .content-wrapper .vertical-menu ul li .menu-link::before{
    top: 43%;
    }
  .catalog .content-wrapper .vertical-menu .number:nth-of-type(1) .menu-link::before {
    top: 40%; }
  .catalog .content-wrapper .vertical-menu div .menu-link::after {
    content: "";
    width: 40px;
    height: 40px;
    background: url("../img/icon_mnu_zapchasty.png") 0 0 no-repeat;
    position: absolute;
    top: 2px;
    right: 9px; }
  .catalog .content-wrapper .vertical-menu .number:nth-of-type(2) .menu-link:hover::after, .catalog .content-wrapper .vertical-menu .number:nth-of-type(2) .menu-link:active::after, .catalog .content-wrapper .vertical-menu .number:nth-of-type(2) .menu-link.active::after {
    background: url("../img/icon_mnu_computer_hover.png") 0 0 no-repeat; }
  .catalog .content-wrapper .vertical-menu .number:nth-of-type(2) .menu-link::after {
    content: "";
    width: 25px;
    height: 38px;
    background: url("../img/icon_mnu_computer.png") 0 0 no-repeat;
    position: absolute;
    top: 4px;
    right: 16px; }
  .catalog .content-wrapper .vertical-menu .number:nth-of-type(3) .menu-link:hover::after, .catalog .content-wrapper .vertical-menu .number:nth-of-type(3) .menu-link:active::after, .catalog .content-wrapper .vertical-menu .number:nth-of-type(3) .menu-link.active::after {
    background: url("../img/icon_mnu_jacket_hover.png") 0 0 no-repeat; }
  .catalog .content-wrapper .vertical-menu .number:nth-of-type(3) .menu-link::after {
    content: "";
    width: 35px;
    height: 37px;
    background: url("../img/icon_mnu_jacket.png") 0 0 no-repeat;
    position: absolute;
    top: 4px;
    right: 11px; }
  .catalog .content-wrapper .vertical-menu .number:nth-of-type(4) .menu-link:hover::after, .catalog .content-wrapper .vertical-menu .number:nth-of-type(4) .menu-link:active::after, .catalog .content-wrapper .vertical-menu .number:nth-of-type(4) .menu-link.active::after {
    background: url("../img/icon_mnu_services_hover.png") 0 0 no-repeat; }
  .catalog .content-wrapper .vertical-menu .number:nth-of-type(4) .menu-link::after {
    content: "";
    width: 52px;
    height: 24px;
    background: url("../img/icon_mnu_services.png") 0 0 no-repeat;
    position: absolute;
    top: 7px;
    right: 4px; }
  .catalog .content-wrapper .vertical-menu .number:nth-of-type(5) .menu-link:hover::after, .catalog .content-wrapper .vertical-menu .number:nth-of-type(5) .menu-link:active::after, .catalog .content-wrapper .vertical-menu .number:nth-of-type(5) .menu-link.active::after {
    background: url("../img/icon_mnu_velo_hover.png") 0 0 no-repeat; }
  .catalog .content-wrapper .vertical-menu .number:nth-of-type(5) .menu-link::after {
    content: "";
    width: 47px;
    height: 35px;
    background: url("../img/icon_mnu_velo.png") 0 0 no-repeat;
    position: absolute;
    top: 15px;
    right: 8px; }
  .catalog .content-wrapper .catalog-block h2 {
    padding: 13px 0; }
  .catalog .content-wrapper .catalog-block .catalog-wrapper .item-catalog-menu, .catalog .report .workshop-wrap .content-wrapper .catalog-block .catalog-wrapper .item-catalog-menu, .report .workshop-wrap .catalog .content-wrapper .catalog-block .catalog-wrapper .item-catalog-menu {
    padding: 0 7px; }
    .catalog .content-wrapper .catalog-block .catalog-wrapper .item-catalog-menu:nth-child(2n+2) {
      padding: 0 7px; }
    .catalog .content-wrapper .catalog-block .catalog-wrapper .item-catalog-menu:nth-child(3n+2) {
      margin: 0 0 0 3px;
      padding-bottom: 10px; }
    .catalog .content-wrapper .catalog-block .catalog-wrapper .item-catalog-menu:nth-child(3n+1) {
      margin: 0 0 0 -7px;
      padding-bottom: 10px; }
    .catalog .content-wrapper .catalog-block .catalog-wrapper .item-catalog-menu:nth-child(3n+3) {
      margin: 0 0 0 3px;
      padding: 0 0 10px 7px; }
  .catalog .content-wrapper .catalog-block .catalog-wrapper .item-catalog-block {
    margin-top: 8px; }
    .catalog .content-wrapper .catalog-block .catalog-wrapper .item-catalog-block img {
      width: 236px;
      height: 181px; }
    .catalog .content-wrapper .catalog-block .catalog-wrapper .item-catalog-block .description {
      margin-top: 33px; }
      .catalog .content-wrapper .catalog-block .catalog-wrapper .item-catalog-block .description p {
        font-size: 18px;
        color: #5a5a5a;
        line-height: 0.2; }
      .catalog .content-wrapper .catalog-block .catalog-wrapper .item-catalog-block .description .price {
        color: #548e45;
        line-height: 2.3; }

.catalog .content-wrapper .catalog-block .catalog-wrapper {
  margin-top: 16px; }
  .catalog .content-wrapper .catalog-block .catalog-wrapper .item-catalog-menu .item-catalog-block .description .title-item {
    font-size: 18px;
    color: #5a5a5a;
    padding: 40px 6px 59px 0px; }
    .catalog .content-wrapper .catalog-block .catalog-wrapper .item-catalog-menu .item-catalog-block .description .title-item.title-item-inner {
      padding: 3px 6px 0;
      line-height: 1.2;
      height: 46px;
      margin: 0 0 24px 0; }
  .catalog .content-wrapper .catalog-block .catalog-wrapper .item-catalog-menu .item-catalog-block .description .catalog-price {
    display: inline-block;
    font-size: 18px;
    color: #548e45;
    border: 2px solid #018a23;
    line-height: 1.2;
    padding: 2px 8px;
    margin-bottom: 19px; }

.report .workshop-wrap .first-row .banner {
  text-align: left;
  padding: 8px 0 8px 13px;
  margin: 4px 0 0 0;
  line-height: 1.75;
  letter-spacing: 0.67px;
  line-height: 1.2;
  letter-spacing: 0.7px; }
  .report .workshop-wrap .first-row .banner.report {
    line-height: 1.8; }

.report .workshop-wrap .content-wrapper .catalog-block {
  width: 100%;
  padding-left: 0; }
  .report .workshop-wrap .content-wrapper .catalog-block .catalog-wrapper {
    margin-top: 0; }
    .report .workshop-wrap .content-wrapper .catalog-block .catalog-wrapper.catalog-wrapper {
      margin-top: 0; }
    .report .workshop-wrap .content-wrapper .catalog-block .catalog-wrapper .item-catalog-menu .item-catalog-block {
      border: none;
      background: #fff;
      margin-top: 0;
      padding-bottom: 20px; }
      .report .workshop-wrap .content-wrapper .catalog-block .catalog-wrapper .item-catalog-menu .item-catalog-block.report-item-block {
        background: #f3f4f4;
        border: 1px solid #a0a1a1;
        margin-top: 23px;
        text-align: center;
        padding-bottom: 42px; }
        .report .workshop-wrap .content-wrapper .catalog-block .catalog-wrapper .item-catalog-menu .item-catalog-block.report-item-block .report-item {
          margin: 13px auto  0;
          width: 327px;
          border: 1px solid #a0a1a1; }
        .report .workshop-wrap .content-wrapper .catalog-block .catalog-wrapper .item-catalog-menu .item-catalog-block.report-item-block p {
          color: #5a5a5a;
          padding: 8px; }
      .report .workshop-wrap .content-wrapper .catalog-block .catalog-wrapper .item-catalog-menu .item-catalog-block img {
        border: none;
        width: 100%;
        height: 181px;
        margin-top: 0; }
        .report .workshop-wrap .content-wrapper .catalog-block .catalog-wrapper .item-catalog-menu .full img {
          border: none;
          width: 100%;
          height: 274px;
          margin-top: 0; }
      .report .workshop-wrap .content-wrapper .catalog-block .catalog-wrapper .item-catalog-menu .item-catalog-block .description {
        font-size: 18px;
        color: #747474;
        line-height: 1.2;
        padding: 4px 6px 0;
        height: 66px; }

.rent .workshop-wrap .first-row .head-line {
  padding-bottom: 7px; }

.rent .workshop-wrap .first-row .banner.rent {
  text-align: left;
  letter-spacing: 0.6px;
  line-height: 1.6;
  padding: 6px 0 9px 13px; }

.rent .workshop-wrap .first-row .border-block {
  height: 3px; }

.rent .content-wrapper .vertical-menu ul li .menu-link {
  padding: 10px 44px 10px 34px; }
  .rent .content-wrapper .vertical-menu ul li .menu-link::before {
    top: 45%; }

.rent .content-wrapper .vertical-menu ul li:nth-child(1) .menu-link:hover::after, .rent .content-wrapper .vertical-menu ul li:nth-child(1) .menu-link:active::after, .rent .content-wrapper .vertical-menu ul li:nth-child(1) .menu-link.active::after {
  background: url("../img/icon_rent_velo_hover.png") 0 0 no-repeat; }

.rent .content-wrapper .vertical-menu ul li:nth-child(1) .menu-link::after {
  content: "";
  width: 48px;
  height: 33px;
  background: url("../img/icon_rent_velo.png") 0 0 no-repeat;
  position: absolute;
  top: 4px;
  right: 11px; }

.rent .content-wrapper .vertical-menu ul li:nth-child(2) .menu-link:hover::after, .rent .content-wrapper .vertical-menu ul li:nth-child(2) .menu-link:active::after, .rent .content-wrapper .vertical-menu ul li:nth-child(2) .menu-link.active::after {
  background: url("../img/icon_mnu_velo_hover.png") 0 0 no-repeat; }

.rent .content-wrapper .vertical-menu ul li:nth-child(2) .menu-link::after {
  content: "";
  width: 47px;
  height: 35px;
  background: url("../img/icon_mnu_velo.png") 0 0 no-repeat;
  position: absolute;
  top: 6px;
  right: 11px; }

.rent .content-wrapper .vertical-menu ul li:nth-child(3) .menu-link:hover::after, .rent .content-wrapper .vertical-menu ul li:nth-child(3) .menu-link:active::after, .rent .content-wrapper .vertical-menu ul li:nth-child(3) .menu-link.active::after {
  background: url("../img/icon_rent_velo_flex_hover.png") 0 0 no-repeat; }

.rent .content-wrapper .vertical-menu ul li:nth-child(3) .menu-link::after {
  content: "";
  width: 51px;
  height: 37px;
  background: url("../img/icon_rent_velo_flex.png") 0 0 no-repeat;
  position: absolute;
  top: 4px;
  right: 11px; }

.rent .content-wrapper .vertical-menu ul li:nth-child(4) .menu-link:hover::after, .rent .content-wrapper .vertical-menu ul li:nth-child(4) .menu-link:active::after, .rent .content-wrapper .vertical-menu ul li:nth-child(4) .menu-link.active::after {
  background: url("../img/icon_rent_velo_accessory_hover.png") 0 0 no-repeat; }

.rent .content-wrapper .vertical-menu ul li:nth-child(4) .menu-link::after {
  content: "";
  width: 59px;
  height: 35px;
  background: url("../img/icon_rent_velo_accessory.png") 0 0 no-repeat;
  position: absolute;
  top: 4px;
  right: 11px; }

.rent .content-wrapper .vertical-menu ul li:nth-child(5) .menu-link:hover::after, .rent .content-wrapper .vertical-menu ul li:nth-child(5) .menu-link:active::after, .rent .content-wrapper .vertical-menu ul li:nth-child(5) .menu-link.active::after {
  background: url("../img/icon_rent_repair_hover.png") 0 0 no-repeat; }

.rent .content-wrapper .vertical-menu ul li:nth-child(5) .menu-link::after {
  content: "";
  width: 49px;
  height: 43px;
  background: url("../img/icon_rent_repair.png") 0 0 no-repeat;
  position: absolute;
  top: 1px;
  right: 11px; }

.rent .content-wrapper .catalog-block {
  margin: 0; }
  .rent .content-wrapper .catalog-block .catalog-wrapper {
    margin-top: 16px; }
    .rent .content-wrapper .catalog-block .catalog-wrapper .catalog-description-row {
      margin: 0; }
      .rent .content-wrapper .catalog-block .catalog-wrapper .catalog-description-row .catalog-description {
        position: relative;
        background: #fff;
        font-size: 23px;
        color: #747474;
        padding: 0 0 0 18px;
        line-height: 1.2; }
        .rent .content-wrapper .catalog-block .catalog-wrapper .catalog-description-row .catalog-description h3 {
          font-size: 23px;
          text-transform: uppercase;
          line-height: 0.5; }
    .rent .content-wrapper .catalog-block .catalog-wrapper .catalog-column-wrapper {
      margin-top: 16px;
      position: relative; }
      .rent .content-wrapper .catalog-block .catalog-wrapper .catalog-column-wrapper .catalog-column {
        padding: 0 24px 0 12px; }
        .rent .content-wrapper .catalog-block .catalog-wrapper .catalog-column-wrapper .catalog-column img {
          width: 100%;
          height: 300px; }
        .rent .content-wrapper .catalog-block .catalog-wrapper .catalog-column-wrapper .catalog-column.second-catalog-column {
          padding: 0 12px 0 0; }
        .rent .content-wrapper .catalog-block .catalog-wrapper .catalog-column-wrapper .catalog-column .item-catalog-block {
          background: #fff; }
          .rent .content-wrapper .catalog-block .catalog-wrapper .catalog-column-wrapper .catalog-column .item-catalog-block .description {
                text-align: center;
			    padding: 12px 10px 9px 10px;
			    overflow: hidden;
			    margin-bottom: 18px;
			    border-top: 2px solid #e5e5e5; }
            .rent .content-wrapper .catalog-block .catalog-wrapper .catalog-column-wrapper .catalog-column .item-catalog-block .description .title-item {
                font-size: 18px;
				color: #747474;
				padding: 4px 10px;
				overflow: hidden;
				height: 62px;				  
				background-color: white; }

.review .workshop-wrap .first-row {
  padding-bottom: 20px; }
  .review .workshop-wrap .first-row .banner-wrapper {
    position: relative; }
    .review .workshop-wrap .first-row .banner-wrapper .social-review {
      position: absolute;
      top: -15px;
      right: 14px; }
      .review .workshop-wrap .first-row .banner-wrapper .social-review ul li {
        display: inline-block;
        padding-left: 10px; }
        .review .workshop-wrap .first-row .banner-wrapper .social-review ul li:nth-child(1) a {
          position: relative;
          display: block;
          width: 46px;
          height: 46px;
          background: url("../img/vk_review_hover.png") 0 0 no-repeat; }
          .review .workshop-wrap .first-row .banner-wrapper .social-review ul li:nth-child(1) a:hover {
            background: url("../img/vk_review.png") 0 0 no-repeat;
            width: 46px;
            height: 46px; }
        .review .workshop-wrap .first-row .banner-wrapper .social-review ul li:nth-child(2) a {
          position: relative;
          display: block;
          width: 46px;
          height: 46px;
          background: url("../img/google_review_hover.png") 0 0 no-repeat; }
          .review .workshop-wrap .first-row .banner-wrapper .social-review ul li:nth-child(2) a:hover {
            background: url("../img/google_review.png") 0 0 no-repeat;
            width: 46px;
            height: 46px; }
        .review .workshop-wrap .first-row .banner-wrapper .social-review ul li:nth-child(3) a {
          position: relative;
          display: block;
          width: 46px;
          height: 46px;
          background: url("../img/yandex_review_hover.png") 0 0 no-repeat; }
          .review .workshop-wrap .first-row .banner-wrapper .social-review ul li:nth-child(3) a:hover {
            background: url("../img/yandex_review.png") 0 0 no-repeat;
            width: 46px;
            height: 46px; }
    .review .workshop-wrap .first-row .banner-wrapper .banner {
      position: relative;
      text-align: left;
      padding: 15px 0 9px 11px;
      letter-spacing: 0.5px; }
  .review .workshop-wrap .first-row .border-block {
    height: 0; }

.review .content-wrapper .item-review {
  padding: 0; }
  .review .content-wrapper .item-review .item-review-block {
    background: #f3f4f4;
    border: 1px solid #a0a1a1;
    padding: 12px 0 26px 34px;
    margin: 6px 0; }
    .review .content-wrapper .item-review .item-review-block img {
      display: inline-block;
      position: relative;
      float: left;
      width: 120px;
      height: 120px;
      margin-top: 10px;
      margin-left: -9px;
      -webkit-border-radius: 50%;
              border-radius: 50%; }
    .review .content-wrapper .item-review .item-review-block .description-review {
      display: inline-block;
      padding: 0;
      margin: 0 0 0 -34px;}
      .review .content-wrapper .item-review .item-review-block .description-review .client-name {
        display: block;
        font-size: 24px;
        color: #333333; }
      .review .content-wrapper .item-review .item-review-block .description-review .client-review {
        display: block;
        font-size: 24px;
        color: #5a5a5a;
        line-height: 1.2;
        letter-spacing: -0.1px; }

.contact .workshop-wrap {
  width: 1200px;
  padding: 0 15px 16px;
  background: #fff; }
  .contact .workshop-wrap .first-row .border-block {
    height: 6px; }
  .contact .workshop-wrap .map-link {
    margin-left: 43px;
    width: 1083px;
    height: 400px;
    border: 1px solid #b8b8b8; }
  .contact .workshop-wrap .block-contact {
    margin: -23px 0 0 0;
    padding: 0 0 9px 44px;
    line-height: 1.2; }
    .contact .workshop-wrap .block-contact .title-block-contact {
      display: inline-block;
      text-transform: uppercase;
      border-bottom: 1px solid #d1d1d1;
      line-height: 1;
      margin-top: 55px; }
      .contact .workshop-wrap .block-contact .title-block-contact.worktime {
        margin-top: 31px; }
      .contact .workshop-wrap .block-contact .title-block-contact.second-block {
        margin-left: 40px; }
    .contact .workshop-wrap .block-contact p {
      margin: 0;
      padding: 0 24px 0 0;
      letter-spacing: 0.5px;
      text-align: justify; }
    .contact .workshop-wrap .block-contact .contact-item-wrapper {
      margin: 16px 0 0 0; }
      .contact .workshop-wrap .block-contact .contact-item-wrapper .contact-item {
        margin: 10px 0 0 -30px; }
        .contact .workshop-wrap .block-contact .contact-item-wrapper .contact-item span {
          letter-spacing: -0.5px; }
        .contact .workshop-wrap .block-contact .contact-item-wrapper .contact-item .phone-image {
          background: url("../img/phone-contact.png") 0 0 no-repeat;
          display: inline-block;
          width: 46px;
          height: 46px;
          position: relative;
          vertical-align: bottom; }
          .contact .workshop-wrap .block-contact .contact-item-wrapper .contact-item a:hover {
            background: url("../img/phone-contact_hover.png") 0 0 no-repeat;
            width: 46px;
            height: 46px; }
        .contact .workshop-wrap .block-contact .contact-item-wrapper .contact-item:nth-child(2) a {
          background: url("../img/whatsapp-contact.png") 0 0 no-repeat;
          display: inline-block;
          width: 47px;
          height: 47px;
          position: relative;
          vertical-align: bottom; }
          .contact .workshop-wrap .block-contact .contact-item-wrapper .contact-item:nth-child(2) a:hover {
            background: url("../img/whatsapp-contact_hover.png") 0 0 no-repeat;
            width: 47px;
            height: 47px; }
        .contact .workshop-wrap .block-contact .contact-item-wrapper .contact-item:nth-child(3) a {
          background: url("../img/telegram-contact.png") 0 0 no-repeat;
          display: inline-block;
          width: 44px;
          height: 44px;
          position: relative;
          vertical-align: bottom; }
          .contact .workshop-wrap .block-contact .contact-item-wrapper .contact-item:nth-child(3) a:hover {
            background: url("../img/telegram-contact_hover.png") 0 0 no-repeat;
            width: 44px;
            height: 44px; }
        .contact .workshop-wrap .block-contact .contact-item-wrapper .contact-item:nth-child(4) a {
          background: url("../img/email-contact.png") 0 0 no-repeat;
          display: inline-block;
          width: 43px;
          height: 43px;
          position: relative;
          vertical-align: bottom; }
          .contact .workshop-wrap .block-contact .contact-item-wrapper .contact-item:nth-child(4) a:hover {
            background: url("../img/email-contact_hover.png") 0 0 no-repeat;
            width: 43px;
            height: 43px; }
        .contact .workshop-wrap .block-contact .contact-item-wrapper .contact-item:nth-child(5) a {
          background: url("../img/vk-contact.png") 0 0 no-repeat;
          display: inline-block;
          width: 44px;
          height: 44px;
          position: relative;
          vertical-align: bottom; }
          .contact .workshop-wrap .block-contact .contact-item-wrapper .contact-item:nth-child(5) a:hover {
            background: url("../img/vk-contact_hover.png") 0 0 no-repeat;
            width: 44px;
            height: 44px; }
        .contact .workshop-wrap .block-contact .contact-item-wrapper .contact-item:nth-child(6) a {
          background: url("../img/instagram-contact.png") 0 0 no-repeat;
          display: inline-block;
          width: 43px;
          height: 43px;
          position: relative;
          vertical-align: bottom; }
          .contact .workshop-wrap .block-contact .contact-item-wrapper .contact-item:nth-child(6) a:hover {
            background: url("../img/instagram-contact_hover.png") 0 0 no-repeat;
            width: 43px;
            height: 43px; }
        .contact .workshop-wrap .block-contact .contact-item-wrapper .contact-item:nth-child(7) a {
          background: url("../img/icon-contact.png") 0 0 no-repeat;
          display: inline-block;
          width: 43px;
          height: 43px;
          position: relative;
          vertical-align: bottom; }
          .contact .workshop-wrap .block-contact .contact-item-wrapper .contact-item:nth-child(7) a:hover {
            background: url("../img/icon-contact_hover.png") 0 0 no-repeat;
            width: 43px;
            height: 43px; }
        .contact .workshop-wrap .block-contact .contact-item-wrapper .contact-item span {
          -webkit-appearance: none;
          display: inline-block;
          vertical-align: top;
          margin: 6px 0 0 18px; }

.contact .main-footer {
  height: 154px; }
  a[href^=tel]{
    color: #6e6e6e;
    background: none;
}
.main-footer .footer-contact a[href^=tel]{
      color: #e6e8e9;}

/* Scroll Up  */

      .modern-upbutton { /* основной стиль кнопки  */
      height: 100%;
      position: fixed;
      right: 0;
      top: 0;
      width: 100px !important;
      box-sizing: border-box;
      transition: background .5s;
      cursor: pointer;
      display: none;
      }
      .modern-upbutton>div { /* видимая область кнопки, узкая полоска  */
      transition: background .5s;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 75px;
      z-index: 4;
      }
      .modern-upbutton:hover>div {
      background: rgba(242, 242, 242, .9);
      }
      .modern-upbutton .subscripted-arrow { /* стрелка с надписью "наверх"  */
      padding-left: 4px;
      color: #018a23;
      position: absolute;
      width: 100%;
      top: 12px;
      left: 0;
      text-align: center;
      font-weight: bold;
      font-size: 17px;
      }
      .modern-upbutton .modern-upbutton-disable { /* для выключения кнопки  */
      display: none;
      color: rgb(189, 189, 189);
      font-size: 10px;
      position: absolute;
      width: 100%;
      bottom: 20px;
      left: 0;
      text-align: center;
      transition: display .5s;
      }
      .modern-upbutton .modern-upbutton-disable span {
      border-bottom: 1px dashed rgb(189, 189, 189);
      }
      .modern-upbutton:hover .modern-upbutton-disable {
      display: block;
      }
      .modern-upbutton .modern-upbutton-disable span:hover {
      color: #018a23;
      border-color: #018a23;
      }
      .modern-upbutton[data-scroll=down] .subscripted-arrow span {
      display: none;
      }
      .modern-upbutton[data-scroll=up] .subscripted-arrow::after { /* стрелка направлена вверх  */
       content: "\f077";
       font-family: FontAwesome;
       font-style: normal;
       font-weight: normal;
       text-decoration: inherit;
       color: #018a23;
       font-size: 25px;
       text-align: center;
       position: absolute;
       top: 14px;
       left: calc(50% - 12px);
      }
      .modern-upbutton[data-scroll=down] .subscripted-arrow::after { /* стрелка направлена вниз  */
        content: "\f078";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        color: #018a23;
        font-size: 25px;
        text-align: center;
        position: absolute;
        top: 8px;
        left: calc(50% - 9px);
      }
      .modern-upbutton-was-disabled { /* юзер скрыл кнопку  */
      display: none !important;
      }
      .modern-upbutton.its-a-mobile-modern-upbutton>div { /* для планшетов  */
      width: 50px;
      background: #f2f2f2;
      z-index: 100;
      }
      .modern-upbutton.its-a-mobile-modern-upbutton>div:active {
      background: rgb(219, 219, 219);
      }
      .modern-upbutton.its-a-mobile-modern-upbutton .subscripted-arrow {
      height: 20px;
      padding: 0;
      }
      .modern-upbutton.its-a-mobile-modern-upbutton .subscripted-arrow span {
      display: none;
      }
      .modern-upbutton.its-a-mobile-modern-upbutton[data-scroll=down] .subscripted-arrow { /* планшет, стрелка вниз  */
      background: url(../img/icon_mnu_velo.png) center center no-repeat;
      height: 20px;
      padding: 0;
      }
      .modern-upbutton.its-a-mobile-modern-upbutton[data-scroll=up] .subscripted-arrow { /* планшет, стрелка вверх  */
      background: url(../img/icon_mnu_velo.png) center center no-repeat;
      }
      .modern-upbutton.its-a-mobile-modern-upbutton .modern-upbutton-disable {
      display: block;
      }
      
.catalog .content-wrapper .catalog-block .catalog-wrapper .item-catalog-menu .popup_content:hover,.catalog .content-wrapper .catalog-block .catalog-wrapper .item-catalog-menu  .popup_content:active,.catalog .content-wrapper .catalog-block .catalog-wrapper .item-catalog-menu a:focus, .menu-link-hover:hover, .menu-link-hover:active, .menu-link-hover:focus{
	outline: none;
	text-decoration: none;
}
.catalog .content-wrapper .catalog-block .catalog-wrapper .item-catalog-menu .popup_content:hover .item-catalog-block, .menu-link-hover:hover .item-catalog-block{
	-webkit-box-shadow:  0 0 20px rgba(0, 0, 0, 0.32);
                box-shadow:  0 0 20px rgba(0, 0, 0, 0.32); } 
}

.hidden{
	display: none;
}
.popup-item{
	position: relative;
	width: 600px;
	text-align: center;
	margin: 0 auto;
}
.popup-item img{
	width: 100%;
	height: 457px;
	border: 1px solid #878787;
}
.popup-item-content{
	background: #fff;
	margin-top: 1px;
	padding-top: 20px;
	border: 1px solid #878787;
	color: #5a585b;
}
.popup-item-title{
	font-size: 18px;
	height: 28px;
}
.popup-item-description{
	padding: 8px 80px 26px;
	font-size: 15px;

}
.popup-item-description p{
	margin: 0;
}
.mfp-arrow-right:after {
	content: "\f105";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: #FFF;
	font-size: 55px;
	text-align: center;
	position: absolute;
	top: 0;
	right: 0;
	border-left: none;
	margin-left: 0;
	margin-top: 0;
}
.mfp-arrow-left:after {
	content: "\f104";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: #FFF;
	font-size: 55px;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	border-left: none;
	margin-top: 0;
  border-right: none;
  margin-left: 0;
}
.mfp-arrow-right {
    right: calc(50% - 430px);
}
.mfp-arrow-right:before {
    border-left: none;
}
.mfp-arrow-left:before {
    margin-left: 0;
    border-right: none;
}
.mfp-arrow-left {
    left: calc(50% - 450px);
}
.mfp-arrow,.mfp-arrow:active {
    margin-top: -101px;
}
.mfp-arrow-left:after{
	left: 100%;
}
.mfp-arrow:active {
   margin-top: -100px; 
}