body {
  position: relative;
  font-family: "Casper", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #333;
  min-height: 100%;
  min-width: 320px;
  margin: 0;
  padding: 0;
  padding-bottom: 180px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0; }

h1 {
  font-family: "CasperBold", Helvetica, Arial, sans-serif;
  font-size: 3.1em; }

h4 {
  font-size: 1.4em; }

p {
  margin-top: 1.5em; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

button {
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
  button:hover {
    color: #ed1c24;
    border: 2px solid #ed1c24;
    background: transparent; }

a {
  display: inline-block;
  text-decoration: none;
  color: #ed1c24;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
  a:hover {
    text-decoration: none; }

.container {
  position: relative;
  width: 100%;
  max-width: 1160px;
  margin: 0 auto; }

.row {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .row.reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }

.header-bg {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../img/header_bg.jpg") 0 0 no-repeat #2e5652;
  background-attachment: fixed;
  -webkit-background-size: cover;
          background-size: cover; }

.header-bg_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); }

.menu-wrap_list {
  text-align: left; }

.menu-wrap_list_item {
  display: inline-block;
  margin: 0 18px;
  border-top: 5px solid transparent;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .menu-wrap_list_item:hover, .menu-wrap_list_item.active {
    border-top: 5px solid #ed1c24; }
  .menu-wrap_list_item a {
    display: block;
    padding: 30px 0;
    color: #fefefe;
    letter-spacing: 0.4px; }

.phone-wrap {
  padding-top: 36px;
  font-family: "CasperBold", Helvetica, Arial, sans-serif;
  color: #fefefe; }

.description-block {
  position: absolute;
  text-align: center;
  top: -webkit-calc(50% - 225px);
  top: calc(50% - 225px);
  left: -webkit-calc(50% - 425px);
  left: calc(50% - 425px); }

.description-block_big-txt {
  color: #fefefe;
  position: relative;
  margin: 65px 0 0 13px;
  font-size: 4.3em;
  font-family: "CasperBold", Helvetica, Arial, sans-serif;
  letter-spacing: 0.6px;
  line-height: 2.5; }
  .description-block_big-txt::after {
    content: "";
    display: block;
    width: 122px;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: -webkit-calc(50% - 61px);
    left: calc(50% - 61px);
    background: #ed1c24; }

.description-block_small-txt {
  color: #fefefe;
  font-size: 1.4em;
  line-height: 1.75;
  margin: 40px 0 0 11px;
  letter-spacing: -0.2px; }

.arrow {
  position: absolute;
  display: block;
  bottom: 30px;
  left: -webkit-calc(50% - 21px);
  left: calc(50% - 21px);
  -webkit-animation: move-down 2s infinite ease-in-out;
          animation: move-down 2s infinite ease-in-out; }

@-webkit-keyframes move-down {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(10px) scale(1.1);
            transform: translateY(10px) scale(1.1); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes move-down {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(10px) scale(1.1);
            transform: translateY(10px) scale(1.1); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

.arrow-down {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 42px;
  height: 42px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #fefefe; }
  .arrow-down::before {
    content: "";
    position: absolute;
    bottom: -webkit-calc(50% - 8px);
    bottom: calc(50% - 8px);
    left: -webkit-calc(50% - 5px);
    left: calc(50% - 5px);
    width: 8px;
    height: 8px;
    border-left: 2px solid #ed1c24;
    border-bottom: 2px solid #ed1c24;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    z-index: 1; }
  .arrow-down::after {
    content: "";
    position: absolute;
    bottom: -webkit-calc(50% - 9px);
    bottom: calc(50% - 9px);
    left: -webkit-calc(50% - 1px);
    left: calc(50% - 1px);
    width: 8px;
    height: 17px;
    border-left: 2px solid #ed1c24; }

.btn-red {
  font-family: "Casper", Helvetica, Arial, sans-serif;
  color: #fefefe;
  font-size: 1em;
  background: #ed1c24;
  border: 2px solid transparent;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 13px 46px;
  outline: none;
  margin: 82px 0 0 0; }
  .btn-red.desc {
    font-size: 1.1em; }
    .btn-red.desc:hover {
      color: #fefefe;
      border: 2px solid #fefefe;
      background: transparent; }
  .btn-red.second {
    padding: 14px 45px;
    margin: 24px 0; }
  .btn-red.form {
    margin: 0 0 0 25px;
    vertical-align: top; }
  .btn-red.block-dev {
    margin: 52px 55px 0 0;
    padding: 14px 45px; }

.bg-light {
  background: #f2f2f2; }

.red-line::after {
  content: "";
  display: block;
  width: 209px;
  height: 10px;
  position: absolute;
  top: 17%;
  left: -webkit-calc(50% - 159px);
  left: calc(50% - 159px);
  background: #ed1c24; }

.s-title {
  position: relative;
  color: #333;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3.2px;
  font-family: "CasperBold", Helvetica, Arial, sans-serif;
  font-size: 1em;
  padding: 35px 0;
  margin: 0;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  z-index: 1; }
  .s-title.second {
    z-index: 2; }

.s-first,
.s-second {
  position: relative;
  -webkit-box-flex: 50%;
  -webkit-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  height: 600px; }

.s-first {
  background: url("../img/photo1.jpg") 0 0 no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }
  .s-first.second-row {
    background: url("../img/photo2.jpg") 0 0 no-repeat;
    height: 630px; }
  .s-first.block-dev {
    background: #e9e9e9;
    height: 100%;
    margin-top: -4px; }
  .s-first.map {
    background: url("../img/map.jpg") 0 0 no-repeat;
    height: 460px; }

.s-block_photo_bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 34%;
  overflow: hidden; }

.s-block_photo_bottom_figure-left {
  position: absolute;
  top: 0;
  left: -10px;
  width: 100%;
  height: 100%;
  background: #a41418;
  -webkit-transform: rotate(9deg) translate(0px, 210px);
      -ms-transform: rotate(9deg) translate(0px, 210px);
          transform: rotate(9deg) translate(0px, 210px); }

.s-block_photo_bottom_figure-right {
  position: absolute;
  top: 0;
  right: -191px;
  width: 100%;
  height: 100%;
  background: rgba(237, 20, 24, 0.4);
  -webkit-transform: rotate(-13deg) translate(0px, 180px);
      -ms-transform: rotate(-13deg) translate(0px, 180px);
          transform: rotate(-13deg) translate(0px, 180px); }

.s-block_photo_bottom_figure-top {
  position: absolute;
  top: 0;
  right: 0px;
  width: 112%;
  height: 100%;
  background: rgba(215, 40, 40, 0.9);
  -webkit-transform: rotate(-4deg) translate(0px, 141px);
      -ms-transform: rotate(-4deg) translate(0px, 141px);
          transform: rotate(-4deg) translate(0px, 141px); }

.s-block_photo_bottom_figure-top-overlay {
  position: absolute;
  top: 0;
  right: 0px;
  width: 112%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  -webkit-transform: rotate(-4deg) translate(0px, 141px);
      -ms-transform: rotate(-4deg) translate(0px, 141px);
          transform: rotate(-4deg) translate(0px, 141px); }

.s-block_photo_bottom_figure-top-overlay-top {
  position: absolute;
  top: 0;
  right: 0px;
  width: 112%;
  height: 100%;
  background: rgba(215, 40, 40, 0.7);
  -webkit-transform: rotate(-4deg) translate(0px, 141px);
      -ms-transform: rotate(-4deg) translate(0px, 141px);
          transform: rotate(-4deg) translate(0px, 141px); }

.s-second.aling-right {
  text-align: right; }

.s-second.block-dev {
  height: 100%; }

.s-second.contact {
  height: 100%; }

.s-block_content {
  width: 580px;
  float: left;
  text-align: left;
  padding: 49px 0 49px 0; }
  .s-block_content.aling-right {
    width: 580px;
    float: right;
    text-align: left;
    padding: 49px 0 49px 0; }
  .s-block_content.block-dev {
    width: 540px;
    float: right;
    text-align: right;
    padding: 89px 61px 49px 0px; }
  .s-block_content.contact {
    width: 380px;
    padding: 65px 0 45px 60px; }

.s-block_content_title {
  font-size: 1.8em;
  line-height: 1.7;
  letter-spacing: 0.6px;
  font-weight: normal;
  padding: 0;
  margin: 1em 0; }
  .s-block_content_title.first {
    padding: 0 0 0 80px; }
  .s-block_content_title.form {
    margin: 0; }
  .s-block_content_title.odd {
    font-size: 1.5em;
    line-height: 1.5; }
  .s-block_content_title.block-dev {
    margin: 0;
    line-height: 1.6; }

.s-block_content_text {
  line-height: 2.3;
  padding: 15px 0 0 80px; }
  .s-block_content_text.contact {
    line-height: 1.9;
    margin: 0;
    padding: 5px 0 30px 0; }
  .s-block_content_text.block-dev {
    position: relative;
    padding: 0 50px 0 0;
    margin: 10px 0 0 0;
    line-height: 1.9; }
    .s-block_content_text.block-dev::after {
      content: "";
      position: absolute;
      top: -webkit-calc(50% - 35px);
      top: calc(50% - 35px);
      right: 0;
      width: 10px;
      height: 71px;
      background: #ed1c24; }

.list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.s-block_content_link {
  line-height: 3.9;
  padding-left: 80px; }

.s-block_content_list_left,
.s-block_content_list_right {
  margin: 0 16px 0 25px;
  list-style: none;
  counter-reset: count_left; }

.s-block_content_list_right {
  margin: 0 0 0 12px;
  counter-reset: count_right 4; }

.s-block_content_list_left_item,
.s-block_content_list_right_item {
  line-height: 1.8;
  text-indent: -64px;
  padding: 17px 9px 14px 0; }

.s-block_content_list_left_item::before {
  content: counter(count_left) ". ";
  counter-increment: count_left;
  color: #ed1c24;
  font-size: 1.2em;
  font-family: "CasperBold", Helvetica, Arial, sans-serif;
  padding: 8px 6px 8px 14px;
  background: #f2f2f2;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-right: 23px; }

.s-block_content_list_right_item::before {
  content: counter(count_right) ". ";
  counter-increment: count_right;
  color: #ed1c24;
  font-size: 1.2em;
  font-family: "CasperBold", Helvetica, Arial, sans-serif;
  padding: 8px 6px 8px 14px;
  background: #f2f2f2;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-right: 23px; }

.video-wrap,
.icon-wrap {
  -webkit-box-flex: 50%;
  -webkit-flex: 50%;
      -ms-flex: 50%;
          flex: 50%; }

.video-wrap {
  padding-right: 0; }

.video {
  height: 410px; }

.video-desc {
  background: #fff;
  padding: 8px 31px 20px; }

.video-desc_text {
  font-size: 0.88em;
  line-height: 2;
  margin-top: -14px; }

.icon-wrap {
  padding: 60px 0 0 0; }

.icon-wrap_item {
  padding-left: 0;
  display: block;
  width: 30%;
  float: left;
  margin: 0 0 0 19px;
  height: 225px; }
  .icon-wrap_item:nth-child(1) .icon-wrap_item_block-icon::before {
    content: "";
    position: absolute;
    top: -webkit-calc(50% - 20px);
    top: calc(50% - 20px);
    left: -webkit-calc(50% - 25px);
    left: calc(50% - 25px);
    width: 50px;
    height: 40px;
    background: url("../img/icon_house.png") 0 0 no-repeat; }
  .icon-wrap_item:nth-child(2) .icon-wrap_item_block-icon::before {
    content: "";
    position: absolute;
    top: -webkit-calc(50% - 21px);
    top: calc(50% - 21px);
    left: -webkit-calc(50% - 20px);
    left: calc(50% - 20px);
    width: 40px;
    height: 43px;
    background: url("../img/icon_celsius.png") 0 0 no-repeat; }
  .icon-wrap_item:nth-child(3) .icon-wrap_item_block-icon::before {
    content: "";
    position: absolute;
    top: -webkit-calc(50% - 24px);
    top: calc(50% - 24px);
    left: -webkit-calc(50% - 20px);
    left: calc(50% - 20px);
    width: 41px;
    height: 49px;
    background: url("../img/icon_lightbulb.png") 0 0 no-repeat; }
  .icon-wrap_item:nth-child(4) {
    padding-top: 30px; }
    .icon-wrap_item:nth-child(4) .icon-wrap_item_block-icon::before {
      content: "";
      position: absolute;
      top: -webkit-calc(50% - 17px);
      top: calc(50% - 17px);
      left: -webkit-calc(50% - 17px);
      left: calc(50% - 17px);
      width: 34px;
      height: 34px;
      background: url("../img/icon_brickwall.png") 0 0 no-repeat; }
  .icon-wrap_item:nth-child(5) {
    padding-top: 30px; }
    .icon-wrap_item:nth-child(5) .icon-wrap_item_block-icon::before {
      content: "";
      position: absolute;
      top: -webkit-calc(50% - 20px);
      top: calc(50% - 20px);
      left: -webkit-calc(50% - 15px);
      left: calc(50% - 15px);
      width: 30px;
      height: 39px;
      background: url("../img/icon_fire.png") 0 0 no-repeat; }
  .icon-wrap_item:nth-child(6) {
    padding-top: 30px; }
    .icon-wrap_item:nth-child(6) .icon-wrap_item_block-icon::before {
      content: "";
      position: absolute;
      top: -webkit-calc(50% - 17px);
      top: calc(50% - 17px);
      left: -webkit-calc(50% - 17px);
      left: calc(50% - 17px);
      width: 35px;
      height: 35px;
      background: url("../img/icon_fan.png") 0 0 no-repeat; }

.icon-wrap_item_block-icon {
  position: relative;
  width: 100px;
  height: 100px;
  background: #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin: 0 auto; }

.icon-wrap_item_desc {
  text-align: center;
  font-size: 0.87em; }
  .icon-wrap_item_desc p {
    margin-top: 0.9em;
    line-height: 1.5; }

.bg-dark {
  background: #e9e9e9; }

.form-wrap {
  padding: 50px 0 47px; }

.form-part-contact {
  padding: 36px 0; }

.form-part-options {
  padding: 17px 0; }

input[type="text"],
input[type="tel"],
input[type="email"] {
  background: #fff;
  border: none;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  width: 203px;
  padding: 15px 23px;
  margin: 0 34px 0 28px;
  color: #333;
  font-family: "Casper", Helvetica, Arial, sans-serif;
  font-size: 1em; }
  input[type="text"]:focus,
  input[type="tel"]:focus,
  input[type="email"]:focus {
    outline: none; }

input[type="tel"],
input[type="email"] {
  width: 166px; }
  input[type="tel"].phone-input,
  input[type="email"].phone-input {
    width: 203px; }

input[type="email"] {
  margin-right: 0; }

input::-webkit-input-placeholder {
  font-family: "Casper", Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: #ccc; }

input::-moz-placeholder {
  font-family: "Casper", Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: #ccc; }

input:-moz-placeholder {
  font-family: "Casper", Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: #ccc; }

input:-ms-input-placeholder {
  font-family: "Casper", Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: #ccc; }

input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

input::-moz-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

input:-moz-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

input:-ms-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

input:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

input:focus:-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

input:focus:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

.radio {
  display: none; }
  .radio:checked + .radio-custom::before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: #ed1c24; }

.radio-custom {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #fff;
  margin: 0 0 0 35px; }

.label {
  display: inline-block;
  margin: 0px 7px 0 22px; }

.form-info {
  display: inline-block;
  font-family: "CasperItalic", Helvetica, Arial, sans-serif;
  vertical-align: middle;
  margin: -6px 0 0 15px;
  font-size: 0.8em;
  color: #666;
  line-height: 1.6; }

.form-part-options_title,
.label,
.radio-custom {
  vertical-align: text-bottom; }

.s-block-slider-left {
  float: left; }

.s-block-slider-left,
.s-block-slider-right {
  position: relative;
  display: inline-block;
  width: 50%; }

.s-block-slider_item {
  position: relative;
  height: 100%; }

.overlay-desc {
  position: absolute;
  text-align: right;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 148px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1; }

.overlay-desc_text {
  width: 50%;
  float: right;
  color: #fff;
  word-wrap: break-word;
  padding: 20px 60px 20px 20px; }
  .overlay-desc_text p {
    padding-top: 5px;
    margin: 0;
    line-height: 2; }

.overlay-desc_title {
  font-family: "CasperBold", Helvetica, Arial, sans-serif;
  font-size: 1.4em;
  margin: 0;
  margin-top: 10px; }

.owl-dots {
  width: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 0 33px 60px;
  z-index: 2; }

.owl-carousel button:focus {
  outline: none; }

.owl-carousel button.owl-dot {
  width: 14px;
  height: 14px;
  border: 2px solid #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-right: 13px; }
  .owl-carousel button.owl-dot.active {
    background: #fff; }

.owl-carousel .owl-drag .owl-item {
  margin-right: 0; }

.form-wrapper {
  float: left;
  text-align: right;
  padding: 104px 0 80px 56px; }

.form-phone-wrap {
  margin: 30px 0 0 0; }

.contact-title {
  font-family: "Casper", Helvetica, Arial, sans-serif; }

.social-wrap {
  margin-top: 20px; }

.social-item {
  display: inline-block;
  margin-right: 16px; }

.social-item_link {
  position: relative;
  display: block;
  vertical-align: middle;
  text-align: center;
  width: 29px;
  height: 29px;
  color: #fff;
  background: #d5d5d5;
  font-size: 1.1em;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out; }
  .social-item_link.instagram::before {
    content: "\f16d";
    position: absolute;
    top: -webkit-calc(50% - 9px);
    top: calc(50% - 9px);
    left: -webkit-calc(50% - 7px);
    left: calc(50% - 7px);
    font-family: "FontAwesome"; }
  .social-item_link.vk::before {
    content: "\f189";
    position: absolute;
    top: -webkit-calc(50% - 9px);
    top: calc(50% - 9px);
    left: -webkit-calc(50% - 10px);
    left: calc(50% - 10px);
    font-family: "FontAwesome"; }
  .social-item_link.fb::before {
    content: "\f09a";
    position: absolute;
    display: block;
    top: -webkit-calc(50% - 8px);
    top: calc(50% - 8px);
    left: -webkit-calc(50% - 5px);
    left: calc(50% - 5px);
    font-family: "FontAwesome"; }
  .social-item_link:hover {
    color: #fff;
    background: #336ac5; }

.main-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 180px;
  background: #efefef; }

.col-first,
.col-second {
  padding: 18px 0; }

.col-first {
  text-align: left; }

.col-second {
  text-align: right; }

.menu-footer_list_item {
  position: relative;
  display: inline-block; }
  .menu-footer_list_item a {
    position: relative;
    display: block;
    padding: 40px 40px 40px 0;
    color: #000;
    font-size: 1em; }
    .menu-footer_list_item a:hover, .menu-footer_list_item a.active {
      color: #ed1c24; }

.address span {
  display: inline-block;
  margin-right: 40px; }

.copyright {
  display: inline-block;
  font-size: 0.9em;
  padding: 40px 40px 30px; }

.copyright-dev {
  display: block;
  margin-left: 40px;
  text-align: left; }
  .copyright-dev span {
    display: inline-block;
    color: #b4b2b3;
    font-size: 0.65em;
    margin-left: 10px;
    vertical-align: top; }

.header-inner {
  background: #fff;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2); }

.logo-inner {
  display: block;
  padding: 9px 38px 4px; }

.menu-wrap_list.inner {
  margin-left: 28px; }

.menu-wrap_list_item.inner a {
  color: #333; }

.phone-wrap.inner {
  color: #333; }

.navigation {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 57px 0 34px 0; }

.breadcrumbs {
  margin-bottom: 33px; }

.breadcrumbs_item {
  position: relative;
  display: inline-block; }
  .breadcrumbs_item:first-child a {
    padding: 0 15px 0 0; }
    .breadcrumbs_item:first-child a::before {
      content: none; }
    .breadcrumbs_item:first-child a::after {
      content: none; }
  .breadcrumbs_item a {
    display: block;
    padding: 0 15px 0 27px;
    color: #333;
    letter-spacing: 0.4px; }
    .breadcrumbs_item a::before {
      content: "";
      position: absolute;
      top: -webkit-calc(50% - 3px);
      top: calc(50% - 3px);
      left: 4px;
      width: 5px;
      height: 5px;
      border-left: 2px solid #333;
      border-bottom: 2px solid #333;
      -webkit-transform: rotate(-135deg);
          -ms-transform: rotate(-135deg);
              transform: rotate(-135deg);
      z-index: 1; }
    .breadcrumbs_item a::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 11px;
      height: 0;
      border-top: 1px solid #333; }
    .breadcrumbs_item a:hover, .breadcrumbs_item a.active {
      color: #ed1c24; }
